<div class="row" style="margin: -25px -20px;">
  <div class="rec_dedicated_top col-md-12">
    <div class="row">
      {% if record['doi'] %}
        <div class="rec_doi col-md-12">
          <div class="n"><div class="t col-md-2">DOI</div>{{ record['doi'] }}</div>
        </div>
      {% endif %}
      <div class="rec_export col-md-12">
        {{ format_record(recid, of='HDACT', ln=g.ln)|safe }}
      </div>
      <div class="col-md-12 rec_parentcol">
        <div class="n"><div class="t col-md-4">Parent Collection</div><a href="{{ url_for('collection/'+collection.name) }}">{{ collection.name }}</a></div>
      </div>
    </div>
  </div>
  <div id="rec_dedicated_box" class="rec_dedicated_details col-md-12 panel-group">
    {% if record.get('methodology_note', '') %}
      <div class="rec_dedicated_details_in rdd-sel panel">
        <div class="title" data-toggle="collapse" data-parent="#rec_dedicated_box" data-target="#selection">How were these data selected?</div>
        <div id="selection" class="info  ccollapse">
          <div class="body">{{ record.get('methodology_note', {}).get('note', '') }}</div>
          {% if record.get('methodology_note.recid', '') %}
            <div class="links">
              <ul>
                <li><a href="{{ url_for('record.metadata', recid=record.get('methodology_note.recid', '')) }}">Record {{ record.get('methodology_note.recid', '') }}</a></li>
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="rec_dedicated_details_in rdd-val panel">
      <div class="title" data-toggle="collapse" data-parent="#rec_dedicated_box" data-target="#validation">Validation</div>
      <div id="validation" class="info ccollapse">
        <div class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="links"">
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rec_dedicated_details_in rdd-reuse panel">
      <div class="title" data-toggle="collapse" data-parent="#rec_dedicated_box" data-target="#reusability">How to reuse?</div>
      <div id="reusability" class="info ccollapse">
        <div class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="links">
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link2</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% if record.get('documentation_note', '') %}
      <div class="rec_dedicated_details_in rdd-limits panel">
        <div class="title" data-toggle="collapse" data-parent="#rec_dedicated_box" data-target="#limitations">Issues & Limitations </div>
        <div id="limitations" class="info  ccollapse">
          <div class="body">{{ record.get('documentation_note', {}).get('note', '') }}</div>
          <div class="links">
            {% if record.get('documentation_note.recid', '') %}
              <ul>
                <li><a href="{{ url_for('record.metadata', recid=record.get('documentation_note.recid', '')) }}">Record {{ record.get('documentation_note.recid', '') }}</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="rec_dedicated_details_in rdd-disclaimer panel">
      <div class="title">Disclaimer</div>
      <div id="disclaimer" class="info">
        <div class="row">
          <div class="body col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod mollitia expedita deleniti, voluptas atque ducimus nam perferendis aspernatur laudantium vero distinctio rem, repudiandae et, blanditiis, nihil ipsam recusandae! Quaerat, illum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam officiis, distinctio soluta, nostrum ducimus, quaerat ut accusamus consequuntur, accusantium ex amet ipsam tempore illum placeat commodi reprehenderit nulla iure.</div>
          <div class="col-md-12">
            <div class="ccommons">
              <img src="{{ url_for('static', filename='img/cc.svg') }}" alt="">
              <img src="{{ url_for('static', filename='img/zero.svg') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
