{% extends 'page.html' %}

{% bundles 'od_records.js' %}

{#
{% set title = title %}
#}
{% block title %}
{% endblock title %}


{% block body %}
  {% import 'helpers/general.html' as gen_utils %}

  {% include 'search/form/index.html' %}

  <section class="infobar">
    <div class="container">
      {{ gen_utils.get_breadcrumbs(breadcrumbs, exp, exp_names) }}
    </div>
  </section>

  {% block record_restriction_flag %}
    {% if g.bibrec.is_restricted %}
      <div class="alert alert-danger">
        <div class="container"><b>{{ _('Restricted') }}</b>
          {%- if g.bibrec.is_processed %}
          {{ _('Processed Record') }}
          {%- endif -%}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  <section id="record_primary" class="content record">
    <div class="container">
      <div class="record-content clearfix">
        <div class="col-md-12 col-sm-12 main clearfix">
          {% include [ 'records/' + collection.name + '_metadata.html', 'records/metadata_base.html' ] %}
        </div>
        <div class="col-md-12 col-sm-12 sidebar clearfix">
          {% include [ 'records/' + collection.name + '_dedicated.html', 'records/dedicated_base.html' ] %}
        </div>
      </div>
    </div>
  </section>

  {% block javascript %}
    <script type="text/javascript">
    $(function(){
        $("#rec_authors_rdmore").readmore({
         maxHeight: 20,
         moreLink: '<div class="pull-left"><a href="" class="fa fa-caret-square-o-down"></a></div>',
         lessLink: '<div class="pull-left"><a href="" class="fa fa-caret-square-o-up"></a></div>',
       })}
    )
    </script>     
  {% endblock %}
  
{% endblock %}
