<div class="row" style="margin: -25px -20px;">
  <div id="rec_dedicated_box" class="rec_dedicated_details col-md-12 panel-group">
    {% if record.get('methodology_note', '') %}
      <div class="rec_dedicated_details_in rdd-sel panel">
        <div class="panel-title title collapsed" data-toggle="collapse" data-parent="#rec_dedicated_box" data-target="#selection">Data Selection<span class="pull-right fa fa-angle-up"></span></div>
        <div id="selection" class="info collapse">
          <div class="body">{{ record.get('methodology_note', {}).get('note', '')|safe }}</div>
          <div class="links">
            {% if record.get('methodology_note.recid', '') %}
              <ul>
                <li><a href="{{ url_for('record.metadata', recid=record.get('methodology_note.recid', '')) }}">Record {{ record.get('methodology_note.recid', '') }}</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if record.get('action_note', '') %}
      <div class="rec_dedicated_details_in rdd-val panel">
        <div class="panel-title title collapsed" data-toggle="collapse" data-parent="#rec_dedicated_box" data-target="#validation">Validation<span class="pull-right fa fa-angle-up"></span></div>
        <div id="validation" class="info collapse">
          <div class="body">{{ record.get('action_note', {}).get('action', '')|safe }}</div>
          <div class="links"">
            {% if record.get('action_note.recid', '') %}
              <ul>
                <li><a href="{{ url_for('record.metadata', recid=record.get('action_note.recid', '')) }}">Record {{ record.get('action_note.recid', '') }}</a></li>
              </ul>
            {% endif %}
            {% if record.get('action_note.url', '') %}
              <ul>
                <li><a href="{{record.get('action_note.url', '')}}">{{record.get('action_note.description', '')}}</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if record.get('material_publication_note', '') %}
      <div class="rec_dedicated_details_in rdd-reuse panel">
        <div class="panel-title title collapsed" data-toggle="collapse" data-parent="#rec_dedicated_box" data-target="#reusability">How can you use these data?<span class="pull-right fa fa-angle-up"></span></div>
        <div id="reusability" class="info collapse">
          <div class="body">{{ record.get('material_publication_note', {}).get('note', '') }}</div>
          <div class="links">
            {% if record.get('material_publication_note.url', {}) %}
              <ul>
                <li><a href="{{ record.get('material_publication_note.url', '') }}">{{ record.get('material_publication_note.description', '') }}</a></li>
              </ul>
            {% endif %}
            {% if record.get('material_publication_note.recid', {}) %}
              <ul>
                <li><a href="{{ url_for('record.metadata', recid=record.get('material_publication_note.recid', '')) }}">Record {{ record.get('material_publication_note.recid', '') }}</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if record.get('constituent_unit_entry', '') %}
      <div class="rec_dedicated_details_in rdd-reuse panel">
        <div class="panel-title title collapsed" data-toggle="collapse" data-parent="#rec_dedicated_box" data-target="#reusability">Usage<span class="pull-right fa fa-angle-up"></span></div>
        <div id="reusability" class="info collapse">
          <div class="body">{{ record.get('constituent_unit_entry', {}).get('heading', '') }}</div>
          <div class="links">
            {% if record.get('constituent_unit_entry.recid', '') %}
              <ul>
                <li><a href="{{ url_for('record.metadata', recid=record.get('constituent_unit_entry.recid', '')) }}">Record {{ record.get('constituent_unit_entry.recid', '') }}</a></li>
              </ul>
            {% endif %}
            {% if record.get('constituent_unit_entry.url', '') %}
              <ul>
                <li><a href="{{ record.get('constituent_unit_entry.url', '') }}">{{ record.get('constituent_unit_entry.description', '') }}</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if record.get('documentation_note', '') %}
      <div class="rec_dedicated_details_in rdd-limits panel">
        <div class="panel-title title collapsed" data-toggle="collapse" data-parent="#rec_dedicated_box" data-target="#limitations">Issues & Limitations<span class="pull-right fa fa-angle-up"></span></div>
        <div id="limitations" class="info collapse">
          <div class="body">{{ record.get('documentation_note', {}).get('note', '') }}</div>
          <div class="links">
            {% if record.get('documentation_note.recid', '') %}
              <ul>
                <li><a href="{{ url_for('record.metadata', recid=record.get('documentation_note.recid', '')) }}">Record {{ record.get('documentation_note.recid', '') }}</a></li>
              </ul>
            {% endif %}
            {% if record.get('documentation_note.url', '') %}
              <ul>
                <li><a href="{{ record.get('documentation_note.url', '') }}">{{ record.get('documentation_note.description', '') }}</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="rec_dedicated_details_in rdd-disclaimer panel">
      <div class="title">Disclaimer</div>
      <div id="disclaimer" class="info">
        <div class="row">
          <div class="body col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quo quia porro facere similique magni modi commodi, hic dolorum alias voluptatum nulla id praesentium mollitia! Omnis nihil beatae nulla, odit!Lorem ipsum dolor sit amet.</div>
        </div>
      </div>
    </div>
  </div>
