{% macro record_files_display(files, with_preview) %}
	{% if record.get('files', []) %}
	<div class="rec_metadata rec_files">
	  <div class="row">
	    <div class="col-md-12">
	      <div class="rec_title title">Files <a href="{{ url_for('record.files', recid=recid) }}">(see all files)</a></div>
	    </div>
	    <div class="col-md-12">
	      <div class="rec_file_box">
	        <ul class="row">
	        	{% for file in record['files'] %}
	          <li class="col-md-12">
	            <div class="content_box">
	              <div class="row">
	                <div class="col-xs-6 col-sm-8">
	                  <div class="leftside">
	                    <ul>
	                      <li class="col-xs-12 col-sm-8 no-padding"><a href="{{ file.get('url','') }}">{{ file.get('full_name','') }}</a></li>
	                      <li class="col-xs-12 col-sm-4 no-padding"><b>Size:</b> {{ file.get('size','') | filesizeformat }}</li>
	                    </ul>
	                    {{ ('<ul><li class="col-xs-12 no-padding"><b>Description:</b>'+(file.get('comment')|truncate(100))+'</li></ul>')|safe if (file.get('comment', '') != '') }}
	                  </div>
	                </div>
	                <div class="col-xs-6 col-sm-4">
	                    <div class="right-side">
	                    	<button class="col-xs-12  {{ 'col-sm-6' if with_preview else 'col-sm-12'}} btn" onClick="window.location.href='{{file["url"]}}'">Download</button>
	                    	{% if with_preview %}
	                    		<button class="col-xs-12 col-sm-6 btn" onClick="$('#evd').attr('src', '{{ url_for('previewer.preview', recid=recid, filename=file.get('full_name')) }}')">Preview</button>
	                    	{%endif%}
	                    </div>
	                </div>
	              </div>
	            </div>
	          </li>
	        	{% endfor %}
	        </ul>
	      </div>
	    </div>
	  </div>
	</div>
	{% endif %}
{% endmacro %}

{% macro list_record_attributes(record, exclude=[]) %}
<ul class="row">
	{% for el in record|sort %}
	<li class="col-md-12">
		<ul class="col-md-12" style="padding-bottom: 5px;margin-bottom: 5px;border-bottom: 1px solid #d4d4d4;">
			<kbd>{{el}}</kbd>: 
			{% if el in exclude %}
			-<br>
			{% elif record[el] is sequence and record[el] is not string %}
			<br>
			{% for i in record[el] %}
			<li class="col-md-12">
				<ul class="row">
					{%  if i is not string %}
					<ul>
						{% for f in i %}
						<li class="col-md-12">
							<b>{{f}}</b>:{{i[f]}}<br>
						</li>
						{% endfor %}
					</ul>
					{% else %}
					<b>{{i}}</b>: {{record[el][i]}}<br>
					{%endif%}
				</ul>
			</li>
			{% endfor %}
			{% else %}
			{{record[el]}}<br>
			{% endif %}
		</ul>
	</li>
	{% endfor %}
</ul>
{% endmacro %}

{% macro create_export_modal(name, record, exclude=[]) %}
<style>.modal .modal-body .tab-pane{padding-top: 15px;}.modal{color:#666;}</style>
<div class="rec_thumb rec_export" style="float:left;">
	<div class="t">Export</div>
	<div class="a"><a href="#" data-toggle="modal" data-target="#{{name}}">here</a></div>
</div>
<div class="modal fade" id="{{name}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">{{record.get('title',{}).get('title','')}}</h4>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
					<li><a href="#bidtex" role="tab" data-toggle="tab">BibTex</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="overview">
						{{ list_record_attributes(record, exclude ) }}
					</div>
					<div class="tab-pane fade" id="bidtex">
						Upcoming Feature
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endmacro %}
