@import "variables";

.ui.items > .item > .content > .header:not(.ui) {
  font-size: 1.2em;
}

.ui.card {
  .content {
    padding: 10px 15px;

    .header:not(.ui) {
      font-size: 0.9em;
      margin: 0;
    }
  }
}

#main_search_div {
    padding-top: 20px;
}

.item {
  .ui.list {
    padding-left: 1.2em;
  }
}

.facet-item-count {
  color: $dark-grey;
}

.results-item {
  a {
    text-decoration: none;
  }
}

.result-options {
  margin-top: 20px;
  min-height: 75px;
}

.footer {
  margin-top: 1em;
}

.center.aligned.eight.wide.column {
  margin-left: -130px;
}

.row > .right.aligned.four.wide.column {
  margin-top: 0px;
  margin-left: 60px;
}

.twelve.wide.column {
  .ui.grid.relaxed {
    background-color: white;
    border: 1px solid $light-grey;
    border-radius: 0.25rem;
  }
}
