<div class="modal-body">
  <p>
    Please note that the file you are going to download ({{$ctrl.file.key || $ctrl.filename}}) is <b>{{$ctrl.file.size | bytes }}</b> big. On an average ADSL connection, it may take several hours to download it.
  </p>
  <p>
    Moreover, if you use one of the provided <a href="/VM/CMS">Virtual Machines</a> to perform your analyses, then you don't need to download datasets manually, because the VM will fetch all the necessary file chunks via the XRootD protocol.
  </p>
  <p>
    Manual download of files via HTTP is only necessary if you would prefer not to use the XRootD protocol for one reason or another.
  </p>
</div>
<div class="modal-footer">
  <button id="download-msg-dismiss" type="button" class="btn btn-default" ng-click="$ctrl.closeModal()">Close</button>
  <a id="download-msg-uri" href="{{$ctrl.download_uri}}" role="button" ng-click="$ctrl.closeModal()" class="btn btn-info">Download</a>
</div>
