<div class="modal-header">
	<div class="files-preview-modal-header">
		<div class="title">
		</div>
		<div class="clipboard-actions">
			<u>{{$ctrl.msg}}</u>
			<button class="btn btn-default" ng-click="$ctrl.copyEditor()">
				<span class="oi" data-glyph="clipboard"></span>
				Copy all/selected to clipboard
			</button>
		</div>
	</div>
</div>
<div class="modal-body">
	<div>
	  <div ui-codemirror ng-model="contents" ui-codemirror-opts="{lineNumbers: true, theme:'default',readOnly: 'nocursor',onLoad : codemirrorLoaded, mode: 'javascript'}">
	  </div>
	</div>
</div>
