<div class="modal-body">
  <h3>List of files</h3>
  <h5 ng-if="$ctrl.files_error">Error: {{$ctrl.files_error}}</h5>
  <div ng-if="!$ctrl.files_error" ng-controller="paginationWithDataCtrl as $paginationCtrl">
    {{$paginationCtrl.files = $ctrl.files;""}}
    <ul ng-if="$paginationCtrl.s_files.length == 0" ng-repeat="file in $ctrl.files.slice(0, $paginationCtrl.viewby)">
      {{ filename = file.uri.split('/'); filename = filename[filename.length-1]; ""}}
      {{ file_uri = file.uri.split('/eos/opendata/'); file_uri = file_uri[1]; ""}}
      {{ download_uri = '/record/'+$ctrl.pid+'/files/assets/'+file_uri; "" }}
      <li style="display: flex;">
        <div style="flex:1;">{{filename}}</div>
        <div style="width:100px;">{{file.size | bytes}}</div>
        <div style="width:80px;">
          <a class="btn btn-primary" ng-if="file.size <= 1073741824" href="{{download_uri}}">
            <span class="oi" data-glyph="data-transfer-download"></span>
          </a>
          <a
            ng-controller="downloadModalCtrl as $downloadModCtrl"
            ng-if="file.size  > 1073741824"
            ng-click="$downloadModCtrl.openModal(file, download_uri, filename)"
            href="#"
            class="btn btn-primary"
            >
            <span class="oi" data-glyph="data-transfer-download"></span>
          </a>
        </div>
      </li>
    </ul>
    <ul ng-if="$paginationCtrl.s_files.length > 0" ng-repeat="file in $paginationCtrl.s_files">
      {{ filename = file.uri.split('/'); filename = filename[filename.length-1]; ""}}
      {{ file_uri = file.uri.split('/eos/opendata/'); file_uri = file_uri[1]; ""}}
      {{ download_uri = '/record/'+$ctrl.pid+'/files/assets/'+file_uri; "" }}
      <li style="display: flex;">
        <div style="flex:1;">{{filename}}</div>
        <div style="width:100px;">{{file.size | bytes}}</div>
        <div style="width:80px;">
          <a class="btn btn-primary" ng-if="file.size <= 1073741824" href="{{download_uri}}">
            <span class="oi" data-glyph="data-transfer-download"></span>
          </a>
          <a
            ng-controller="downloadModalCtrl as $downloadModCtrl"
            ng-if="file.size  > 1073741824"
            ng-click="$downloadModCtrl.openModal(file, download_uri, filename)"
            href="#"
            class="btn btn-primary"
            >
            <span class="oi" data-glyph="data-transfer-download"></span>
          </a>
        </div>
      </li>
    </ul>

    <div ng-show="$ctrl.files.length > $paginationCtrl.itemsPerPage">
      <ul uib-pagination
        class="pagination file-pagination pagination-sm"
        ng-change="$paginationCtrl.pageChanged()"
        total-items=" $ctrl.files.length"
        ng-model="$paginationCtrl.currentPage"
        max-size="$paginationCtrl.maxSize"
        boundary-links="true"
        items-per-page="$paginationCtrl.itemsPerPage"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;"
        >
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button id="download-msg-dismiss" type="button" class="btn btn-default" ng-click="$ctrl.closeModal()">Close</button>
</div>
