{%- extends "invenio_records_ui/detail.html" %}

{%- block page_body %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 style="display: inline;">
        {{record.get('anchor', '') | capitalize}}
        <h4>
          <span class="label label-success">{{record.get('category', '')}}</span>
        </h4>
      </h2>
    </div>
    <div class="panel-body">
      <p>{{ record.get('definition', '') }}</p>
      {% if record.get('links', []) %}
      <div>
        <span>
          <strong>Links: </strong>
          {% for r in record.get('links') %}
            <a target="_blank" href="{{r.get('url', '')}}">{{r.get('text', '')}}</a>
        {% endfor %}
        </span>
      </div>
      {% endif %}
      {% if record.get('see_also', []) %}
      <div>
        <span>
          <strong>See also: </strong>
          {% for term in record.get('see_also') %}
            <a href="/glossary/{{term.get('term', '')}}"><span class="label label-info">{{term.get('term', '')}}</span></a>
          {% endfor %}
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{%- endblock %}

{%- block javascript %}
  {{super()}}
  {%- block javascript_glossary %}
  {% endblock %}
{% endblock %}
