git+https://github.com/lepture/mistune-contrib.git#egg=mistune-contrib
git+https://github.com/pamfilos/invenio-files-rest.git@eos-storage-latest#egg=invenio-files-rest
git+https://github.com/pamfilos/invenio-xrootd.git@eos-storage#egg=invenio-xrootd
git+https://github.com/pamfilos/invenio-sipstore.git@ad32#egg=invenio-sipstore
