# START

# from invenio/requirements.txt
-e git+git://github.com/mrjoes/flask-admin.git#egg=Flask-Admin-1.0.9.dev0
-e git+https://github.com/tpmccauley/invenio-previewer-ispy.git@webgl#egg=invenio-previewer-ispy

# END

#-e git+https://github.com/inveniosoftware/invenio@pu#egg=Invenio-dev


-e .
