git+https://github.com/lepture/mistune-contrib.git#egg=mistune-contrib
git+https://github.com/diegodelemos/invenio-files-rest.git@eos-storage#egg=invenio-files-rest
git+https://github.com/pamfilos/invenio-xrootd.git@eos-storage#egg=invenio-xrootd
