# -*- coding: utf-8 -*-

-e git+https://github.com/inveniosoftware/invenio-assets.git#egg=invenio-assets
-e git+https://github.com/inveniosoftware/invenio-base.git#egg=invenio-base
-e git+https://github.com/inveniosoftware/invenio-db.git#egg=invenio-db
-e git+https://github.com/inveniosoftware/invenio-config.git#egg=invenio-config
-e git+https://github.com/inveniosoftware/invenio-collections.git#egg=invenio-collections
-e git+https://github.com/inveniosoftware/invenio-indexer.git#egg=invenio-indexer
-e git+https://github.com/inveniosoftware/invenio-jsonschemas.git#egg=invenio-jsonschemas
-e git+https://github.com/inveniosoftware/invenio-marc21.git#egg=invenio-marc21
-e git+https://github.com/inveniosoftware/invenio-oaiserver.git#egg=invenio-oaiserver
-e git+https://github.com/inveniosoftware/invenio-pidstore.git#egg=invenio-pidstore
-e git+https://github.com/inveniosoftware/invenio-records-rest.git#egg=invenio-records-rest
-e git+https://github.com/inveniosoftware/invenio-records-ui.git#egg=invenio-records-ui
-e git+https://github.com/inveniosoftware/invenio-records.git#egg=invenio-records
# FIXME -e git+https://github.com/inveniosoftware/invenio-search-ui.git#egg=invenio-search-ui
-e git+https://github.com/inveniosoftware/invenio-search.git#egg=invenio-search
-e git+https://github.com/inveniosoftware/invenio-theme.git#egg=invenio-theme
