{% set test_envs = [(
	{
		'group':'CPUs',
		'items': (
			{'title':'Intel Core i7-3770K', 'body':'Overclocked from stock and stable 3.5GHz to unstable 4.9GHz -- 
Completed test chain once with 4.9GHz producing a working file for event displayer. Second time host machine failed to run stable, as expected to happen at some point. No damage/corruption to Virtual Machine.' },
			{'title':'Intel Core i5-4258U', 'body':'' },
			{'title':'Intel Core i7-3635QM', 'body':'' },
			{'title':'Intel Core i5-750', 'body':'' },
			{'title':'Intel Core i7-2600K', 'body':'' },
			{'title':'AMD A10-6700', 'body':'' }
			)
	},
	{
		'group':'GPUs',
		'items': (
			{'title':'Nvidia GeForce GTX 660', 'body':'' },
			{'title':'Nvidia GeForce GTX 660 x2 multi-GPU, Scalable Link Interface (SLI) Nvidia GeForce GTX 560', 'body':'' },
			{'title':'Nvidia GeForce GTS 450', 'body':'' },
			{'title':'Nvidia GT 840M', 'body':'' },
			{'title':'Nvidia GT 650M', 'body':'' },
			{'title':'Intel HD4400 Intel HD5100 Intel HD5200', 'body':'' },
			{'title':'AMD Radeon HD 6750 Graphics', 'body':'' }
			)
	},
	{
		'group':'GPU Drivers',
		'items': (
			{'title':'AMD Catalyst', 'body':'' },
			{'title':'AMD Open Source (xf86-video-ati) Nvidia proprietary', 'body':'' },
			{'title':'Nouveau (for Nvidia cards)', 'body':'' },
			{'title':'Intel graphics', 'body':'' }
			)
	},
	{
		'group':'Motherboards (laptops not included)',
		'items': (
			{'title':'Asus Maximus V Gene mATX Z77', 'body':'' },
			{'title':'Asus P8P67 PRO', 'body':'' },
			{'title':'Gigabyte P55M-UD2', 'body':'' },
			{'title':'Asrock Z68 Extreme3 Gen3', 'body':'' }
			)
	},
	{
		'group':'Operating systems',
		'items': (
			{'title':'Arch Linux', 'body':'' },
			{'title':'Linux Mint', 'body':'' },
			{'title':'Ubuntu', 'body':'' },
			{'title':'Kali Linux', 'body':'' },
			{'title':'Windows Vista', 'body':'' },
			{'title':'Windows 7', 'body':'' },
			{'title':'Windows 8', 'body':'' },
			{'title':'Windows 8.1', 'body':'' },
			{'title':'OS X 10.8', 'body':'' },
			{'title':'OS X 10.9', 'body':'' }
			)
	},
	{
		'group':'Desktop Environments',
		'items': (
			{'title':'KDE', 'body':'' },
			{'title':'Gnome', 'body':'' },
			{'title':'BSPWM', 'body':'' },
			{'title':'DWM', 'body':'' },
			{'title':'Openbox', 'body':'' },
			{'title':'LXDE', 'body':'' },
			{'title':'XFCE', 'body':'' },
			{'title':'Cinnamon', 'body':'' },
			{'title':'Mate', 'body':'' }
			)
	}
)]
%}