<div class="resource-box">
  <div class="col-sm-3 pull-left">
    <div class="learn-img">
      <img src="{{url_for('static', filename='img/computingMethodsHEP_CMS.png')}}" />
      <h6>Computing Methods in High-Energy Physics</h6>
    </div>
  </div>
  <div class="col-sm-9">
    <h2>Computing Methods in High-Energy Physics<a class="btn" href="http://www.helsinki.fi/~slehti/ComputingMethodsInHEP/ComputingMethodsInHEP.html">Go to the Computing Methods in High Energy Physics course<span class="fa fa-external-link"></span></a></h2>
    <p>
      <a href="http://www.helsinki.fi/~slehti/ComputingMethodsInHEP/ComputingMethodsInHEP.html">This introductory course</a> by S. Lehti is aimed at students with no prior knowledge of computing methods in high-energy physics. Prior knowledge of some programming language is needed. The course goes through basics of programming languages in high-energy physics (FORTRAN, C++, python), software for analysis and visualisation (ROOT), some software for calculating cross-sections and branching ratios, simulation of collisions (event generation), basics of CMS software (CMSSW) and an introduction to grid computing. This course is developed in the University of Helsinki for students interested in experimental particle physics.
    </p>
  </div>

</div>

<div class="resource-box">
  <div class="col-sm-9">
    <h2>CMS HEP Tutorial<a class="btn" href="http://ippog.web.cern.ch/resources/2012/cms-hep-tutorial">Go to the CMS HEP Tutorial<span class="fa fa-external-link"></span></a></h2>
    <p>
      <a href="http://ippog.web.cern.ch/resources/2012/cms-hep-tutorial">This tutorial</a> by Christian Sander and Alexander Schmidt gives a basic introduction to fundamental concepts of data analysis in HEP experiments, using a small sample of specially released CMS data collected in 2011. It has been used for a one-week course in the context of a HEP workshop and a data analysis school. It should be most useful for undergraduate students who have a basic knowledge of particle physics, but without any experience in data analysis. Prerequisites are some knowledge of C++ and the ROOT data analysis framework (there are dedicated tutorials on ROOT as well).
    </p>
  </div>
  <div class="col-sm-3 pull-left">
    <div class="learn-img">
      <img src="{{url_for('static', filename='img/CMSHepTutorial.png')}}" />
      <h6>The CMS HEP Tutorial on the IPPOG Database</h6>
    </div>
  </div>
</div>


<div class="resource-box">
  <div class="col-sm-3">
    <div class="learn-img">
      <img src="{{url_for('static', filename='img/VISPA.png')}}" />
      <h6>The VISPA WebApp</h6>
    </div>
  </div>
  <div class="col-sm-9">
    <h2>Online Analysis of CMS Data with VISPA<a class="btn" href="https://vispa.physik.rwth-aachen.de/CERN">Start your analysis online<span class="fa fa-external-link"></span></a></h2>
    <p>
      With the VISPA internet platform you can perform physics analyses with CMS public data in a web browser. Begin with the discovery of a boson in an example analysis. Then, you can develop your own ideas and visualise the scientific results.
    </p>
    <p>
      VISPA is developed at the RWTH Aachen University in Germany and is used for teaching data analysis, e.g. in courses on particle and astroparticle physics for third-year undergraduate physics students.
    </p>
  </div>
</div>




<div class="resource-box">
  <div class="col-sm-9">
    <h2>Particle Physics Playground<a class="btn" href="http://particle-physics-playground.github.io/">Go to the Particle Physics Playground<span class="fa fa-external-link"></span></a></h2>
    <p>
      This site, by Matt Bellis, provides exercises that use real data from CMS (and now CLEO!) to teach experimental particle physics. It is, however, not meant to be a fully comprehensive tutorial. The ideal student will have learned the basic concepts elsewhere (classroom setting, mentor, independent study), following which they will then use these exercises to test their understanding of the concepts and appreciate how "real scientists" work in this field.
    </p>
  </div>

  <div class="col-sm-3">
    <div class="learn-img">
      <img src="{{url_for('static', filename='img/ParticlePhysicsPlayground.png')}}" />
      <h6>The Particle Physics Playground site</h6>
    </div>
  </div>
</div>

<div class="resource-box">
  <div class="col-sm-3">
    <div class="learn-img">
      <img src="{{url_for('static', filename='img/CMSMasterclass.jpg')}}" />
      <h6>High-school students performing a CMS exercise</h6>
    </div>
  </div>
  <div class="col-sm-9">
    <h2>Physics Masterclasses<a class="btn" href="http://cms.physicsmasterclasses.org/cms.html">For more on CMS Masterclass exercise<span class="fa fa-external-link"></span></a></h2>
    <p>
      Every year, thousands of high-school students all over the world become particle physicists for a day, and visit nearby CMS institutes and universities to perform real analyses using public CMS data. The CMS Masterclass exercise is developed by <a href="http://quarknet.fnal.gov/">QuarkNet</a> and conducted under the aegis of the <a href="http://cern.ch/ippog">International Particle Physics Outreach Group</a>.
    </p>
  </div>

</div>


<div class="resource-box">
  <div class="col-sm-9">
    <h2>CMS e-Lab<a class="btn" href="https://www.i2u2.org/elab/cms/home/project.jsp">Learn more on CMS e-Lab<span class="fa fa-external-link"></span></a></h2>
    <p>
      The CMS e-Lab by <a href="https://www.i2u2.org/">I2U2</a> provides students with an opportunity to analyse data to calibrate the detector and participate in discovery science (as particle physicists do): calibrating the detector to "rediscover" previous measured results was an important part of the early scientific activity at CMS. Later students will probe data where physicists expect to find answers to questions at the heart of modern particle physics.
    </p>
  </div>
  <div class="col-sm-3">
    <div class="learn-img">
      <img src="{{url_for('static', filename='img/CMSeLab.png')}}" />
      <h6>Project map of the CMS e-Lab</h6>
    </div>
  </div>

</div>
