<h1>Introduction to particle physics through CMS data</h1>

<h2>CMS HEP Tutorial<a class="btn" href="http://ippog.web.cern.ch/resources/2012/cms-hep-tutorial">Go to the CMS HEP Tutorial<span class="fa fa-external-link"></span></a></h2>

<div class="col-md-12">
  <p>
    <a href="http://ippog.web.cern.ch/resources/2012/cms-hep-tutorial">This tutorial</a> by Christian Sander and Alexander Schmidt gives a basic introduction into fundamental concepts of data analysis in HEP experiments, using a small sample of specially released CMS data collected in 2011. It has been used for a one-week course in the context of a HEP workshop and a data analysis school. It should be most useful for undergraduate students who have the basic knowledge of particle physics, but without any experience in data analysis. Prerequisites are some knowledge of C++ and the ROOT data analysis framework (there are dedicated tutorials on ROOT as well).
  </p>
</div>
<div class="learn-img col-sm-8 col-sm-offset-2">
  <img src="{{url_for('static', filename='img/CMSHepTutorial.png')}}" />
  <h6>The CMS HEP Tutorial on the IPPOG Database</h6>
</div>

<h2>CMS analyses with VISPA<a class="btn" href="https://vispa.physik.rwth-aachen.de/CERN">Learn more about VISPA and the CMS measurements you can perform<span class="fa fa-external-link"></span></a></h2>

<div class="col-md-12">
  <p>
    The Visual Physics Analysis (VISPA) project provides a graphical development environment for data analysis. It addresses the typical development cycle of re-designing, executing, and verifying an analysis.
  </p>

  <p>
    VISPA is being used at RWTH Aachen University in Germany, where it was developed, to teach third-year undergraduate physics students how to analyse CMS data, as part of courses on particle and astroparticle physics. Among other things, they learn how to calculate the masses of particles produced at the LHC.
  </p>
</div>
<div class="learn-img col-sm-8 col-sm-offset-2">
  <img src="{{url_for('static', filename='img/VISPA.png')}}" />
  <h6>The VISPA desktop interface</h6>
</div>

<h2>Particle Physics Playground<a class="btn" href="http://mattbellis.github.io/Particle-Physics-Playground/">Go to the Particle Physics Playground<span class="fa fa-external-link"></span></a></h2>

<div class="col-md-12">
  <p>
    This site, by Matt Bellis, provides exercises that use real data CMS to teach experimental particle physics. It is, however, not meant to be a fully comprehensive tutorial. The ideal student will have learned the basic concepts elsewhere (classroom setting, mentor, independent study), following which they will then use these exercises to test their understanding of the concepts and appreciate how "real scientists" work in this field.
  </p>
</div>

<div class="learn-img col-sm-8 col-sm-offset-2">
  <img src="{{url_for('static', filename='img/ParticlePhysicsPlayground.png')}}" />
  <h6>The Particle Physics Playground site</h6>
</div>

<h1 style="margin-top:30px;">Other educational resources</h1>

<h2>Physics Masterclasses<a class="btn" href="http://cms.physicsmasterclasses.org/cms.html">For more on CMS Masterclass exercise<span class="fa fa-external-link"></span></a></h2>

<div class="col-md-12">
  <p>
    Every year, thousands of high-school students all over the world become particle physicists for a day, and visit nearby CMS institutes and universities to perform real analyses using public CMS data. The CMS Masterclass exercise is developed by <a href="http://quarknet.fnal.gov/">QuarkNet</a> and conducted under the aegis of the <a href="http://cern.ch/ippog">International Particle Physics Outreach Group</a>.
  </p>
</div>
<div class="learn-img col-sm-8 col-sm-offset-2">
  <img src="{{url_for('static', filename='img/CMSMasterclass.jpg')}}" />
  <h6>High-school tudents performing a CMS exercise at CERN</h6>
</div>

<h2>CMS e-Lab<a class="btn" href="https://www.i2u2.org/elab/cms/home/project.jsp">Learn more on CMS e-Lab<span class="fa fa-external-link"></span></a></h2>

<div class="col-md-12">
  <p>
    The CMS e-Lab by <a href="https://www.i2u2.org/">I2U2</a> provides students with an opportunity to analyse data to calibrate the detector and participate in discovery science (as particle physicists do): calibrating the detector to "rediscover" previous measured results was an important part of the early scientific activity at CMS. Later students will probe data where physicists expect to find answers to questions at the heart of modern particle physics.
  </p>
</div>
<div class="learn-img col-sm-8 col-sm-offset-2">
  <img src="{{url_for('static', filename='img/CMSeLab.png')}}" />
  <h6>Project map of the CMS e-Lab</h6>
</div>
