//@import "variables";
//
//// Setting the path to fonts files.
//$icon-font-path: "/static/node_modules/bootstrap-sass/assets/fonts/";
//$fa-font-path: "/static/node_modules/font-awesome/fonts";
//
//@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
//@import "../node_modules/font-awesome/scss/font-awesome";
//
@import "footer";
//@import "frontpage";
//@import "visualise";
//@import "pygments_friendly";
//
html, body {
 /* The html and body elements cannot have any padding or margin. */
 height: 100%;
 margin: 0;
}
//
//results-brief {
//  li {
//    list-style-type: none;
//  }
//}
//
//.record-box {
//    position: relative;
//    margin: 15px;
//    height: 100%;
//}
//
//.tags-box {
//    position: absolute;
//    bottom: 0;
//    right: 0;
//    margin-bottom: 30px;
//    font-size: 0.9em;
//}
//
//.tags-box a {
//    text-decoration: None;
//}
//
//.label {
//    display: inline-block;
//    padding: .3em .5em .4em
//}

body {
  font-family: 'Montserrat', sans-serif;
}

.background {
  background-color: #f6f7f6;
}

#footer_wrap {
  background-color: #f6f7f6;
}

// TOCHECK Carefoul overriding default
#news-card .badge {
  font-size: small !important;
  color: #fff !important;
}

.card-style {
  border: none;
  margin-top: 10px;
  border-top: 3px solid #3b97d3;
  border-radius: unset;
}

.col-position {
  margin-top: 10px;
}

.content-style {
  font-size: 14px;
  color: #35495e;
}

section {
  //min-height: 100vh;
  color: #2c3e50;
  padding: 2em;
}

section.main {
  background: #283747 url('static/assets/img/header-image.svg') 50% 50% no-repeat;
  color: white;
  height: calc(100vh - 50vh);
  background-size: 70%;
}

section.research {
  border-top: 2px solid #eee;
  background-color: #f6f7f6;
}

section.main a {
  color: #3b97d3;
  font-weight: bolder;
}

section.footer {
  border-top: 2px solid #eee;
  min-height: 100px;
  padding: 0;
}

.footer #logos {
  margin-top: 5%;
}

.footer #copyright {
  margin-top: 15%;
}

.header-text-section {
  position: absolute;
  bottom: 45vh;
  font-size: 0.9rem;
}

.header-links-section {
  position: absolute;
  bottom: 30px;
  right: 0;
  text-align: center;
}

.header-link {
  height: 180px;
}

.header-link.education {
  background: url('static/assets/img/top-education-link.svg') 50% 0% no-repeat;
  background-size: 200px;
  padding-top: 130px;
}

.header-link.education .btn-info {
  background-color: #e57e25;
  border: none;
  cursor: pointer;
}

.header-link.research .btn-info {
  background-color: #3b97d3;
  border: none;
  cursor: pointer;
}

.header-link.education .btn-info:hover {
  background-color: #d17322;
}

.header-link.research .btn-info:hover {
  background-color: #388ec7;
}

.header-link.research {
  background: url('static/assets/img/top-research-link.svg') 50% 0% no-repeat;
  background-size: 200px;
  padding-top: 130px;
}

.explore-menu {
  margin-left: -110%;
}

.about-menu {
  margin-left: -20%;
}

#navbarSupportedContent form .btn-info {
  background-color: #17a2b8 !important;
}

#home-research {
  min-height: auto;
  background-color: white;
}

#news-card {
  min-height: 388.7px;
}

#news-card .card-body {
  min-height: 162px;
}

#news-card h4 {
  font-weight: bolder;
  font-size: 1.1em;
}

#visualise-home {
  min-height: auto;
}

.navbar-custom {
  background-color: #283747 !important;
  border-bottom: 2px solid #35495e;

}

.navbar-custom a {
  color: white;
}

.od-icon {
  min-height: 140px;
  padding: 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.od-teaching {
  background-image: url('static/assets/img/teaching.svg');
  background-size: 23%;
}

.od-visualize {
  background-image: url('static/assets/img/visualize.svg');
  background-size: 20%;
}

#visualise-home h4 {
  font-weight: bolder;
  font-size: 1.4em;
}

.od-db-education {
  background-image: url('static/assets/img/db-education.svg');
  background-size: 30%;
}

.od-model {
  background-image: url('static/assets/img/model.svg');
  background-size: 30%;
}

.od-vm {
  background-image: url('static/assets/img/vm.svg');
  background-size: 60%;
}

.od-db-research {
  background-image: url('static/assets/img/db-research.svg');
  background-size: 30%;
}

.info-block {
  padding: 10px;
}

.info-block.education a {
  color: #e57e25;
}

.info-block.research a {
  color: #3b97d3;
}

.info-block h4 {
  font-weight: bolder;
  font-size: 1.4em;
}

.info-block ul {
  list-style: none;
  text-align: left;
}

.info-block ul li {
  padding: 20px 0 5px 0;
}

.info-block ul li a {
  font-weight: bolder;
  font-size: 1.1em;
}

.dropdown-item {
  color: #3b97d3 !important;
  display: block;
  //padding: 3px 20px;
  line-height: 1.42857;
  white-space: nowrap;
}

.custom-card {
  min-height: 181px;
}

.custom-badge-warning {
  background-color: #e57e25;
}

.custom-badge-success {
  background-color: #3b97d3;
}

.custom-badge-success:hover {
  background-color: #2980b9 !important;
}

.tags-box {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  font-size: .9em;
}

// @TOCHECK Carefoul with this one
a {
  color: #3b97d3;
}

// Search results
.page-item.active .page-link {
  background-color: #3b97d3;
  border-color: #3b97d3;
}

.page-link {
  color: #35495e;
}

.record-elem results-brief {
  width: 100%;
}

invenio-search-results {
  color: #35495e;
}

invenio-search-facets {
  color: #35495e;
}

.invenio-search-results {
  color: #35495e;
}

.card-body h4 a {
  font-size: 20px;
  color: #3b97d3;
}

.card-body-condensed {
    padding-top: 0;
    padding-bottom: .6em;
}

.tags-box-search-results {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  font-size: .9em;
}

.record-elem li .card {
  border: none;
  border-radius: unset;
}

.results-position {
  margin-top: 2%;
}

.facet-count {
  float: right;
  width: 50px;
}

#date-published {
  color: grey;
}

// faceted results
#faceted-results .card {
  border: none;
  border-radius: unset;
}

// glossary
.record-elem .card {
  border: none;
  border-radius: unset;
}

.see-also {
  margin-right: 2px;
}

// breadcrumbs
.custom-breadcrumb {
  margin-bottom: 0;
}
//