@import "variables";

// Setting the path to fonts files.
$icon-font-path: "/static/node_modules/bootstrap-sass/assets/fonts/";
$fa-font-path: "/static/node_modules/font-awesome/fonts";

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "footer";
@import "frontpage";
@import "visualise";

html, body {
  /* The html and body elements cannot have any padding or margin. */
  height: 100%;
}

results-brief {
  li {
    list-style-type: none;
  }
}
