@import "variables";

// Setting the path to fonts files.
$icon-font-path: "/static/node_modules/bootstrap-sass/assets/fonts/";
$fa-font-path: "/static/node_modules/font-awesome/fonts";

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "footer";
@import "frontpage";
@import "visualise";
@import "pygments_friendly";

html, body {
  /* The html and body elements cannot have any padding or margin. */
  height: 100%;
}

results-brief {
  li {
    list-style-type: none;
  }
}

.record-box {
    position: relative;
    margin: 15px;
    height: 100%;
}

.tags-box {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.tags-box a {
    text-decoration: None;
}

.label {
    display: inline-block;
    padding: .3em .5em .4em
}
