$btn-font-weight: 500;
$text-white: #fff;

$brand-primary:         #90A6B2 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #ACC6D4 !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$state-primary-bg:      $brand-primary;
$state-info-text:       $text-white;
$state-info-bg:         $brand-info;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$color1-gradient: #2BBCFF; //lighten(@color1, 15%);
$color1: #F4F4F4;
$color2: #0067c9;
$color3: #7A9A95;
$color4: #EF6D3B;
$color5: #FA8B60;

$cover-panel-padding: 40px;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight: 300;

$headings-font-weight: $font-weight;
$headings45-font-weight: 400;

$navbar-brand-padding-vertical: 0px;
$navbar-default-bg: $color1;
$navbar-default-brand-color: #6C7C84;
$navbar-default-link-color: #6C7C84;
$navbar-default-link-active-color: #95ABB7;
$navbar-default-link-active-bg: transparentize(#95ABB7, 0.9);
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: #95ABB7;
$navbar-height: 50px;

$breadcrumb-separator: ">";
$breadcrumb-color: $text-white;
$breadcrumb-bg: inherit;
$breadcrumb-active-color: $text-white;


$brand-font-family: $font-family-sans-serif;
$brand-font-size: 40px;
$brand-font-weight: 400;
