#vis-histograms {
  color: #606D75;
}

#vis-histograms .pg-header h3 {
  margin-bottom: 25px;
  margin-top: 35px;
}
#vis-histograms .pg-header {
  color: #606D75;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 35px;
}
#vis-histograms .previewer {
  background-color: #f4f4f4;
  border-radius: 4px;
  margin-bottom: 35px;
  color: #606D75;
  margin-bottom: 20px;
}

#vis-histograms #flot-plots {
  background-color: #fff;
  margin-bottom: 15px;
  min-height: 300px;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}
#vis-histograms #flot-plots >div {
  display: inline-block;
  float: left;
}

#vis-histograms ul#parameter-button-row  {
  display: inline-block;
}
#vis-histograms #parameter-button-row li {
  margin-right: 5px;
  margin-bottom: 5px;
}

#vis-histograms .nav {
  margin-bottom: 15px;
  display: inline-block;
}

#vis-histograms .nav li {
  background-color: inherit;
}

#vis-histograms .nav li a,
#vis-histogram .nav li a:hover,
#vis-histograms .nav li a:focus {
  background-color: inherit;
  color: inherit;
}

#vis-histograms .nav li.active{
  display: none;
}

#vis-histograms #howto > div{
  background-color: #f4f4f4;
  border-radius: 4px;
}

.binwidth {
  width: 150px;
}

.xlabel {
  margin-left: 150px;
}

div.row.buttons {
  margin-left: 0px;
  margin-right: 0px;
}

#browse-dropdown.dropdown {
  padding-top: 15px;
}

div.plot-control {
  padding-top: 4px;
  padding-left: 24px;
}
