<div class="resource-box">
  <div class="col-sm-3">
    <div class="learn-img">
      <img src="{{url_for('static', filename='img/ALICEmasterclass.jpg')}}" />
      <h6>High-school students performing an ALICE exercises</h6>
    </div>
  </div>
  <div class="col-sm-9">
    <h2>Physics Masterclasses<a class="btn" href="http://alice.physicsmasterclasses.org/MasterClassWebpage.html">For more on ALICE Masterclass exercises<span class="fa fa-external-link"></span></a></h2>
    <p>
      Every year, in the frame of the International Masterclasses in Particle Physics, thousands of high-school students become physicists for a day: they visit a nearby institute and analyse real LHC data. ALICE participates in this very successful programme with two masterclass exercises. Using simplified software the students analyse data from heavy-ion collisions. They look for particles containing the <em>strange</em> quark and eventually observe strangeness enhancement; or they count charged particles calculating the nuclear modification factor, one of the observables used for the study of the quark-gluon plasma.
    </p>
  </div>

</div>
