<div class="row">
  <div class="about">
    <h1 class="col-sm-12">LHCb Virtual Machines: How to install</h1>
  </div>
  <div class="col-sm-12">
    <ol class="gen-menu">
      <li><a href="#vbox">1. How to install VirtualBox</a></li>
      <li><a href="#download">2. Download a LHCb virtual machine and run!</a></li>
    </ol>
  </div>
  
  <div class="col-sm-12">
    <div class="gen-box">
      <h2 id="vbox">Step 1: Installing VirtualBox</h2>
      <p>VirtualBox is a free, open source and multiplatform application to run virtual machines: you can <a href="https://www.VirtualBox.org/wiki/Downloads">download</a> the package for your platform from the Downloads page.</p>
      <p>You will need administrative privileges ("root" privileges) on every platform to perform the installation of VirtualBox.</p>
      <p>Note: the latest tested version of VirtualBox working with CernVM is 4.3.14. If you have troubles with the latest verion of VirtualBox, pick that one: the full history of VirtualBox versions is available <a href="https://www.VirtualBox.org/wiki/Download_Old_Builds">on a different page.</a></p>
    </div>
  </div>
  
  <div class="col-sm-12">
    <div class="gen-box">
      <h2 id="download">Step 2: Download a LHCb virtual machine and run</h2>
      <p>Download LHCb virtual machine from <a href="https://lhcbproject.web.cern.ch/lhcbproject/dist/Masterclass/vm/LHCbMasterclass.ova"> here</a></p>
      <p>Open it with VirtualBox. Once started there is a shortcut on the desktop to start the LHCb masterclass exercise itself</p>
      <div class="row">
        <img class="col-sm-6" src="{{url_for('static', filename='img/vm_lhcb_1.png')}}" alt="">
        <img class="col-sm-6" src="{{url_for('static', filename='img/vm_lhcb_2.png')}}" alt="">
      </div>
    </div>
  </div>
</div>