<section class="subcollection_apps">
  <div class="container">
    <div class="row">
      <div class="section-title col-md-12">Resources:</div>
      <div class="center-block">
        <div class="col-md-3">
          <a href="{{ url_for('getting-started/CMS') }}"><div class="app-box">
            <div class="title">Getting started!</div>
            <div class="img"><img src="{{ url_for('static', filename='img/edu_img_2.jpg') }}" alt=""></div>
          </div></a>
        </div>
        <div class="col-md-3">
          <a href="{{ url_for('VM/CMS') }}"><div class="app-box">
            <div class="title">VM working environments</div>
            <div class="img"><img src="{{ url_for('static', filename='img/virtual.png') }}" alt=""></div>
          </div></a>
        </div>
        <div class="col-md-3">
          <a href="{{ url_for('collection/CMS-Tools') }}"><div class="app-box">
            <div class="title">Software and tools</div>
            <div class="img"><img src="{{ url_for('static', filename='img/default.png') }}" alt=""></div>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</section>