#titlebar {
  text-align: center;
  color: white;
  background-color: black;
}

#controls-ED-XZ {
  vertical-align: bottom;
}

#controls-ED-YZ {
  vertical-align: top;
}

.canvas-bordered {
  border: 1px solid black;
}

.canvas-title {
  position: absolute;
  border: 1px solid black;
  padding: 0px 10px 0px 10px;
  font: bold 12px arial, serif;
  background-color: white;
}

#canvas-ED-XZ-title {
  left: 210px;
  top:  203px;
}

#canvas-ED-YZ-title {
  left: 205px;
  top:  530px;
}

#div-canvas-ECC {
  position: absolute;
}

#canvas-axes-ECC {
  border: none;
  position: absolute;
  bottom: 0px;
  z-index: 1001;
}

#canvas-legend-ECC {
  position: absolute;
  left: 575px;
  bottom: 195px;
  z-index: 1001;
  background-color: #FAFAFA;
}

#canvas-ECC-title {
  left: 45px;
  top:  -2px;
}
