.bootstrap-opera .viewer {
  display: flex;
  width: 100%;
  margin: 0.25em;
}
.bootstrap-opera .sidebar {
  display: table-cell;
}
.bootstrap-opera .sidebar {
  width: 105px;
}
.bootstrap-opera .sidebar div {
  text-align: center;
}
.bootstrap-opera .titlebar {
  text-align: center;
  color: white;
  background-color: black;
  font-size: 0.85em;
}
.bootstrap-opera #td-display-panel-ECC {
  vertical-align: top;
}
.bootstrap-opera #div-col-display-ED .btn,
.bootstrap-opera .toolbar .btn,
.bootstrap-opera #div-controls-ED .btn {
  padding: 0.25em;
}
.bootstrap-opera #div-controls-ED table {
  width: 100%;
}
.bootstrap-opera .btn.active,
.bootstrap-opera .btn.active:focus {
  background-color: yellow;
}
.bootstrap-opera .canvas-bordered-black {
  border: 1px solid black;
}
.bootstrap-opera .canvas-bordered-white {
  border: 1px solid white;
}
.bootstrap-opera .canvas-title {
  position: absolute;
  border: 1px solid black;
  padding: 0px 10px 0px 10px;
  font: bold 12px arial, serif;
  background-color: white;
}
.bootstrap-opera #div-canvas-ECC {
  position: absolute;
}
.bootstrap-opera #canvas-axes-ECC {
  border: none;
  position: absolute;
  bottom: 0px;
  z-index: 1001;
}
.bootstrap-opera #canvas-legend-ECC {
  position: absolute;
  left: 575px;
  bottom: 125px;
  z-index: 1001;
  color: white;
  background-color: black;
}
.bootstrap-opera #span-canvas-ECC-title {
  top: 1px;
  left: 17px;
}
.bootstrap-opera .modal-dialog {
  max-width: 95%;
  height: 900px;
  font-size: 0.9em;
}
.bootstrap-opera .modal-dialog p {
  margin-bottom: 0.5em;
}
.bootstrap-opera .row.ed-display,
.bootstrap-opera .row.ecc-display {
  display: flex;
  flex-wrap: wrap;
}
.bootstrap-opera .row.ed-display div,
.bootstrap-opera .row.ecc-display div {
  padding: 0 1em;
}
.bootstrap-opera .toolbar {
  font-size: 0.9em;
  font-weight: bold;
}
