{% set news = [
	('CMS open data release statement','	This first public release at the reconstructed data level is planned for September 2014. It will consist of files in AOD format from 2010 RunB, for which we know that a considerable amount of additional knowledge is required in order to obtain meaningful results.
	Therefore, the release will include a clear statement of the data complexity. For the biggest audience in education, simplified ready-to-use online examples are provided and the simplification is made clear. For other audiences, we need to provide basic documentation. More importantly, we need to make clear the limits of that documentation, which will be far from complete. In this way it is hoped that misunderstandings will be avoided and expectations managed appropriately.
	This document is a working area for the text to accompany the data release:','CMS',('7', ('https://www.dropbox.com/s/73kslose50jq9yz/OpenDataIntro.md',),('CMS', 'opendata', 'news', 'statement')), '1'),
	
	('News Title ','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nobis deserunt optio sed quis molestiae recusandae earum eveniet, tempore expedita dicta enim, totam quam, quasi mzinus consequatur. Ad, odit, sed.','admin',('3',(),('news', 'CMS')),'2'),
	
	('News Title ','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam excepturi nesciunt ipsa repellat in sit autem, id ducimus, ea impedit. Quidem quis modi debitis expedita! Sunt neque nemo ex animi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ducimus aut alias nulla quaerat aperiam consequuntur ratione, itaque quas labore veritatis doloremque maiores blanditiis ab voluptatibus neque. Accusamus ut, est.','admin',('3',(),()), '3'),
	
	('News Title ','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam fugiat nihil ipsum similique.','CMS',('3',(),()), '4'),
	('News Title ','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam fugiat nihil ipsum similique.','CMS',('3',(),()), '5'),
	
	('News Title','fdsgdfgfd','John Doe',('3',(),()), '6')
	] 
%}

{% set tags = [
	('ALICE','exp' ), 
	('CMS', 'exp'),  
	('news', 'gen'),
	('opendata', 'gen'),
	('release', 'gen'),
	('CERN', 'gen' ),
	('physics','class1')
	] 
%}