{% set news = [
	('CMS OpenData release statement','	This first public release at the reconstructed data level is planned for September 2014. It will consist of files in AOD format from 2010 RunB, for which we know that a considerable amount of additional knowledge is required in order to obtain meaningful results.
	Therefore, the release will include a clear statement of the data complexity. For the biggest audience in education, simplified ready-to-use online examples are provided and the simplification is made clear. For other audiences, we need to provide basic documentation. More importantly, we need to make clear the limits of that documentation, which will be far from complete. In this way it is hoped that misunderstandings will be avoided and expectations managed appropriately.
	This document is a working area for the text to accompany the data release:','CMS Collaboration',('7', (),('CMS', 'opendata', 'news', 'statement')), '1'),
	
	('ALICE OpenData ','<p>ALICE is making a public release of a number of datasets customised for 
		demonstration and educational purpose. A number of reconstructed data 
		files which are not statistically representative are included to allow 
		plotting transverse momentum and pseudorapidity distributions. More 
		advanced analysis and tools as well as larger data samples will be 
		available in future releases.</p><p>At this stage we are making available a set of outreach and educational 
	analysis exercises. These are based on specifically-selected ALICE data 
	and are widely used for the particle physics masterclasses. These 
	exercises expose simplified tools, which however give the feel of the 
	real tools employed by the physicists for the data analysis, and come in 
	the form of analysis packages and small datasets organised as root 
	files. Each analysis downloads on demand the required software and data 
	from a common graphics interface.</p><p>The documentation coming with these exercises contains both some physics 
	introduction and the instructions for running the programs, which 
	highlight some of the ALICE physics.  One exercise is the search for 
	particles containing strange quarks, based on their V0 decays; the 
	motivation is to give an insight to strangeness enhancement, one of the 
	first signatures for the Quark-Gluon Plasma (QGP).  Another exercise 
	basically looks at charged particle tracks; the aim is to calculate the 
	nuclear modification factor RAA, by comparing particle yields in the 
	case of lead-lead and proton-proton collisions; the fact that RAA is 
	less than one indicates the suppression of charged particles due to 
	interactions of partons with the QGP.</p>','ALICE Collaboration',('3',(),('news', 'ALICE', 'statements', 'opendata')),'2')
	]
%}

{% set tags = [
	('ALICE','exp' ), 
	('CMS', 'exp'),  
	('news', 'gen'),
	('opendata', 'gen'),
	('release', 'gen'),
	('CERN', 'gen' ),
	('physics','class1')
	] 
%}