{% extends "page.html" %}
{% set title = None %}

<!-- HERE starts the BODY -->
{% block body %}
 {{ super() }}

 <style>

.contentinfo {
	background-color: #899AA5;
	padding: 15px 0;
}

.contentinfo h3 {
	color: #fff;
	font-size: 23px;
	font-weight: 400;
}


.content {
	background-color: #B9CEDD;
	height: 500px;	
	color: #fff;
}

.loginBox {
	padding-top: 85px;
}

.loginBox .title {
	height: 60px;
	border-radius: 5px 5px 0 0;
	background-color: #A2B4C0;
	text-align: center;
	padding: 20px;
	color: #fff;
	font-size: 16px;
}

.loginBox .loginForm {
	border-radius: 0 0 5px 5px;
	background-color: #899AA5;
}

.loginBox .form-group {
	text-align: center;
	margin-top: 30px;
}

.loginForm input {
	border: 0;
	background-color: #fff;
	font-size: 16px;
	height: 30px;
	font-weight: 100;
	padding: 5px 10px;
	box-shadow: 0 0 3px #ccc;
	float: none;
}

.loginForm button {
	color: #fff;
}
.loginBox .loginForm {
	padding: 5px;
}

input[type=checkbox].checkbox {
	display: none;
	float: left;
}

.prettyCheckbox {
	border-radius: 0;
	float: left;
}

.prettyCheckbox + label {
	float: left;
	margin-left: 5px;
	color: #fff;
	font-weight: 300;
}

.loginBox .forgot {
	margin: 0;
	color: #fff;
}

.box-default {
	padding-top: 85px;
}

.box-default .box-title {
	height: 60px;
	border-radius: 5px 5px 0 0;
	background-color: #A2B4C0;
	text-align: center;
	padding: 20px;
	color: #fff;
	font-size: 16px;
}

.box-default .box-content {
	padding: 20px;
	display: inline-block;
	border-radius: 0 0 5px 5px;
	background-color: #899AA5;
}

</style>

{%- block breadcrumb %}
{%- endblock breadcrumb %}
<section class="contentinfo">
	<div class="container">
		<h3>Oups..</h3>
	</div>
</section>
<section class="content">
	<div class="box-default col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<div class="box-title">404 : Page not found</div>
		<div class="box-content">
			<p>The page you were looking for doesn't exist. Click the following link to go to the main page:</p>	
			<div class="col-md-4 col-md-offset-4">
				<a href="{{ url_for('invenio_opendata.index') }}">
					<button class="btn">Go to Main page</button>
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock body %}
