{% extends 'page.html' %}

{% block body %}

{% import 'helpers/general.html' as gen_utils %}

<section class="infobar">
  <div class="container">
    {{gen_utils.get_breadcrumbs(breadcrumbs)}}
  </div>
</section>

<section class="general content">
  <div class="container">
    <div id="LHCb" class="row">
      <div class="gen-header">
        <h1 class="col-md-12">About LHCb experiment</h1>
        <p class="col-md-12">
          The Large Hadron Collider (LHC) is not only a tool with which to search for exotic new particles, but also a factory of particles whose existence is in no doubt but whose precise properties are not yet known well enough. LHCb, unlike the other experiments ATLAS and CMS, which search  for new particles produced directly in the proton–proton collisions, is devoted to the study of well established particles, the beauty (B) and charmed (C) mesons. These particles, which comprise a bottom or charm quark or antiquark plus one other quark with a different “flavour”, only exist for about a trillionth of a second before decaying into lighter particles. But subtle quantum effects called loops, in which virtual particles are temporarily created by borrowing energy from the vacuum, can influence the behaviour of B and C mesons and give researchers a handle on particles that are too heavy to be produced directly.</p>
      </div>
      <div class="col-md-12">
        <div class="gen-box">
          <h2>About LHCb data</h2>
          <p>The following datasets for educational purposes obtained from LHCb data are provided through this portal:</p>
          <ul>
            <li>Event display datasets, containing events where a D0 meson decays into a Kaon and a Pion. These datasets can be displayed with LHCb simplified event display.</li>
            <li>About 60k events  where a D0 meson decays into a Kaon and a Pion. This dataset can be used to study signal and background distributions of variables characterizing the D0 decay and to measure the D0 lifetime.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="gen-box">
          <h2>LHCb Derived Datasets</h2>
          <p>
            <b><a href="http://lhcbproject.web.cern.ch/lhcbproject/dist/Masterclass/mclasseventv2_D0_1.root">D0 Masterclass events 1 </a> (175 files):</b>Each file contains 30 events recorded with LHCb detector. The events have been pre-selected using loose criteria to contain D0 meson candidates decaying into a Kaon and a Pion. It can be visualised with LHCb event display (link here).</p>
          <p>
            <b><a href="http://lhcbproject.web.cern.ch/lhcbproject/dist/Masterclass/MasterclassData.root">D0 Masterclass events 2 </a> (1 file):</b>This file contains about 60k events pre-selected  using loose criteria to contain D0 meson candidates decaying into a Kaon and a Pion. It can be accessed and analysed using LHCb D0 lifetime measurement code. (link here).</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="gen-box">
          <h2>LHCb Learning Resources</h2>
          <p><b>Physics Masterclasses: </b>LHCb is part of the International Masterclass Programme: each year, high-school students reach their nearby universities and become LHCb physicists for a day. Their goal is to select in real LHCb events a particular decay of the D0 meson, where a Kaon and a Pion are produced. On such events, the D0 lifetime is measured. <a href="http://lhcb-public.web.cern.ch/lhcb-public/en/LHCb-outreach/masterclasses/en/index.html">Go to page...</a></p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="gen-box">
          <h2>LHCb Tools</h2>
          <p><b>Event Display and D0 lifetime VM image: </b>VM image to run LHCb event display and the analysis to measure the D0 lifetime.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
