{% extends 'page.html' %}


{% block body %}
  <style>
    #about-cms {
      color: #606D75;
      text-align: justify;
    }
    #about-cms h1 {
      margin-bottom: 30px;
    }
    #about-cms p {
      font-weight: 100;
    }
    #about-cms h2 {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 30px;
      padding: 10px;
    }
    #about-cms ul, ol {
      display: inline-block;
      font-weight: 100;
      /*font-size: 16px;*/
    }
    #about-cms ul li, #about-cms ol li {
      padding-bottom: 5px;
      width: 100%;
    }
    #about-cms ul div>ul {
      margin-left: 20px;
    }
    #about-cms ol>li>div {
      font-weight: 400;
    }
    #about-cms ol>li>ul {
      margin-left: 20px;
      margin-top: 5px;
    }

    #about-cms .about-box {
      background-color: #f4f4f4;
      border-radius: 4px;
      display: inline-block;
    }

    #about-cms .about-box {
      background-color: #f4f4f4;
      padding: 15px;
      border-radius: 4px;
      display: inline-block;
      text-align: left;
      width: 100%;
      margin-bottom: 40px;
    }
    #about-cms .about-box h2 {
      background-color: #A2B4C0;
      color: #fff;
      width: auto;
      padding: 10px;
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 15px;
      margin-top: -15px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-size: 25px;
      font-weight: 100;
    }
    #about-cms .about-box .remember {
      padding-top: 20px;
      border-top: 1px solid #606D75;
      display: inline-block;
      margin-top: 20px;
    }
    #about-cms .about-box .remember p {
      padding-left: 15px;
      padding-right: 15px;
    }
    #about-cms .about-box .remember ul li {
      padding: 5px 15px;
      font-weight: 100;
      font-size: 16px;
      float: left;
      width: 100%;
      list-style: decimal;

    }
    @media (min-width: 922px) {
      #block-grid-container {
        -moz-column-count: 2;
        -moz-column-gap: 10px;
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        column-count: 2;
        column-gap: 10px;
        width: 100%;
        display: inline-block;
      }
      #block-grid-container .block-grid-item {
        display: inline-block;
        margin-bottom: 30px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    @media (max-width: 921px) {
      #block-grid-container {
        -moz-column-count: 1;
        -moz-column-gap: 10px;
        -webkit-column-count: 1;
        -webkit-column-gap: 10px;
        column-count: 1;
        column-gap: 10px;
        width: 100%;
        display: inline-block;
      }
      #block-grid-container .block-grid-item {
        display: inline-block;
        margin-bottom: 30px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

  </style>
  <script src="{{ url_for('static', filename='/vendors/masonry/masonry.js') }}"></script>


  <section class="infobar">
    <div class="container">
      <div class="pull-left">
        <h3>CMS OpenData</h3>
      </div>
    </div>
  </section>

  <section id="about-cms" class="content">
    <div class="container">
      <div id="CMS" class="row">
        <h1 class="col-md-12">About CMS</h1>
        <p class="col-md-12" style="font-size:20px;">The Compact Muon Solenoid (CMS) Experiment is one of the large particle detectors at CERN's Large Hadron Collider. The CMS Collaboration consists of more than 3000 scientists, engineers, technicians and students from 180+ institutes and universities from 40+ countries. You can find more information about the CMS <a href="http://cms.web.cern.ch/news/cms-detector-design">detector design</a> and <a href="http://cms.web.cern.ch/news/detector-overview">overview</a> on the official <a href="http://cern.ch/cms">CMS website</a>.</p>
        <h1 class="col-md-12">About CMS data</h1>
          <div class="col-md-12">
            <div class="about-box">
              <h2 id="specifics">Specifics</h2>
              <ul class="col-md-12 no-padding">
                <li>The open data are released under Creative Commons Zero (CC0). CMS or CERN do not endorse any works, scientific or otherwise, produced using these data.</li>
                <li>All releases will have a unique DOI that should be cited in any applications or publications.</li>
                <li>The data being made available are referred to as "reconstructed data": fragmented data from various sub-detectors are processed or "reconstructed" to provide coherent information about individual <a href="{{ url_for('about/CMS-Physics-Objects') }}">physics objects</a> such as electrons or particle jets.
                  <div>
                    <ul>
                      <li>Despite being processed, these high-level data remain complex and selection criteria need to be applied in order to analyse them, requiring some understanding of particle physics and detector functioning.</li>
                      <li>The data cannot be viewed in simple data tables for spreadsheet-based analyses. More information below, under <a href="#what-data">What data?</a></li>
                    </ul>
                  </div>
                </li>
                <li>Neither the data released nor the software version needed to analyse them are maintained or in active use.
                  <div>
                    <ul>
                      <li>CMS had just started data taking in 2010 and the methods have evolved since those early days, in particular to respond to the evolving beam conditions of the LHC.</li>
                      <li>More advanced techniques are used with recent data but the software is not compatible out-of-the-box with older data samples.</li>
                      <li>This may change in the future, with later releases better documented as part of the collaboration's data-preservation efforts.</li>
                    </ul>
                  </div>
                </li>
                <li>The release of 2010 data is not accompanied by any Monte Carlo data. Future releases may include this information.</li>
                <li>If you are interested in more, please contact nearest <a href="http://cms.web.cern.ch/content/cms-collaboration">CMS university/institute</a>.</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="about-box">
              <h2 id="tools">Accessing the data and analysis tools</h2>
              <p class="col-md-12 no-padding">The CMS data are available at different levels:</p>
              <ul class="col-md-12 no-padding">
                <li class="row">
                  <div class="col-md-12">1. Downloadable datasets</div>
                  <ul class="col-md-12">
                    <li>Primary (full reconstructed data)</li>
                    <li>Derived, simplified datasets</li>
                  </ul>
                </li>
                <li class="row">
                  <div class="col-md-12">2. Ready-to-use online applications</div>
                  <ul class="col-md-12">
                    <li>Event display</li>
                    <li>Simple histogramming</li>
                  </ul>
                </li>
                <li class="row">
                  <div class="col-md-12">3. Virtual Machine (VM) image</div>
                  <ul class="col-md-12">
                    <li>Downloadable</li>
                    <li>With simplified analysis examples</li>
                    <li>Contains all necessary CMS software with link to instructions:
                      <div class="col-md-row">
                        <ul>
                          <li>How to extract data for event displays</li>
                          <li>How to extract data for histograms</li>
                        </ul>
                      </div>
                    </li>
                    <li>Requires a host computer + VM software</li>
                    <li>Can access remote data or downloaded local primary datasets</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="about-box">
              <h2 id="what-data">What data?</h2>
              <ul class="col-md-12 no-padding">
                <li>AOD (Analysis Object Data) files contain the information that is needed for analysis:
                  <div>
                    <ul>
                      <li>all the high-level <a href="{{ url_for('about/CMS-Physics-Objects') }}">physics objects</a> (such as muons, electrons, etc.);</li>
                      <li>tracks with associated hits, calorimetric clusters with associated hits, vertices; and</li>
                      <li>information about event selection (triggers), data needed for further selection and identification criteria for the physics objects.</li>
                    </ul>
                  </div>
                </li>
                <li>It is not the final event interpretation with a simple list of particles.
                  <div>
                    <ul>
                      <li>It contains several instances of the same physics object (i.e. a jet reconstructed with different algorithms).</li>
                      <li>It may have double-counting (i.e. a physics object may appear as a single object of its own type, but it may also be part of a jet).</li>
                      <li>Additional knowledge is needed to define a "good" physics object.</li>
                      <li>Definition of same objects is different in each analysis.</li>
                    </ul>
                  </div>
                </li>
                <li>AOD files can be read in <a href="http://root.cern.ch/">ROOT</a>, but they cannot be opened (and understood) as simple data tables.</li>
                <li>Only the runs that are validated by data quality monitoring should be used in any analysis. The list of the validated runs is provided as a <a href="http://json.org/">JSON</a> file.</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="about-box">
              <h2 id="policies">Other CMS open data</h2>
              <ul class="col-md-12 no-padding">
                <li>All <a href="https://inspirehep.net/search?p=collaboration:' CMS'">CMS publications</a> are open access.</li>
                <li>Some of these papers also include open data in the form of additional tables, plots, graphs and <a href="https://rivet.hepforge.org/">Rivet</a> packages.</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="about-box">
              <h2 id="policies">Policies</h2>
              <ul class="col-md-12 no-padding">
                <li><a href="https://cms-docdb.cern.ch/cgi-bin/PublicDocDB/ShowDocument?docid=6032">Data preservation and open access policy</a></li>
                <li><a href="https://cms-docdb.cern.ch/cgi-bin/DocDB/ShowDocument?docid=12242">Papers by CMS members using public data </a></li>
              </ul>
            </div>
          </div>
        </div>
  </section>

{% endblock %}
