{% extends "page.html" %}

{%- css url_for('static', filename='css/home_carousel.css') %}

<!-- HERE ends the HEADER -->


<!-- HERE starts the BODY -->
{% block page_body %}
{% block body %}
 {{ super() }}
<style>
.intro .imagebox img {
	height: 85%;
}
.intro .inneritem  {
	margin: 30px 60px;
	display: inline-block;
}
.intro .entrypoints  {
	color: #fff;
	font-size: 50px;
	font-weight: 200;
	padding: 0;
	margin: 10px 0;
	text-align: left;
}

.intro .entryactions li {
	width: 100%;
	font-weight: 300;
	font-size: 25px;
}
.intro .entryactions li span {
	margin-right: 10px;
	width: 30px;
	text-align: center;
}
.intro .entryactions {
	float: left;
	text-align: left;
}

.entryactions span.fa-chevron-right {
	font-size: 15px;
	margin-left: 5px;
	margin-right: 0;
}

.intro .news .ntitle {
    display: inline-block;
}

.intro .news .ntitle  {
    float: left;
    width: auto;
    height: 25px;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
}
.intro .news .ndate {
    width: auto;
    font-size: 10px;
    float: left;
    height: 25px;
    position: relative;
}
.intro .news .nbody {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 100;
}
.intro .news .ndate span {
    bottom: 0;
    display: inline-block;
    margin: 15px 5px;

}
.intro .news .nbody span {
    font-size: 16px;
    float: left;
}

.intro .news h5 {
	float: left;
	font-size: 50px;
	font-weight: 200;
	margin-top: 0;
}

.intro .item .newsimg {
	margin-top: 10px;
}
.intro  .item .newsimg img {
float: left;
height: 130px;
width: 200px;
}


.searchForm form {
	margin-top: 15px;
}

.searchForm input {
	height: 35px;
	font-size: 18px;
	float: left;
	width: 400px;
	border-radius: 2px 0 0 0;
}

.searchForm button {
	height: 35px;
	float: left;
	font-size: 16px;
	width: auto;
	background-color: #606D75;
	border-radius: 0 2px 0 0;
	border: 0;
}

.collections .nav ul > a {
	float: left;
}

</style>



<section class="intro">
<div class="carouselBlock container">
<div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousell"
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <div class="carousel-caption">
              <div class="inneritem education">
				<div class="imagebox col-md-6">
					<img src="{{ url_for('static', filename='/img/education3.png') }}" alt="">
				</div>
				<div class="col-md-6">
					<div class="entrypoints"><a href="#">For Education</a></div>
					<div class="entryactions">
						<div>
							<ul>
								<li><span class="fa fa-play-circle-o"></span>Visualise detector events <span class="fa fa-chevron-right"></span></li>
								<li><span class="fa fa-flash"></span>Visualise data histograms<span class="fa fa-chevron-right"></span></li>
								<li><span class="fa fa-cube"></span>Learn more <span class="fa fa-chevron-right"></span></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
            </div>
        </div>
        <div class="item">
	            <div class="carousel-caption">
	              <div class="inneritem research">
					<div class="col-md-6">
						<div class="imagebox">
							<img src="{{ url_for('static', filename='/img/research1.png') }}" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="entrypoints"><a href="#">For Research</a></div>
						<div class="entryactions">
							<div>
								<ul>
									<li><span class="fa fa-database"></span>Download <b>Virtual Machine</b> image <span class="fa fa-chevron-right"></span></li>
								<li><span class="fa fa-ge"></span>Access data via <b>XROOTD</b> streaming <span class="fa fa-chevron-right"></span></li>
								<li><span class="fa fa-lightbulb-o"></span>Learn more <span class="fa fa-chevron-right"></span></li>
								</ul>
							</div>
						</div>
					</div>
									</div>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
              	<div class="col-md-5 pull-left newsimg">
					<img src=" {{ url_for('static', filename='/img/opendata/news1.jpg') }}" alt="" class="col-md-6 no-padding">
					<img src=" {{ url_for('static', filename='/img/opendata/news2.jpg') }}" alt="" class="col-md-6 no-padding">
					<img src=" {{ url_for('static', filename='/img/opendata/news4.jpg') }}" alt="" class="col-md-6 no-padding">
					<img src=" {{ url_for('static', filename='/img/opendata/news3.jpg') }}" alt="" class="col-md-6 no-padding">
				</div>
				<div class="col-md-7 pull-right">
					<div class="news box">
						<h5>Latest News</h5>
						<ul>
							<li>
								<ul class="nbox">
									<li class="ntitle">CMS open data release</li>
									<li class="ndate"><span>2014-09-30</span></li>
									<li class="nbody"><span>Today CMS is releasing its data in open access! Play, visualise it here..</span></li>
								</ul>
							</li>
							<li>
								<ul class="nbox">
									<li class="ntitle">Some more news</li>
									<li class="ndate"><span>2014-08-24</span></li></li>
									<li class="nbody"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea asperiores quidem consectetur perferendis accusamus, officia quos.</span></li>
								</ul>
							</li>
							<li>
								<ul class="nbox">
									<li class="ntitle">Some more news news news</li>
									<li class="ndate"><span>2014-05-04</span></li>
									<li class="nbody"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
								</ul>
							</li>
							<li>
								<ul class="nbox">
									<li class="ntitle">News news</li>
									<li class="ndate"><span>2013-12-20</span></li>
									<li class="nbody"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea asperiores quidem.</span></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				
            </div>
        </div>
    </div>
</div>
</div>
</section>

<section class="collections">
	{% with show_searchbar = true %}
		{% include 'collections_list.html' %}
	{% endwith %}
	</section>
	
<style>
	.info {
		padding: 20px 0;
		height: auto;
	}

	.testimonial {
		color: #fff;
	}
	.testimonial .quote span.fa {
		font-size: 20px;
		font-style: italic;
		margin: 8px;
		width: 100%;
	}
	.testimonial .quote {
		font-size: 17px;
		font-style: italic;
	}

	.testimonial .quote .text {
		padding: 7px;
		display: inline-block;
	}

	.testimonial .details {
		float: right;
		width: 60%;
		font-weight: 100;
		font-size: 15px;
		text-align: right;
	}
</style>

<section >
	<div class="info">
		<div class="container">
			{% include 'testimonials.html' %}
		</div>
	</div>
	<div class="info dark"></div>
</section>
{% endblock body %}
{% endblock page_body %}
<!-- HERE ends the BODY -->

{% block javascript %}
	{{ super() }}
<script type="text/javascript">
$(document).ready(function(){
     $("#myCarousel").carousel({
         interval : 3000
     });
});
</script>


{% endblock javascript%}
