{% extends 'page.html' %}

{% block body %}

{% import 'helpers/general.html' as gen_utils %}

  <section class="infobar">
    <div class="container">
      {{ gen_utils.get_breadcrumbs(breadcrumbs, exp) }}
    </div>
  </section>

  <section id="pileup-sim" class="general content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>CMS Pile-up Simulation</h2>
          <p>
            Monte Carlo simulation of pileup is controlled by the code and configuration files
            of the package SimGeneral/MixingModule.
            An input distribution (histogram, seen below) is specified for each set of production samples
            which is supposed to represent the distribution of the mean number of interactions
            seen during data-taking. The simulation proceeds as follows:
          </p>
          <ol>
            <li>
                For each event, the mean number of interactions per crossing is chosen from the input histogram.
                This sets the instantaneous luminosity to be simulated for all of the bunch crossings in that event.
                For each event, this value is recorded as the "true" number of interactions (TrueNumInteractions).
            </li>
            <li>
                For each bunch crossing, both in- and out-of-time, the number of interactions is randomly sampled
                from a poisson distribution with a mean equal to the value chosen in (1).
                Note that this implies that all bunches have the same instantaneous luminosity, rather than allowing
                for bunch-to-bunch luminosity variation. In practice, the spread of bunch-by-bunch luminosities is
                much smaller than the poisson distribution, so this effect is negligible. One might evolve the simulation
                to include such features as the beginning or end of bunch trains, where the out-of-time pile-up will have a
                significantly different luminosity structure (i.e., there is none, either before or after a given event).
                Since the bunch trains are quite long, this effect of ignoring these variations is likely to be negligible as well.
                The number of interactions that is actually included in each bunch crossing is also recorded (num_PU_vertices_).
            </li>
          </ol>
          <p>
            <img src="{{ url_for('static', filename='img/pileup_2011_plot.jpg') }}" alt="" class="img-circle center-block">
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
