{% extends "page.html" %}

{% import "helpers/text/cms_validation_report.html" as vr %}

{% block body %}
{% import 'helpers/general.html' as gen_utils %}

<style>
	#validation.content {
		color: #606D75;
		font-weight: 100;
		font-size: 15px;
	}

	#validation h3{
		margin-bottom: 20px;
	}
	#validation h4{
		float: left;
		margin: 0;
		margin-right: 10px;
	}
	#validation p {
		text-align: justify;
	}
	#validation .test-env-listings {
		margin: 15px 0;
		background-color: #f4f4f4;
		border-radius: 3px;
		display: inline-block;
	}
	#validation .test-env-listings .title {
		background-color: #606D75;
		color: #fff;
		border-radius: 3px 3px 0 0;
		text-align: center;
		font-size: 12px;
		padding: 10px 0;
	}
	#validation .test-env-listings .title h3 {
		font-size: 18px;
		font-weight: 400;
		margin: 5px 0;
	}
	#validation .test-env-listings .group-title {
		margin-left: -15px;
		margin-right: -15px;
		text-align: center;
		background-color: #fff;
		font-size: 15px;
		padding: 10px;
	}
	#validation .test-env-listings ul.row {
		margin-bottom: 0;
	}
	#validation .test-env-listings li {
		width: 100%;
		border-bottom: 1px dashed #606D75;
		padding: 5px 0;
	}
	#validation .test-env-listings .listing > div {
		border-left: 1px solid #606D75;
		border-right: 1px solid #606D75;
		font-size: 14px;
	}
	#validation .test-env-listings li .col-md-8 {
		border-left: 1px dashed #606D75;
	}
	#validation.content {
		margin-bottom: 80px;
	}

</style>

<section class="infobar">
	<div class="container">
      {{ gen_utils.get_breadcrumbs(breadcrumbs, exp, exp) }}
	</div>
</section>

<section id="validation" class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Testing the CernVM</h2>
				<h5 style="font-weight:100">The CMS-specific CERN Virtual Machine has been tested on several operating systems, VM softwares and hardware configurations. Below you will find a full list of tested machines and configurations, along with issues faced during testing. Please note that we cannot guarantee that the VM will work under all conditions.</h5>
			</div>
			<div class="col-md-12">
				<h3>Overview</h3>
				<div>
					<h4>Testing Process</h4>
					<p>Usually the testing chain starts from setting up the environment from the very start, including installing the host operating system. These host systems are usually installed as a native system, though some systems were only (or in addition) tested as a virtual machine host. For example an iMac with OS X installed on it hosts a Ubuntu virtual machine which in turn hosts the actual Cern VM machine.</p>
					<p>Also the process has often included testing images on a system that already has many packages/applications installed and is used daily for different tasks. This is done to find possible conflicts between applications on different setups and to mimic a “normal system” that a person interested in using the CernVM could be using.</p>
					<p>On many systems, I also test several GPU drivers and versions. After I've got all the basic necessities to run an operating system, I install some basic drivers or leave the default ones, if there is some. After that I shortly test the functionality of the VM including mostly graphic rendering related stuff such as GUI behaviour and just basic usability. After this I continue to install some more often used and/or powerful drivers, such as Nvidia proprietary drivers over open source Nouveau on some Linux distributions and hardware setups for example. On Windows this stage often consists more of testing different proprietary software driver versions from GPU manufacturers.</p>
					<p>After setting up the environment I continue to follow the process mainly the same way as the “User Instructions” wiki page states, producing an .ig file for the event displayer. After reading the data and getting a file, I continue to transferring the file to a location where it's accessible by an operating system running an event displayer and making sure that the produced file actually works.</p>
				</div>
				<div>
					<h4>Tested Environments</h4>
					<p>The tested hardware and software has basically depended on availability. Software-wise there has been some limitations mainly due to licensing issues and delays in getting the licenses. These include some delays on testing proprietary operating systems, usually when they have to be installed on new hardware. Also testing of Vmware virtualisation software have been very limited in comparison to VirtualBox mainly due to licensing and differences in the testing process, of course lack of time has its part to play aswell. Also, one of the main things that affect the choices when deciding what to prioritise is the size of the user base. For these reasons I've mainly tested the image on VirtualBox when it comes to hypervisors, and that's also the suggested software to be used with the image. Same goes for example for testing outdated/unsupported versions of operating systems.</p>
					<p>When it comes to hardware, there hasn't been limitations other than the availability. I've tested several processor and motherboard combinations and a lot of GPUs. Also the amount of RAM has been easy to increase or decrease on some combinations.</p>
				</div>
				<div class="test-env-listings">
						<div class="col-md-12 title">
							<h3>Specific listing of the tested environments</h3>
							<span>(This is a list of all components used during this testing)</span>
						</div>
						<div class="listing">
						{{ get_test_listing(vr.test_envs[0]) }}
				</div>
			</div>
			<div>
				<h3>Results</h3>
				<p>From the platforms I've tested so far, it seems that the functionality of the guest machines are mainly identical as it is supposed to be. Only differences being the handling of some host depending operations such as transferring files and handling DPI settings. All the problems I've encountered have either depended on fault in host configuration, or it's an issue on every platform.</p>
			</div>
			<div>
				<h3>Issues</h3>
				<div>
					<h4>DPI</h4>
					<p>This concerns users who use high resolutions on small displays and have set their host machines DPI manually, for example through .Xresources on Linux (X11). The problem is that everything is too small to be read efficiently due to DPI set incorrectly. This can also be helpful to users who have difficulties in reading the fonts and other visual information on the image due to the size of the graphical components.</p>
					<p>DPI can easily be adjusted from Xfce menu -> Preferences -> Appearance -> Fonts -> DPI. This enhances the readability and general usability significantly.</p>
				</div>
				<div>
					<h4>Hardware virtualisation support</h4>
					<p>Enabling the "virtual technology" on some hardware combinations is necessary. This can be done from the BIOS/UEFI when host machine is booting by accessing the settings. User should refer to the documentation of the host machine or the documentation of the motherboard to access these settings. Common terms for these are Intel VT-x or AMD-V depending on motherboard.</p>
				</div>
				<div>
					<h4>Keyboard layout</h4>
					<p>The VM doesn’t inherit the keyboard layout of the host machine. The layout can be changed by using setxkbmap from a terminal. For example a user with a Swiss keyboard with French variant would type in the console: setxkbmap 'ch(fr)' and a user with a Finnish keyboard would do: setxkbmap fi.</p>
					<p>This can also be solved by using the GUI, which can be launched either from the graphical menu in the lower left corner (Preferences -> Keyboard) or by typing in the console: xfce4-keyboard-settings. In the Layout tab it’s possible to change the keyboard model and the layout. To keep these settings after reboot, all the other layouts from the menu should be deleted.</p>
				</div>
				<div>
					<h4>Special characters</h4>
					<p>The default terminal doesn’t accept (not even from clipboard) nor display certain language specific characters such as umlauts. Using an alternative terminal such as xterm will allow reading and writing special characters.</p>
				</div>
				<div>
					<h4>Launching applications</h4>
					<p>The shortcut for the text editor that can be found in the panel points to a wrong application thus producing an error message: Failed to launch “Editor”: Failed to execute child process “mousepad” (No such file or directory).</p>
					<p>This can be fixed by referring to the correct application by right clicking the shortcut, choosing properties and changing the command section from “mousepad” to “leafpad”.</p>
					<p>Also when opening the web browser, the default home page “file:///usr/share/doc/HTML/index.html” isn't found and doesn't even exist on the image.</p>
				</div>
				<div>
					<h4>Terminal color scheme</h4>
					<p>Colors of the default terminal emulator are pretty unreadable even with good displays. For example some basic commands such as ls will produce too dark output compared against the background to be easy and pleasant to read. This problem is even more true for weaker displays and in a brighter work environment. The colors can be tweaked from the preferences of the terminal emulator, but the default settings should probably be changed.</p>
				</div>
				<div>
					<h4>Network</h4>
					<p>The error message "Could not start the machine CMS Open Data because the following physical network interfaces were not found: vboxnet0 (adapter 2). You can either change the machine's network settings or stop the machine." comes up with every combination of hardware and software that I have tested. Changing the network adapter 2 to use NAT from Virtual Machine settings fixes the problem.</p>
				</div>
				<div>
					<h4>Conflicts between applications</h4>
					<p>There has been issues in the latest releases of VirtualBox (4.3.14) when used on a host with an antivirus software. The problem is the VirtualBox build, not the antivirus software of choice, and is currently being worked on by Oracle. Upgrading to latest version or to a test build fixes some of these issues and will continue to do so in the future, so highlighting the importance of having the latest version of VirtualBox to the user is important. These problems also seem to rise only when it's a new virtual machine.</p>
				</div>
				<div>
					<h4>Host modules</h4>
					<p>On Linux, it's necessary to manually load VirtualBox kernel modules after host machine's kernel upgrade if the host machine hasn't been rebooted after the update.</p>
				</div>
				<div>
					<h4>Kernel headers</h4>
					<p>Vmware will produce an error about kernel headers not found if they don't exist on the host. After installing and/or upgrading the headers and the kernel, the host machine must be booted to match the versions of current kernel headers.</p>
					<p>Some of the issues and solutions I've reported could improve the user experience significantly and make the whole concept to feel more complete and reliable. In addition to improvements on color schemes and other minor fixes such as correcting the text editor shortcut path, the location of shared folders (between host and guest) on the guest could be indicated somewhere. Even if users are familiar with linux mount points and such there are differences between distros (eg. /media vs /mnt). This is even more important to users who are unable to use scp (Windows users for example) and have to use shared folders and find the created folder from the guest machine.</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}



{% macro get_test_listing(test_envs) %}
{% for g in test_envs %}
<div class="col-md-12 col-sm-12">
	<div class="group-title">{{g['group']}}</div>
	<ul class="row">
		{% for i in g['items'] %}
		<li>
			<div class="col-md-4">{{i.title}}</div>
			<div class="col-md-8">{{ '----' if not i.body else i.body}}</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endfor %}
{% endmacro %}
