{% extends "page.html" %}



{% block body %}

  <style>

    #vm_howto_content > .row {
      margin-bottom: 20px;
    }

    .tab-pane .about .title {
      font-weight: 600;
      font-size: 28px;
      padding-bottom: 30px;
    }

    .coll-exp .thumb {
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 20px;
    }
    .coll-exp .thumb img {
      height: 120px;
      padding: 5px;
      border-radius: 5px;
      font-size: 30px;
      font-weight: 100px;
    }

    .coll-exp .title span{
      float: left;
      font-size: 16px;
      font-weight: 400;

    }
    .coll-exp .other {
      padding-bottom: 25px;
      height: 100%;
      max-height: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .coll-exp .other span {
      height: 120px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }
    .coll-exp .exp-name {
      padding: 20px;
      font-size: 26px;
      font-weight: 100;
      color: #657580;
    }

    .coll-exp {
      background-color: #f4f4f4;
      padding: 30px;
      text-align: center;
      height: auto;
      display: inline-block;
      font-weight: 100;
      border-radius: 5px;
      color: #657580;
      margin-bottom: 20px;
      width: 100%;
    }

  </style>

  {% import 'helpers/general.html' as gen_utils %}
  {% with collection = 0 %}
    {% include 'search/form/index.html' %}
  {% endwith %}
  {% import 'helpers/text/vms_page.html' as text %}

  <section class="infobar">
    <div class="container">
      {{ gen_utils.get_breadcrumbs(breadcrumbs, exp, exp_names) }}
    </div>
  </section>

  <section class="general content">
    <div class="container">
      
      <div class="tab-content">
        <div class="tab-pane fade {% if exp not in exp_names %} in active {% endif %}" id="general">
          <div class="gen-header">
            <h1>{{ text.about_msg()}}</h1>
          </div>
          <div class="row">
            {% for e in exp_names %}
            <div class="col-md-6">
              <a href="{{ url_for((request.path|splitthem)[1]+'/'+e) }}">
                <div class="coll-exp">
                  <div class="top col-md-12">
                    <div class="col-md-6 col-md-offset-3 thumb"><img src="{{ url_for('static', filename='img/'+e+'.gif') }}" alt="" class="img-cirle center-block"></div>
                    <div class="col-md-12 exp-name">{{e}} Virtual Machines</div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="tab-pane fade {% if exp == 'CMS' %} in active {% endif %}" id="CMS">
          <div class="row">
            <div class="about">
              <h1>{{ text.about_cms_msg(url_for('getting-started/CMS'))}}</h1>
            </div>
            <div class="col-md-12">
              <ol class="gen-menu">
                <li>
                  <a href="#how">1. How to install a CERN VM</a>
                </li>
                <li>
                  <a href="#issues">2. Issues & Limitations</a>
                </li>
              </ol>
            </div>
            <h1 class="col-sm-12">How to install a CERN Virtual Machine</h1>
            <div class="col-sm-12">
              <div class="gen-box">{{ text.install_s1() }}</div>
            </div>
            <div class="col-sm-12">
              <div class="gen-box">{{ text.install_s2(url_for('.metadata', recid = 250)) }}</div>
            </div>

            <h1 class="col-sm-12">How to Test & Validate?</h1>
            <div class="col-sm-12">
              <div class="gen-box">
                {{ text.validate_s1() }}
              </div>
            </div>

            <h1 class="col-sm-12">Known Issues & Limitations</h1>
            <div class="col-sm-12">
              <div class="gen-box">
                {{ text.validate_s2(url_for('VM/CMS/validation/report')) }}
              </div>
            </div>
            <div class="col-sm-12">
              <div class="gen-box">
                {{ text.limitation_s1() }}
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade {% if exp == 'ALICE' %} in active {% endif %}" id="ALICE">
          {% include 'helpers/text/vms_alice_page.html' %}
        </div>
        <div class="tab-pane fade {% if exp == 'LHCb' %} in active {% endif %}" id="LHCb">
          {% include 'helpers/text/vms_lhcb_page.html' %}
        </div>
      </div>

    </div>

  </section>


{% endblock %}

{%- block javascript %}
{{super()}}
<script>
$(document).ready(function() {
  // add a hash to the URL when the user clicks on a tab
  $('a[data-toggle="tab"]').on('click', function(e) {
    history.pushState(null, null, $(this).attr('href'));
  });
  // navigate to a tab when the history changes
  window.addEventListener("popstate", function(e) {
    var activeTab = $('[href="' + location.pathname + '"]');
    if (activeTab.length) {
      activeTab.tab('show');
    } else {
      $('.nav-tabs a:first').tab('show');
    }
  });
});
</script>
{% endblock %}
