{% extends "page.html" %}



{% block body %}

<style>
	
.howto_step .heading {
	width: 100%;
	background-color: #f4f4f4;
	font-size: 20px;
	font-weight: 100;
	color: #606D75;
	padding: 15px 10px;
	/*border-right: 5px solid #606D75;*/
	border-left: 5px solid #606D75;
}
.howto_step .body {
	padding: 15px;
	background-color: #e6e6e6;
	font-size: 16px;
	
}
.howto_step .body {
	color: #606D75;
}
.howto_step .body p {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	color: #606D75;

}

.howto_step .it	 {
	margin-bottom: 5px;
}

#create.howto_step  .body .row:nth-child(2n) {
	background-color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
}

#vm_howto_nav ul {
	background-color: #f4f4f4;
}
#vm_howto_nav ul li {
	background-color: #f4f4f4;
}
#vm_howto_nav ul li a,
#vm_howto_nav ul li a:hover,
#vm_howto_nav ul li a:focus {
	color: #777;
	font-weight: 100;
	font-size: 18px;
	height: 55px;
}

.title.info_title h5 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: 100;
	color: #657580;	
}

.about {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #657580;
}
.about h4 {
	font-size: 20px;
	text-align: justify;
	font-weight: 100;
}

span.circleme {
	border-radius: 50%;
	height: 40px;
	background-color: #777;
	color: #fff;
	width: 40px;
	display: block;
	padding: 10px 0;
	font-size: 20px;
	text-align: center;
	float: left;
	margin-top: -8px;
	margin-right: 10px;
}

.body pre {
	margin-left: 14px;
	margin-right: 15px;
	text-align: left;
}

#vm_howto_content > .row {
	margin-bottom: 20px;
}
</style>

{% with collection = 0 %}
{% include 'search/form/index.html' %}
{% endwith %}
{% import 'helpers/text/vms_page.html' as text %}

<section class="infobar">
	<div class="container">
		<div class="pull-left">
			<a href="{{ url_for('news') }}"><h3>CERN Virtual Machines</h3></a>
		</div>
		<div class="pull-right">
			<ul class="exp-switch nav nav-tabs" role="tablist">
				<li class="active"><a href="#CMS" role="tab" data-toggle="tab">CMS</a></li>
				<li><a href="#ALICE" role="tab" data-toggle="tab">ALICE</a></li>
			</ul>
		</div>
	</div>
</section>

<section class="content">
	<div class="container">
		<div class="tab-pane fade in active" id="CMS">
			<div class="about">
				<h4>{{ text.about_msg(url_for('cms/getstarted'))}}</h4>
			</div>
			<div class="row">
				<nav id="vm_howto_nav" class="navbar col-md-12" role="navigation">
					<ul class="nav navbar-nav col-md-12">
						<li><a href="#install"><span class="circleme">1</span> How to install a CERN VM</a></li>
						<li><a href="#validate"><span class="circleme">2</span>Testing & Validation Process</a></li>
						<li><a href="#limitation"><span class="circleme">3</span>Issues & Limitations</a></li>
					</ul>
				</nav>
			</div>
			
			<div id="vm_howto_content" data-spy="scroll" data-target="#vm_howto_nav" data-offset="300">
				<div id="install" class="row">	
					<div class="title info_title col-md-12"><h5>How to install a CERN Virtual Machine</h5></div>
					<div id="vbox" class="howto_step col-md-12">
						{{ text.install_s1() }}
					</div>
					<div id="create" class="howto_step col-md-12">
						{{ text.install_s2() }}
					</div>
				</div>
				<div id="validate" class="row">
					<div class="title info_title col-md-12"><h5>How to Test & Validate?</h5></div>
					<div class="howto_step col-md-12">
						{{ text.validate_s1() }} 
					</div>
					<div class="howto_step col-md-12">
						{{ text.validate_s2() }} 
					</div>
				</div>
				<div id="limitation" class="row">
					<div class="title info_title col-md-12"><h5>Known Issues & Limitations</h5></div>
					<div class="howto_step col-md-12">
						{{ text.limitation_s1() }}
					</div>		
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="ALICE">
			<div class="row"></div>
		</div>
	</div>

</section>


{% endblock %}