{%- extends 'page.html' %}


{% block body %}
  {% with collection = 0 %}
    {% include 'search/form/index.html' %}
  {% endwith %}

  <section class="infobar">
    <div class="container">
      <h3>For Education</h3>
      <div style="width:100%;padding:20px 0;font-size:15px;font-weight:100;text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus minima odio odit reiciendis eum ipsam iste in voluptate culpa sed. Suscipit minus, reprehenderit hic fugit quae eligendi quia provident id?</div>
    </div>
  </section>


  <section class="entrypoint_collections">
    <div class="nav collections-nav">
      <div class="container">
        <div class="row">
          {% block leftside_actions %}
            <ul class="pull-left col-md-7 nav nav-tabs" role="tablist">
              <li {% if exp in ['CMS','all'] %} class="active" {% endif %}><a href="#CMS" role="tab" data-toggle="tab"></span>CMS</a></li>
              <li {% if exp == 'ALICE' %} class="active" {% endif %}><a href="#ALICE" role="tab" data-toggle="tab"></span>ALICE</a></li>
            </ul>
          {% endblock leftside_actions %}
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade {%  if exp in ['CMS','all'] %}in active{% endif%}" id="CMS">
        <section class="subcollection_desc">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12">
                  {% set coll_portalboxes = {'desc': 'Description goes here..', 'image': 'default.png'} %}
                  {% for pb in cms_collection.portalboxes %}
                  {% if (pb.portalbox.title == 'description') %}
                  {% if coll_portalboxes.update({'desc': pb.portalbox.body}) %}{% endif %}
                  {% elif (pb.portalbox.title == 'image') %}
                  {% if coll_portalboxes.update({'image': pb.portalbox.body}) %}{% endif %}
                  {% endif %}
                  {% endfor %}
                  <div class="coll-thumb">
                    <img src="{{ url_for('static', filename='img/'+coll_portalboxes['image']) }}" alt="">
                  </div>
                  <div class="coll-desc">
                    {{ cms_collection.portalboxes[0].portalbox.body }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% with exp_collection = cms_collection %}
          {% include "helpers/collections_educate.html" %}
        {% endwith %}
      </div>
      <div class="tab-pane fade {%  if exp in ['ALICE'] %}in active{% endif%}" id="ALICE">
        <section class="subcollection_desc">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12">
                  {% set coll_portalboxes = {'desc': 'Description goes here..', 'image': 'default.png'} %}
                  {% for pb in alice_collection.portalboxes %}
                  {% if (pb.portalbox.title == 'description') %}
                  {% if coll_portalboxes.update({'desc': pb.portalbox.body}) %}{% endif %}
                  {% elif (pb.portalbox.title == 'image') %}
                  {% if coll_portalboxes.update({'image': pb.portalbox.body}) %}{% endif %}
                  {% endif %}
                  {% endfor %}
                  <div class="coll-thumb">
                    <img src="{{ url_for('static', filename='img/'+coll_portalboxes['image']) }}" alt="">
                  </div>
                  <div class="coll-desc">
                    {{ alice_collection.portalboxes[0].portalbox.body }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% with exp_collection = alice_collection %}
          {% include "helpers/collections_educate.html" %}
        {% endwith %}
      </div>
    </div> 

  </section>

  <section class="visualise">
    <div class="events">
      <div class="container">
        <div class="row">
          <div class="col-md-4 imagebox pull-left"><img src="{{ url_for('static', filename='img/data-event.jpg') }}" class="cener-block" alt=""></div>
          <div class="col-md-8 actions">
            <div class="details">
              <h4>Visualise Detector Events</h4>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, sunt, voluptate neque fugit tempora harum. Repudiandae unde molestias eaque similique, consequatur consectetur expedita tenetur minus minima doloribus, ut temporibus quisquam!</span>
            </div>
            <ul>
              <li><a href="{{ url_for('visualise/events') }}">Visualise Events<span class="fa fa-chevron-circle-right"></span></a></li>
              <li><a href="{{ url_for('getstarted')}}">Guides & References</a><span class="fa fa-chevron-circle-right"></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="histograms">
      <div class="container">
        <div class="row">
          <div class="col-md-4 imagebox pull-right      "><img src="{{ url_for('static', filename='img/graph_histo.png') }}" alt="" class="centr-block"></div>
          <div class="col-md-8 actions">
            <div class="details">
              <h4>Visualise Data Histograms</h4>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis neque tempora illum repudiandae. Soluta quos mollitia vero, nam at odit asperiores, omnis magni et minus quia nesciunt, praesentium officia totam?</span>
            </div>
            <ul>
              <li><a href="{{ url_for('visualise/histograms')}}">Visualise Histograms</a><span class="fa fa-chevron-circle-right"></span></li>
              <li><a href="{{ url_for('getstarted')}}">Guides & References</a><span class="fa fa-chevron-circle-right"></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="learn">
    <div class="container">
      <div class="thumbbox">
        <div class="col-md-4">
          <img src="{{ url_for('static', filename='img/edu_img_1.png') }}" alt="" class="img-circle center-block">
        </div>
        <div class="col-md-4">
          <img src="{{ url_for('static', filename='img/edu_img_2.jpg') }}" alt="" class="img-circle center-block">
        </div>
        <div class="col-md-4">
          <img src="{{ url_for('static', filename='img/edu_img_3.png') }}" alt="" class="img-circle center-block">
        </div>
      </div>
    </div>
    <div class="slogan container">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut incidunt pariatur repellat amet adipisci nostrum ex officia obcaecati illum dolorum, ipsum cumque molestiae aspernatur delectus enim numquam, tempora deleniti velit?</h3>
    </div>
  </section>
{% endblock body %}
