{%- extends 'page.html' %}

{% block body %}

<style>

.coltitle {
  color: #fff;
}
.infobar p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

#subcollection {
  padding-top: 30px;
  padding-bottom: 30px;
}

#subcollection a,
#subcollection a:hover
#subcollection a:focus {
  color: #666;
  text-decoration: none;
}

.websearch.clearfix {
  padding-top: 30px;
  padding-bottom: 30px;
}

#subcollection .collection.clearfix {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
}
#subcollection .collection.clearfix h4 {
  font-weight: 300;
}

#subcollection .collection .nav {
  background-color: #fff;
  margin-left: -10px;
  margin-right: -10px;
}

#subcollection .collection .nav li {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

#subcollection .collection .nav li a {
  float: left;
  padding: 0;
  padding-right: 5px;
  color: #666;
  font-weight: 600;

}

#subcollection .collection-res {
  background-color: #f4f4f4;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

#subcollection .collection-res .nav {
  background-color: inherit;
}
#subcollection .collection-res > .row:nth-child(2n+1) {
  background-color: #fff;
}

#subcollection .collection-res > .row:nth-child(2n) a.dropdown-toggle {
  background-color: #fff;
}

#subcollection .collection-res > .row:nth-child(2n+1) a.dropdown-toggle {
  background-color: #eee;
}

#subcollection .record-brief .record-header {
  font-size: 18px;
  font-weight: 600;
}
#subcollection .record-brief .record-header a{
  text-decoration: none;
}

#subcollection .record-brief p{
  font-size: 14px;
}
#subcollection .record-brief a {
  text-decoration: underline;
}

#subcollection .collection > ul li  {

}

#subcollection .coll-overview ul.nav {
  background-color: inherit;
  margin-right: -15px;
  margin-left: -15px;
}

#subcollection .coll-overview ul.nav li {
  padding-right: 15px;
  padding-left: 15px;
}
#subcollection .coll-overview .coll-box {
  background-color: #f4f4f4;
  padding: 20px 15px;
  text-align: center;
  height: auto;
  display: inline-block;
  font-weight: 100;
  border-radius: 5px;
  color: #657580;
  margin-bottom: 20px;
}

#subcollection .coll-overview .coll-box .thumb img {
  height: 120px;
  padding: 5px;
  font-size: 30px;
  font-weight: 100px;
}
#subcollection .coll-overview .coll-box .top{
  display: inline-block;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
}
#subcollection .coll-overview .coll-box .bottom {
  display: inline-block;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 300;
}
#subcollection .coll-overview .coll-box .top .title {
  margin-bottom: 10px;
}
#subcollection .coll-overview .coll-box .bottom > div {
  text-align: center;
}
#subcollection .coll-overview .coll-box .bottom .totalrecs .coll-rec-num {
  font-size: 26px;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}
#subcollection .coll-overview .coll-box .top .desc {
}
#subcollection .coll-overview .coll-box .top .desc span {
  font-size: 12px;
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
#subcollection .coll-overview .coll-box .bottom .subcollection {

}
#subcollection .coll-overview .coll-box .bottom .related {

}
#subcollection .collection-res > .col-md-12 {
  background-color: #fff;
}
#subcollection .collection-res > .col-md-12:nth-child(2n) {
  background-color: #f4f4f4;
}
#subcollection .results-title {
  padding-top: 25px;
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}
#subcollection .collection-res .more {
  text-align: center;
}
#subcollection .collection-res .more a {
  background-color: #899AA5;
  padding: 12px 60px;
  display: inline;
  line-height: 3;
  color: #fff;
  border-radius: 5px;
}
#subcollection .coll-desc {
  text-align: center;
  color: #5E6970;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 20px;
}

.subcollection_desc {
  padding: 20px 0;
  font-weight: 100;
  font-size: 15px;
  background-color: #f4f4f4;
}
.coll-thumb {
  float: left;

}
.coll-thumb {
  border-right: 1px solid #ccc;
}
.coll-thumb img {
  height: 100px;
}

.subcollection_desc.experiments {
  padding-top: 70px;
  padding-bottom: 40px;
}
li.subcollection_exp {
  margin-bottom: 50px;
}

.subcollection_desc a {
  color: inherit;
}

.subcollection_apps {
    background-color: #A1BECF;
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.section-title {
  padding-bottom: 20px;
  color: #fff;
  font-weight: 100;
  font-size: 16px;
}
.subcollection_apps .app-box {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 5px;
  color: #657580;
}

.subcollection_apps .app-box .img {
  height: 100px;
  overflow: hidden;
}
.subcollection_apps .app-box .img img {
  width: 100%;
}
.subcollection_apps .app-box .go {
  width: 100%;
  display: inline-block;
  padding-top: 5px;
}
.subcollection_apps .app-box .go span{
  padding-left: 5px;
}
.subcollection_apps a {
  color: #657580;
  text-decoration: none;  
}
.subcollection_apps .app-box .go a,
.subcollection_apps .app-box .go a:hover,
.subcollection_apps .app-box .go a:focus {
  font-size: 12px;
  float: right;
  color: #657580;
}
</style>
{% with collection = 0 %}
{% include 'search/form/index.html' %}
{% endwith %}


<section class="infobar">
  <div class="container">
    <div class="breadcrumbs">
    {% for b in breadcrumbs[1:] %}
      {% if loop.index is divisibleby 2 %}
      <a href="{{b.url}}"><h4 class="active">{{b.text}}</h4></a>
      {% else %}
      <a href="{{b.url}}"><h4>{{b.text}}</h4></a>
      {% endif %}
      {% if loop.last and exp %}
      <h4 style="margin-left:7px;" class="{{ ' active' if (loop.index+1 is not divisibleby 2) }}">{{exp}}</h4>
      {% endif %}
    {% endfor %}
    </div>
    <div style="width:100%;padding:10px 0;font-size:15px;font-weight:100;text-align:left;">For education purposes, the complex primary data need to be processed into a format (examples below) that is good for simple applications. Get in touch if you wish to build your own applications similar to those shown here.</div>
  </div>
</section>


<section class="entrypoint_collections">
  <div class="nav collections-nav">
    <div class="container">
      <div class="row">
        <ul class="pull-left col-md-7 nav nav-tabs nav-justified" role="tablist">
          <li {% if exp not in exp_names %} class="active" {% endif %}><a href="{{url_for((request.path|splitthem)[1])}}" data-target="#general" role="tab" data-toggle="tab"></span>Experiments</a></li>
          {% for e in exp_colls %}
          <li {% if exp == e.name %} class="active" {% endif %}><a href="{{url_for((request.path|splitthem)[1]+'/'+e.name)}}" data-target="#{{e.name}}" role="tab" data-toggle="tab"></span>{{e.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade {%  if exp not in exp_names %}in active{% endif%}" id="general">
      <section class="subcollection_desc experiments">
        <div class="container">
          <ul class="row">
          {% set coll_portalboxes = {'desc': 'Description goes here..', 'image': 'default.png'} %}
          {% for cols in exp_colls %}
            {% for pb in cols.portalboxes %}
              {% if (pb.portalbox.title == 'description') %}
                {% if coll_portalboxes.update({'desc': pb.portalbox.body}) %}{% endif %}
              {% elif (pb.portalbox.title == 'image') %}
                {% if coll_portalboxes.update({'image': pb.portalbox.body}) %}{% endif %}
              {% endif %}
            {% endfor %}
            <li class="subcollection_exp">
              <a href="{{ url_for((request.path|splitthem)[1]+'/'+cols['name']) }}"><div class="coll-thumb col-md-2">
                <img src="{{ url_for('static', filename='img/'+coll_portalboxes['image']) }}" alt="">
              </div>
              <div class="coll-desc col-md-10">
                {% for d in (coll_portalboxes['desc']|splitthem('#$#$#')) %}{{d}}{% endfor %}
              </div></a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </section>
      <section class="learn">
        <div class="container">
          <div class="thumbbox">
            <div class="col-md-4">
              <img src="{{ url_for('static', filename='img/edu_img_1.png') }}" alt="" class="img-circle center-block">
            </div>
            <div class="col-md-4">
              <img src="{{ url_for('static', filename='img/edu_img_2.jpg') }}" alt="" class="img-circle center-block">
            </div>
            <div class="col-md-4">
              <img src="{{ url_for('static', filename='img/edu_img_3.png') }}" alt="" class="img-circle center-block">
            </div>
          </div>
        </div>
        <div class="_slogan container">
          <!-- Info text can go here -->
        </div>
      </section>
    </div>

    {% for e in exp_colls %}
    <div class="tab-pane fade {%  if exp == e.name %}in active{% endif%}" id="{{e.name}}">
      <section class="subcollection_desc">
        <div class="container">
          <div class="row">
            <div>
            {% set coll_portalboxes = {'desc': 'Description goes here..', 'image': 'default.png'} %}
            {% for pb in e.portalboxes %}
              {% if (pb.portalbox.title == 'description') %}
                {% if coll_portalboxes.update({'desc': pb.portalbox.body}) %}{% endif %}
              {% elif (pb.portalbox.title == 'image') %}
                {% if coll_portalboxes.update({'image': pb.portalbox.body}) %}{% endif %}
              {% endif %}
            {% endfor %}
              <div class="coll-thumb col-md-2">
                <img src="{{ url_for('static', filename='img/'+coll_portalboxes['image']) }}" alt="">
              </div>
              <div class="coll-desc col-md-10">
                {% for d in (coll_portalboxes['desc']|splitthem('#$#$#')) %}{{d}}{% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include ('search/collections/'+e.name+'_education_apps.html') ignore missing %}
      
      {% with exp_collection = e %}
      {% include "helpers/collections_research.html" %}
      {% endwith %}
    </div>      
    {% endfor %}


  </div>

</section>
{% endblock body %}

{%- block javascript %}
{{super()}}
<script>
$(document).ready(function() {
  // add a hash to the URL when the user clicks on a tab
  $('a[data-toggle="tab"]').on('click', function(e) {
    history.pushState(null, null, $(this).attr('href'));
  });
  // navigate to a tab when the history changes
  window.addEventListener("popstate", function(e) {
    var activeTab = $('[href="' + location.pathname + '"]');
    if (activeTab.length) {
      activeTab.tab('show');
    } else {
      $('.nav-tabs a:first').tab('show');
    }
  });
});
</script>
{% endblock %}
