<header id="od-header">
  <nav class="navbarOutter navbar navbar-static-top" role="navigation">
    <!--            <div class="topnav">
    <div class="container">
    <div class="inner">
    <ul>
    <ul>
    <li class="active">EN</li>
    <a href="#"><li>FR</li></a>
    <a href="#"><li>DE</li></a>
    <a href="#"><li>..</li></a>
    </ul>
    </ul>
    </div>
    <div class="social">
    {% if not (current_user.is_guest) %}
      <a  class="logoutBut" href="{{ url_for('webaccount.logout') }}">LOGOUT</a>
    {% endif %}
    <a href="#"><span class="fa fa-facebook"></span></a>
    <a href="#"><span class="fa fa-twitter"></span></a>
    <a href="#"><span class="fa fa-youtube-play"></span></a>
    </div>
    </div>
    </div> -->
    <div class="midnav">
      <div class="container">
        <div class="logo col-xs-6 col-sm-4 no-padding">
          <a href="{{ url_for('cds.index') }}"><div class="logoimg">
            <div class="sp1">CERN</div>
            <div class="sp2">OPENDATA</div>
          </div></a>
        </div>
        <div  class="innernav">
          <div id="st-trigger-effects" class="pull-right mob-toggle visible-xs visible-sm">
            <button  type="button" class="navbar-toggle" data-effect="st-effect-3" data-toggle="collapse" data-target="[id*='collapse-toggle-nav']">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collection of nav links and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <a href="#"><li>MENU1</li></a>
              <a href="#"><li>MENU2</li></a>
              <a href="#"><li>INFO</li></a>
              <a href="#"><li>MORE</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% include 'search/form/index.html' %}
</header>
