<div class="col-md-12">

  <div class="row">
  <div class="col-md-12"> 
    <h2>How do I make my own histograms?</h2>
    <p>
    This application reads in a csv file, where "csv" stands for comma-separated-variable. Files from several different datasets and event selections
    are provided. If you want to make your own csv files from the primary datasets example code can be found here: 
    <a href="https://github.com/tpmccauley/dimuon-filter">https://github.com/tpmccauley/dimuon-filter</a>. 
    </p>
    <p>
    Whether you use one of the files provided or make one of your own, there are several ways to examine the contents and to see what the distributions
    of the parameters contained therein look like. Here are a few examples using a csv file created by selecting from the “Mu” dataset events with precisely 2 muons. 
    Each line represents the information for the 2 muons for each event.
    </p> 
  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
    <h3>With flot</h3>
  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
    <h3>With d3</h3>
  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
    <h3>With R</h3>
    <a href="http://www.r-project.org/">R</a> is a software environment for data analysis, statistics, and visualization. This code can be run in the R console. See the R page for more on how to get and run R.</p>
    <p><pre>
# read in the dimuon csv file:
dimuons <- read.csv(file="../data/MuRun2010B_0.csv")

# select for events where the 2 muons have opposite-sign
dimuons.oppsigns <- subset(dimuons, dimuons$Q1*dimuons$Q2 == -1)

# and then from those, select events with 2 global muons
dimuons.globals <- subset(dimuons.oppsigns, dimuons.oppsigns$Type1 == "G" & dimuons.oppsigns$Type2 == "G")

# set the number of bins
nbins <- 200

# and make a histogram:
hist.data <- hist(log10(dimuons$M), breaks=nbins)
# which is not bad on its own

# however, another way to draw is to take the data from the hist and make a barplot:
barplot(log10(hist.data$counts), names.arg=signif(hist.data$mids,2), col="white")

# this works nicely if one uses the dimuons frame directly:
qplot(log10(dimuons$M), binwidth=0.01, log="y", colour=I("black"), fill=I("white"))

#as does this (which is probably the nicest):
ggplot(dimuons, aes(x=log10(M))) + geom_histogram(binwidth=0.01, colour="black", fill="white") + scale_y_log10()

# however, this works well and is simple to understand:
plot(hist.data$mids, log10(hist.data$counts), type="s", yaxt="n", ylab="", col="black", lwd=2)

# let's make histograms of the selections:
hist.oppsigns.data <- hist(log10(dimuons.oppsigns$M), breaks=nbins)
hist.globals.data <- hist(log10(dimuons.globals$M),  breaks=nbins)

# and plot all 3 histograms:
plot(hist.data$mids, log10(hist.data$counts), xlab="log10(M [GeV])", yaxt="n", ylab="", type="s", col="black", lwd=2)
lines(hist.oppsigns.data$mids, log10(hist.oppsigns.data$counts),type="s", col="blue", lwd=2)
lines(hist.globals.data$mids, log10(hist.globals.data$counts), type="s", col="red", lwd=2)

# add some vertical grid lines
abline(v=(c(0.25,0.5,0.75,1.0,1.25,1.5,1.75,2.0)), col="lightgray", lty="dotted")

# and a legend
legend.txt = c("All muon pairs", "All opposite-sign muon pairs", "All opposite-sign global muon pairs")
legend("topright", legend.txt, lwd=c(2.5,2.5,2.5),col=c("black","blue","red"))
    </pre></p>
  </div>
  </div>

</div>
    
