{%- extends 'page.html' %}

{% block body %}

  <style>

    #wrap {
      margin: 0;
      padding: 0;
    }

    html body { 
      background-color: #fff!important;
    }

    #od-header {
      position: absolute;
      height: 80px;
      width: 100%;
    }

    .content {
      width: 100%;
    }

    .intro.middle.circledes::after {
      content: "";
      background: url('/img/home/home_net_symbols.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    }

    .intro.middle .upper.circledes .middle {
      background: url('/img/home/glass_old.png');
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 30px;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    footer .quotes {
      color: #606D75;
      padding: 15px;
      text-align: center;
      font-weight: 400; 
      font-style: italic;
      font-size: 13px;
      height: 90px;
      margin-bottom: -15px;
    }
    .middlefoot.middlefoot {
      background-color: transparent;
    }
    footer .quotes span {
      font-style: normal;
      font-weight: 100;
    }

    .entryactions ul li a {
      background-color: #fff;
      padding: 0;
    }
    @media (max-width: 768px)  {
      footer.middlefoot.middlefoot {
        height : 280px;
        background-color: transparent;
        padding-top: 15px;
        margin-bottom: -60px; 
      }
      .content {
        bottom: 280px;
      }
      .entryactions ul li a {
        background-color: transparent;
        padding: 0;
        width: 100%;
        display: inline-block;
      }
    }

    .middlefoot.middlefoot {
      padding-bottom: 0;
    }
    .middlefoot .middle_l,
    .middlefoot .middle_r {
      margin-top: -10px;
    }

    .legal a {
      z-index: 1000;
      position: relative;
      border-radius: 2px;
      padding: 1px;
    }
    .legal a:hover,
    .legal a:focus {
      color: #fff;
      background-color: #606D75;
    }

    .quotes b {
      padding: 0 2px;
      display: inline-block;
    }

    .a::after {
      content: "";
      background-color: transparent;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    }
    .b {
      background-color: #fff;
    }
  </style>

  <section class="intro middle circledes">
    {% include "middle_with_design.html" %}
  </section>

  <div id="push"></div>
  </div> {# end wrap #}
  <footer class="middlefoot">
    <div class="a">
      <div class="container">
        <div class="row">
          <div class="quotes">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-md-6"><b>"</b>{{testimonials[0].get('quote','')}}<b>"</b><br/><span>- {{testimonials[0].get('firstName','')}} {{testimonials[0].get('lastName','')}}</span></div>
                <div class="col-md-6"><b>"</b>{{testimonials[1].get('quote','')}}<b>"</b><br/><span>- {{testimonials[1].get('firstName','')}} {{testimonials[1].get('lastName','')}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="b">
      <div class="container">
        <div class="row">
          <div class="middle_l col-md-6 col-xs-12 col-sm-6">
            <img src="{{ url_for('static', filename='/img/opendata/cern-logo-large.png') }}" style="width:auto;height:55px;" alt="">
            <img src="{{ url_for('static', filename='/img/opendata/invenio.png') }}" alt="">
          </div>
          <div class="middle_r col-md-6 col-xs-12 col-sm-6">
            <img src="{{ url_for('static', filename='/img/ALICE.gif') }}" alt="">
            <img src="{{ url_for('static', filename='/img/ATLAS.gif') }}" alt="">
            <img src="{{ url_for('static', filename='/img/CMS.gif') }}" alt="">
            <img src="{{ url_for('static', filename='/img/LHCb.gif') }}" alt="">
          </div>
        </div>
        <div class="row">
          <div class="center-block legal">
            <ul class="">
              <li>© 2014 CERN OpenData</li>
              <li><a href="{{ url_for('terms-of-use') }}">Terms of Use</a></li>
              <li><a href="{{ url_for('privacy-policy') }}">Privacy Policy</a></li>
              <li><a href="mailto:opendata-support@cern.ch">Contact</a></li>
            </ul>
          </div>
        </div>        
      </div>
    </div>
  </footer>
{% endblock body %}

{% block page_footer %}

{% endblock %}