{% extends "page.html" %}

{%- css url_for('static', filename='css/home.css') %}

<!-- HERE ends the HEADER -->

<!-- HERE starts the BODY -->
{% block page_body %}
{% block body %}
 {{ super() }}
<section class="intro">

<div class="container">
	<div class="col-md-5 pull-left">
		<div class="news box">
			<h5>Latest News</h5>
			<ul>
				<li>
					<ul class="nbox">
						<li class="ntitle">CMS open data release</li>
						<li class="ndate"><span>2014-09-30</span></li>
						<li class="nbody"><span>Today CMS is releasing its data in open access! Play, visualise it here..</span></li>
					</ul>
				</li>
				<li>
					<ul class="nbox">
						<li class="ntitle">Some more news</li>
						<li class="ndate"><span>2014-08-24</span></li></li>
						<li class="nbody"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea asperiores quidem consectetur perferendis accusamus, officia quos.</span></li>
					</ul>
				</li>
				<li>
					<ul class="nbox">
						<li class="ntitle">Some more news news news</li>
						<li class="ndate"><span>2014-05-04</span></li>
						<li class="nbody"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
					</ul>
				</li>
				<li>
					<ul class="nbox">
						<li class="ntitle">News news</li>
						<li class="ndate"><span>2013-12-20</span></li>
						<li class="nbody"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea asperiores quidem.</span></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-7 pull-left">
		<div class="box education col-md-6">
			<div class="imagebox">
				<img src="{{ url_for('static', filename='/img/education3.png') }}" alt="">
			</div>
			<h5>For Education</h5>
			<ul>
				<li><span class="fa fa-play-circle-o"></span>Visualise detector events</li>
				<li><span class="fa fa-flash"></span>Visualise data histograms</li>
				<li><span class="fa fa-cube"></span>Learn more</li>
			</ul>
		</div>
		<div class="box research col-md-6">
			<div class="imagebox">
				<img src="{{ url_for('static', filename='/img/research1.png') }}" alt="">
			</div>
			<h5>For Research</h5>
			<ul>
				<li><span class="fa fa-database"></span>Download Virtual Machine image</li>
				<li><span class="fa fa-ge"></span>Access data via XROOTD streaming</li>
				<li><span class="fa fa-lightbulb-o"></span>Learn more</li>
			</ul>
		</div>
	</div>
</div>

</section>

<section class="collections">
	<div class="nav">
		<div class="container">
			<ul class="pull-left">
				<li class="active"><span class="fa fa-tag"></span>LATEST</li>
				<li><span class="fa fa-dot-circle-o"></span>CMS</li>
				<li><span class="fa fa-circle-o"></span>Alice</li>
				<li><span class="fa fa-circle"></span>LHCb</li>
			</ul>
		</div>
	</div>
	<div class="collRecords">
		<div class="container">
			<ul>
				<li class="col-md-3 col-xs-12 col-sm-6">
					<div class="recordbox">
						<div class="top">
							<span class="fa fa-bar-chart-o"></span>
							<h5>DATA_1</h5>
						</div>
						<div class="thumb">
							<img src="{{ url_for('static', filename='img/opendata/dielectron2-scaled.png') }}" alt="">
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>
					</div>
				</li>
				<li class="col-md-3 col-xs-12 col-sm-6">
					<div class="recordbox">
						<div class="top">
							<span class="fa fa-file"></span>
							<h5>CMS Document 1</h5>
						</div>
						<div class="thumb iconed">
							<div class="icon-file"></div>
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>	
					</div>
				</li>
				<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="fa fa-bar-chart-o"></span>
							<h5>DATA_2</h5>
						</div>
						<div class="thumb">
							<img src="{{ url_for('static', filename='img/opendata/HtoGammaGamma-scaled.png') }}" alt="">
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
				</li>
				<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="fa fa-file"></span>
							<h5>CDS Document 2</h5>
						</div>
						<div class="thumb iconed">
							<div class="icon-file-xml"></div>
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
				</li>
				<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="fa fa-bar-chart-o"></span>
							<h5>DATA_3</h5>
						</div>
						<div class="thumb">
							<img src="{{ url_for('static', filename='img/opendata/ttbar-scaled.png') }}" alt="">
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
					<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="fa fa-bar-chart-o"></span>
							<h5>DATA_4</h5>
						</div>
						<div class="thumb">
							<img src="{{ url_for('static', filename='img/opendata/Jpsimumu-scaled.png') }}" alt="">
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
				</li>
				<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="fa fa-file"></span>
							<h5>CDS Document 3</h5>
						</div>
						<div class="thumb iconed">
							<div class="icon-file"></div>
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
				</li>
				<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="fa fa-bar-chart-o"></span>
							<h5>DATA_5</h5>
						</div>
						<div class="thumb">
							<img src="{{ url_for('static', filename='img/opendata/Jpsiee-scaled.png') }}" alt="">
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
				</li>
			</ul>
		</div>
		<div class="container seeall">
			<a href="#">SEE ALL</a>
		</div>
	</div>
</section>
<section >
	<div class="info"></div>
	<div class="info dark"></div>
</section>
{% endblock body %}
{% endblock page_body %}
<!-- HERE ends the BODY -->

{% block javascript %}
	{{ super() }}

{% endblock javascript%}
