<div class="upper circledes">
	<div class="container circledes">
		<div class="entries col-md-12">
			<div class="education">
				<div class="entrypoints pull-right">
					<div class="upper">
						<a href="{{ url_for('educate')}}">For Education</a>
					</div>
					<div class="bottom">
						<a href="{{ url_for('educate/CMS') }}" class="corner center-block" style="border-right: 1px solid #fff;">CMS</a>
						<a href="{{ url_for('educate/ALICE') }}" class="center-block">ALICE</a>
					</div>
				</div>
				<div class="entryactions" style="float:right;text-align:right;">
					<div >
						<div class="goto">Go to Links:</div>
						<ul>
							<a href=" {{ url_for('visualise/events') }}"><li>Visualise detector events<span class="fa fa-play-circle-o"></span></li></a>
							<a href=" {{ url_for('visualise/histograms') }}"><li>Visualise data histograms<span class="fa fa-flash"></span></li></a>
							<a href=" {{ url_for('resources') }}"><li>more...<span class="fa fa-lightbulb-o"></span></li></a>
						</ul>
					</div>
				</div>
			</div>
			<div class="middle col-md-12 no-padding"></div>
			<div class="research">
				<div class="entrypoints pull-left">
					<div class="upper">
						<a href="{{ url_for('research')}}">For Research</a>
					</div>
					<div class="bottom">
						<a href="{{ url_for('research/CMS') }}" class="center-block" style="border-right: 1px solid #fff;">CMS</a>
						<a href="{{ url_for('research/ALICE') }}" class="corner center-block">ALICE</a>
					</div>
				</div>
				<div class="entryactions" style="float:left;text-align:left;">
					<div>
						<div class="goto">Go to Links:</div>
						<ul>
							<a href=" {{ url_for('data/VMs') }}"><li><span class="fa fa-database"></span>Download Virtual Machine image</li></a>
							<a href=" {{ url_for('data/xrootd') }}"><li><span class="fa fa-ge"></span>Access data via XROOTD</li></a>
							<a href=" {{ url_for('data') }}"><li><span class="fa fa-lightbulb-o"></span>more...</li></a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>