<div class="upper">
	<div class="container">
		<div class="entries col-md-12">
			<div class="education">
				<div class="entrypoints pull-right" style="height:50px;"><a href="{{ url_for('educate')}}">For Education</a></div>
				<div class="entryactions" style="float:right;text-align:right;">
					<div >
						<ul>
							<li>Visualise detector events<span class="fa fa-play-circle-o"></span></li>
							<li>Visualise data histograms<span class="fa fa-flash"></span></li>
							<li>Learn more<span class="fa fa-cube"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="middle col-md-12 no-padding">
				<!-- <img src="{{ url_for('static', filename='/img/middle.png') }}" alt=""> -->
				<div class="circle"></div>
			</div>
			<div class="research">
				<div class="entrypoints pull-left" style="height:50px;"><a href="{{ url_for('research') }}">For Research</a></div>
				<div class="entryactions" style="float:left;text-align:left;">
					<div>
						<ul>
							<li><span class="fa fa-database"></span>Download Virtual Machine image</li>
						<li><span class="fa fa-ge"></span>Access data via XROOTD</li>
						<li><span class="fa fa-lightbulb-o"></span>Learn more</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>