<div class="upper circledes">
  <div class="container circledes">
    <div class="entries col-md-12">
      <div class="education">
        <div class="entrypoints pull-right">
          <div class="upper">
            <a href="{{ url_for('education')}}">For Education</a>
          </div>
        </div>
        <div class="entryactions" style="float:right;text-align:right;">
          <div >
            <div class="goto">Go to Links:</div>
            <ul>
              <li><a href=" {{ url_for('visualise/events') }}"><span class="action-title">Visualise detector events</span><span class="fa fa-chevron-left"></span></a></li>
              <li><a href=" {{ url_for('visualise/histograms') }}"><span class="action-title">Visualise data histograms</span><span class="fa fa-chevron-left"></span></a></li>
              <li><a href=" {{ url_for('resources') }}"><span class="action-title">Other Resources</span><span class="fa fa-chevron-left"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="middle col-md-12 no-padding"></div>
      <div class="research">
        <div class="entrypoints pull-left">
          <div class="upper">
            <a href="{{ url_for('research')}}">For Research</a>
          </div>
        </div>
        <div class="entryactions" style="float:left;text-align:left;">
          <div>
            <div class="goto">Go to Links:</div>
            <ul>
              <li><a href=" {{ url_for('VM') }}"><span class="fa fa-chevron-right"></span><span class="action-title">Working Environments</span></a><a href="{{ url_for('VM/CMS') }}"><img class="exp-xs-img" src="{{url_for('static', filename='img/CMS.gif')}}" alt=""></a><a href="{{ url_for('VM/ALICE') }}"><img src="{{url_for('static', filename='img/ALICE.gif')}}" class="exp-xs-img" alt=""></a></li>
              <li><a href=" {{ url_for('getting-started') }}"><span class="fa fa-chevron-right"></span><span class="action-title">Getting started</span></a></li>
              <li><a href=" {{ url_for('data') }}"><span class="fa fa-chevron-right"></span><span class="action-title">more...</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
