<div class="upper circledes">
  <div class="container circledes">
    <div class="entries col-md-12">
      <div class="education">
        <div class="entrypoints pull-right">
          <div class="upper">
            <a href="{{ url_for('education')}}">For Education</a>
          </div>
        </div>
        <div class="entryactions" style="float:right;text-align:right;">
          <div >
            <div class="goto">Go to Links:</div>
            <ul>
              <li><a href=" {{ url_for('visualise/events') }}">Visualise detector events<span class="fa fa-play-circle-o"></span></a></li>
              <li><a href=" {{ url_for('visualise/histograms') }}">Visualise data histograms<span class="fa fa-flash"></span></a></li>
              <li><a href=" {{ url_for('resources') }}">more...<span class="fa fa-lightbulb-o"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="middle col-md-12 no-padding"></div>
      <div class="research">
        <div class="entrypoints pull-left">
          <div class="upper">
            <a href="{{ url_for('research')}}">For Research</a>
          </div>
        </div>
        <div class="entryactions" style="float:left;text-align:left;">
          <div>
            <div class="goto">Go to Links:</div>
            <ul>
              <li><a href=" {{ url_for('VM') }}"><span class="fa fa-database"></span>Working Environments (<a href="{{ url_for('VM/CMS') }}">CMS</a> / <a href="{{ url_for('VM/ALICE') }}">ALICE</a>)</a></li>
              <li><a href=" {{ url_for('getting-started') }}"><span class="fa fa-ge"></span>Getting started</a></li>
              <li><a href=" {{ url_for('data') }}"><span class="fa fa-lightbulb-o"></span>more...</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
