{% extends "page.html" %}


{%- css url_for('static', filename='css/home_middle.css') %}
{%- css url_for('static', filename='css/icomoon.css') %}

<!-- HERE ends the HEADER -->


<!-- HERE starts the BODY -->
{% block page_body %}
{% block body %}
 {{ super() }}
<section class="intro">

<div class="upper">
	<div class="container">
		<div class="col-md-6 pull-left">
			<div class="news box">
				<h5>Latest News</h5>
				<ul>
					<li>
						<div class="ntitle">2014-09-30 CMS open data release</div>
						<div class="nbody">Today CMS is releasing its data in open access! Play, visualise it here..</div>
					</li>
					<li>
						<div class="ntitle">2014-08-24 Some more news</div>
						<div class="nbody">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea asperiores quidem consectetur perferendis accusamus, officia quos.</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 pull-right">
			<div class=" box">
				<h5></h5>
			</div>
		</div>
		<div class="col-md-6 pull-right">
			<div class=" box">
				<h5></h5>
			</div>
		</div>

	</div>
</div>
<div class="bottom">
		<div class="entries col-md-8 col-md-offset-2">
			<div class="education">
				<div class="entrypoints pull-right" style="height:50px;"><a href="#">For Education</a></div>
				<div class="entryactions" style="float:right;text-align:right;">
					<div >
						<ul>
							<li>Visualise detector events<span class="icon-vynil"></span></li>
							<li>Visualise data histograms<span class="icon-lab"></span></li>
							<li>Learn more<span class="icon-display"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="middle col-md-12 no-padding">
				<!-- <img src="{{ url_for('static', filename='/img/middle.png') }}" alt=""> -->
				<div class="circle"></div>
			</div>
			<div class="research">
				<div class="entrypoints pull-left" style="height:50px;"><a href="#">For Research</a></div>
				<div class="entryactions" style="float:left;text-align:left;">
					<div>
						<ul>
							<li><span class="icon-data"></span>Download <b>Virtual Machine</b> image</li>
							<li><span class="icon-world"></span>Access data via <b>XROOTD</b> streaming</li>
							<li><span class="icon-bulb"></span>Learn more</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>
</section>

<section class="collections">
	<div class="nav">
		<div class="container">
			<ul class="pull-left">
				<li class="active"><span class="icon-tag"></span>LATEST</li>
				<li><span class="icon-spinner2"></span>CMS</li>
				<li><span class="icon-spinner3"></span>Alice</li>
				<li><span class="icon-spinner4"></span>LHCb</li>
			</ul>
			<ul class="pull-right">
				
			</ul>
		</div>
	</div>
	<div class="collRecords">
		<div class="container">
			<ul>
				<li class="col-md-3 col-xs-12 col-sm-6">
					<div class="recordbox">
						<div class="top">
							<span class="icon-bars"></span>
							<h5>DATA_1</h5>
						</div>
						<div class="thumb">
							<img src="{{ url_for('static', filename='img/opendata/dielectron2-scaled.png') }}" alt="">
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>
					</div>
				</li>
				<li class="col-md-3 col-xs-12 col-sm-6">
					<div class="recordbox">
						<div class="top">
							<span class="icon-stack"></span>
							<h5>CMS Document 1</h5>
						</div>
						<div class="thumb iconed">
							<div class="icon-file"></div>
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>	
					</div>
				</li>
				<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="icon-bars"></span>
							<h5>DATA_2</h5>
						</div>
						<div class="thumb">
							<img src="{{ url_for('static', filename='img/opendata/HtoGammaGamma-scaled.png') }}" alt="">
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
				</li>
				<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="icon-stack"></span>
							<h5>CDS Document 2</h5>
						</div>
						<div class="thumb iconed">
							<div class="icon-file-xml"></div>
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
				</li>
				<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="icon-bars"></span>
							<h5>DATA_3</h5>
						</div>
						<div class="thumb">
							<img src="{{ url_for('static', filename='img/opendata/ttbar-scaled.png') }}" alt="">
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
					<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="icon-bars"></span>
							<h5>DATA_4</h5>
						</div>
						<div class="thumb">
							<img src="{{ url_for('static', filename='img/opendata/Jpsimumu-scaled.png') }}" alt="">
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
				</li>
				<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="icon-stack"></span>
							<h5>CDS Document 3</h5>
						</div>
						<div class="thumb iconed">
							<div class="icon-file"></div>
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
				</li>
				<li class="col-md-3 col-sm-6 col-xs-12">
					<div class="recordbox">
						<div class="top">
							<span class="icon-bars"></span>
							<h5>DATA_5</h5>
						</div>
						<div class="thumb">
							<img src="{{ url_for('static', filename='img/opendata/Jpsiee-scaled.png') }}" alt="">
						</div>
						<div class="details">
							<span>READ MORE ...</span>
						</div>			
					</div>
				</li>
			</ul>
		</div>
		<div class="container seeall">
			<a href="#">SEE ALL</a>
		</div>
	</div>
</section>
<section >
	<div class="info"></div>
	<div class="info dark">
		<div class="col-md-6 col-md-offset-3">
			<h3>long-term preservation of open data</h3>
			<h4><b>attractive, educative, reusable</b></h4>
		</div>
	</div>
</section>
{% endblock body %}
{% endblock page_body %}
<!-- HERE ends the BODY -->

{% block javascript %}
	{{ super() }}

{% endblock javascript%}
