{%- extends 'page.html' %}

{% import 'data/news_db.html' as n %}

{% macro date_to_text(date) %}
	<span class="date">4 days ago</span>
{% endmacro %}

{% macro news_box(title, body, author, extra, n_id) %}
	{% block news_box scoped%}
			<div class="news-box col-md-6">
				<div class="header">
					<div class="info pull-left">
						<div class="title"><a href="{{ url_for('news/'+n_id) }}">{{ title }}</a><span>+{{ extra[0] }}</span></div>
						<div class="details">posted by <a href="">{{author}}</a>, {{ date_to_text() }} </div>
					</div>
					<div class="more pull-right">
						<div class="category">
							{% for tag in extra[2] %}
							<a class="tag-box" href=""><span>#{{ tag }}</span></a>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="body">
					{{  body|safe }}
					{% for link in extra[1] %}
						<a href="{{ link }}">{{ link }}</a><br/>
					{% endfor %}
				</div>
			</div>
	{% endblock %}
{% endmacro %}

{% macro tag_box(name, classes) %}
	{% block tag_box scoped%}
		<a href="#" class="tag-box {{classes}}">
			<span>#{{name}}</span>
		</a>
	{% endblock %}
{% endmacro %}

{% block body %}

{% with collection = 0 %}
{% include 'search/form/index.html' %}
{% endwith %}
<section class="infobar">
	<div class="container">
		<a href="{{ url_for('news') }}"><h3>News</h3></a>
	</div>
</section>
<section class="news-main">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="tag-container">
					<div class="tag-filter col-sm-2">
						<div class="">Filter news:</div>
					</div>
					<div class="tag-boxes col-sm-10">
						<div class="">
							{% for tag in n.tags %}
								{{ tag_box(tag[0], tag[1]) }}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="news-container col-sm-12">
				<div class="row">
					{% for ns in n.news %}
						{{ news_box(ns[0], ns[1], ns[2], ns[3], ns[4]) }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock body %}



