{%- extends 'page_base.html' %}

{%- block global_css -%}
	{{ super() }}
	
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,400italic' rel='stylesheet' type='text/css'>

	{%- css url_for('static', filename='css/style.css') , 'dphep' -%}
	{%- css url_for('static', filename='css/sidebar.css') , 'dphep' -%}
	{%- css url_for('static', filename='css/icomoon.css') %}

{%- endblock global_css -%}

{%- block head %}
	{{ super() }}
{%- js url_for('static', filename='js/modernizr.custom.js') -%}
{%- js url_for('static', filename='js/sidebarEffect.js') -%}
{%- endblock head %}

{%- block body_start %}
	{{super()}}
<div class="st-container" id="st-container">
	<div class="st-pusher">
		<nav class="st-menu st-effect-3" id="menu-3">
			{%- block sidebar_menu -%}
			<style>
				.sidesearch input{
					border: 0;
					border-radius: 0;

				}

				.sidesearch {
					padding: 34px 0;
					background-color: #606D75;
				}
				.sidesearch .form-group {
					margin: 0;
				}
				.sidesearch form{
					margin: 0;
				}

			</style>
			<div class="sidesearch">
				<form action="post" name="searchForm" role="form" id="searchForm">
					<div class="form-group col-md-9">
						<input type="text" name="searchQuery" placeholder="Looking for ..." class="form-control">
					</div>
				</form>
			</div>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			{%- endblock sidebar_menu -%}
		</nav>
		<div class="st-content">
			<div class="st-content-inner">
{% endblock body_start %}


{%- block page_footer %}
    <div id="push"></div>
  </div>{# end wrap #}
<footer>
  <div class="container">
    {% block pagefooteradd %}{{ pagefooteradd|safe }}{% endblock pagefooteradd %}
  </div>
  <!-- replaced page footer -->
  {%- include 'footer.html' -%}
</footer>
{%- endblock page_footer %}


{%- block body_end %}
	{{ super() }}
</div>
		</div>
	</div>
</div>
{% endblock body_end %}


{%- block javascript %}{%- endblock javascript %}