{% extends 'page.html' %}


{% block body %}
{% import 'helpers/general.html' as gen_utils %}

  <style>
    .coll-exp .thumb {
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 20px;
    }
    .coll-exp .thumb img {
      height: 120px;
      padding: 5px;
      border-radius: 5px;
      font-size: 30px;
      font-weight: 100px;
    }

    .coll-exp .title span{
      float: left;
      font-size: 16px;
      font-weight: 400;

    }
    .coll-exp .other {
      padding-bottom: 25px;
      height: 100%;
      max-height: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .coll-exp .other span {
      height: 120px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }
    .coll-exp .exp-name {
      padding: 20px;
      font-size: 26px;
      font-weight: 100;
      color: #657580;
    }

    .coll-exp {
      background-color: #f4f4f4;
      padding: 30px;
      text-align: center;
      height: auto;
      display: inline-block;
      font-weight: 100;
      border-radius: 5px;
      color: #657580;
      margin-bottom: 20px;
      width: 100%;
    }
    .about h4 {
      font-size: 20px;
      text-align: justify;
      font-weight: 100;
    }
    .about {
      padding-top: 15px;
      padding-bottom: 15px;
      color: #657580;
    }
  </style>

  <section class="infobar">
    <div class="container">
      {{ gen_utils.get_breadcrumbs(breadcrumbs, exp, exp_names) }}
    </div>
  </section>

  <section class="general">
    <div class="container">
      <div class="gen-header">
        <h1></h1>
        <p>
          The collections below list resources for teaching and learning about particle physics, built using CERN Open Data. Please note that these are external resources: they are not hosted on the CERN Open Data portal.
        </p>
      </div>
    </div>
  </section>
  <section id="get-started" class="content">
    <div class="container">
      <div class="row">
        {% for e in exp_names %}
        <div class="col-md-6">
          <a href="{{ url_for('.collection', name = e+"-Learning-Resources" ) }}">
            <div class="coll-exp">
              <div class="top col-md-12">
                <div class="col-md-6 col-md-offset-3 thumb"><img src="{{ url_for('static', filename='img/'+e+'.gif') }}" alt="" class="img-cirle center-block"></div>
                <div class="col-md-12 exp-name">{{e}} Learning Resources</div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
