{% extends "page.html" %}

{% block body %}
{% import 'helpers/general.html' as gen_utils %}
{% bundles "previewer_ispy.js", "previewer_ispy.css" %}

<link href="{{url_for('base.static', filename='vendors/ispy-online/css/scrollbar.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('base.static', filename='vendors/ispy-online/css/eventdisplay.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('base.static', filename='vendors/ispy-online/css/settings.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('base.static', filename='vendors/ispy-online/css/range-selection.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('base.static', filename='vendors/ispy-online/css/event-browser.css')}}" rel="stylesheet" type="text/css" />

  <style>
    #vis-events {
      color: #606D75;
      margin-bottom: 40px;
    }
    #vis-events .pg-header h3 {
      margin-bottom: 25px;
      margin-top: 35px;
    }
    #vis-events .pg-header {
      color: #606D75;
      text-align: center;
      font-weight: 100;
      font-size: 20px;
    }

    #ispy-previewer {
      background-color: #f4f4f4;
      border-radius: 4px;
      margin-bottom: 70px;
      color: #606D75;
      margin-bottom: 20px;
    }
    #vis-events .nav {
      float: right;
      margin-bottom: 15px;
      display: inline-block;
    }
    #vis-events .nav li {
      background-color: inherit;
    }
    #vis-events .nav li a,
    #vis-events .nav li a:hover,
    #vis-events .nav li a:focus {
      background-color: inherit;
      color: inherit;
    }

    #vis-events .nav li.active{
      display: none;
    }

    #vis-events #howto > div{
      background-color: #f4f4f4;
      border-radius: 4px;
    }
  </style>

  <section class="infobar">
    <div class="container">
      {{gen_utils.get_breadcrumbs(breadcrumbs)}}
    </div>
  </section>

  <section id="vis-events" class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 pg-header">
          <h3>Explore CMS open data and visualise detector events</h3>
        </div>
        <div class="col-md-12">
          <ul class="nav" role="tablist">
            <li class="active"><a href="#ispy" role="tab" data-toggle="tab"><span class="fa fa-long-arrow-left"></span>back to previewer</a></li>
            <li><a href="#howto" role="tab" data-toggle="tab">Need HELP?</a></li>
          </ul>
        </div>
        <div class="previewer col-md-12">
	  <div class="col-md-10 col-md-offset-1"></div>
	  <div class="tab-content">
	    <div class="tab-pane fade in active" id="ispy">
	      <div id="ispy-previewer" class="col-md-12">
		<table>
		  <tr>
		    <td colspan="2" class="titlebar-plain bordered">
		      <div id="title"></div>
		    </td>
		  </tr>
		  <tr style="height:24px;">
		    <td colspan="2" class="bordered">
		      <table id="toolbar">
			<tr>
			  <td>
			    <a class="toolbar-button" onclick="showEventLoader();">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/open.png')}}" title="Open File"/>
			    </a>
			  </td>
			  <td>
			    <a class="toolbar-button disabled" id="prev-event-button" onclick="prevEvent();">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/prev-event.png')}}" title="Previous Event"/>
			    </a>
			  </td>
			  <td>
			    <a class="toolbar-button disabled" id="next-event-button" onclick="nextEvent();">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/next-event.png')}}" title="Next Event"/>
			    </a>
			  </td>
			  <td>
			    <a class="toolbar-button" onclick="setCameraHome();">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/home.png')}}" title="Return to Start View"/>
			    </a>
			  </td>
			  <td>
			    <a class="toolbar-button" onclick="zoom(1);">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/zoom_in_24.png')}}" title="Zoom In"/>
			    </a>
			  </td>
			  <td>
			    <a class="toolbar-button" onclick="zoom(-1);">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/zoom_out_24.png')}}" title="Zoom Out"/>
			    </a>
			  </td>
			  <td>
			    <a class="toolbar-button" onclick="setCameraRotation(0, 0, 0);">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/z-plane.png')}}" title="X-Y Plane"/>
			    </a>
			  </td>
			  <td>
			    <a class="toolbar-button" onclick="setCameraRotation(0, Math.PI / 2, Math.PI / 2);">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/y-plane.png')}}" title="Z-X Plane"/>
			    </a>
			  </td>
			  <td>
			    <a class="toolbar-button" onclick="setCameraRotation(0, Math.PI / 2, 0);">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/x-plane.png')}}" title="Y-Z Plane"/>
			    </a>
			  </td>
			  <td>
			    <a class="toolbar-button" id="perspective-view" onclick="setPerspectiveProjection(true);">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/perspective-projection.png')}}" title="Perspective View"/>
			    </a>
			  </td>
			  <td>
			    <a class="toolbar-button" id="orthographic-view" onclick="setPerspectiveProjection(false);">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/orthographic-projection.png')}}" title="Orthographic View"/>
			    </a>
			  </td>
			   <td>
			     <a class="toolbar-button" onclick="showSettings();">
			       <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/settings.png')}}" title="Settings"/>
			     </a>
			   </td>
			  <td>
			    <a class="toolbar-button" onclick="openAboutWindow();">
			      <img src="{{url_for('base.static', filename='vendors/ispy-online/graphics/help2.png')}}" title="About"/>
			    </a>
			  </td>
			</tr>
		      </table>
		    </td>
		  </tr>
		  <tr>
		    <td width="280px" class="bordered">
		      <div id="switches-div" style="overflow: auto; height: 600px;" class="flexcroll">
			<table id="switches" width="266px">
			</table>
		      </div>
		    </td>
		    <td class="bordered">
		      <canvas id="canvas" width="800" height="600">
			Sorry, this requires a web browser which supports HTML5 canvas.
		      </canvas>
		    </td>
		  </tr>
		</table>
	      </div>
	      <p>Use the Mouse to rotate.</p>
	      <p>Ctrl+Mouse or Ctrl + <span class="key">&#9650</span> <span class="key">&#9660</span> <span class="key">&#9664</span> <span class="key">&#9654</span> to pan x/y.</p>
	      <p>Shift+Mouse or Shift + <span class="key">&#9650</span> <span class="key">&#9660</span> to zoom.</p>
	    </div>		  
	
	    <div class="tab-pane fade" id="howto">
	      {% include "visualise_events_help.html" %}
	    </div>
	  </div>
      </div>
    </div>
  </section>

{% include "visualise_events_popups.html" %}


{% endblock %}

{%- block javascript %}
<script type="text/javascript">
$(".dialog-window").hide();

function showEventLoader() {
   centerElement("event-browser");
   $("#event-browser").show();
}
</script>
{% endblock %}
