<div class="col-md-10 col-md-offset-1">
</div>

<div id="ispy-previewer">
 <iframe id="evd" width="100%" height="675" src="http://cern.ch/opendata-ispy"></iframe>
  <p></p>
  <p>
    Use the Mouse to rotate.
  </p>
  <p> 
    Ctrl+Mouse or Ctrl + <span class="key">&#9650</span> <span class="key">&#9660</span> <span class="key">&#9664</span> <span class="key">&#9654</span> to pan x/y.
  </p>
  <p>
    Shift+Mouse or Shift + <span class="key">&#9650</span> <span class="key">&#9660</span> to zoom.
  </p>
</div>
