{% set carousel_indicators = [] %}
{% set carousel_items = [] %}

{% macro add_carousel_item(weight, body, subclasses) %}
	{% macro temp_w() %}
		<li data-target="#myCarousel" data-slide-to="{{weight}}" class="{{ subclasses }}"></li>
	{% endmacro %}
	{% macro temp_bd() %}
	<div class="item {{ subclasses | safe }}">
		<div class="carousel-caption">
			{{ body }}
		</div>
	</div>		
	{% endmacro %}
	{% do carousel_indicators.append(temp_w()) %}
	{% do carousel_items.append(temp_bd()) %}
{% endmacro %}

{% macro item1() %}
<div class="inneritem education">
	<div class="imagebox col-md-6 hidden-xs hidden-sm">
		<img src="{{ url_for('static', filename='/img/education.png') }}" alt="">
	</div>
	<div class="col-md-6">
		<div class="entrypoints"><a href="{{ url_for('educate') }}">For Education</a></div>
		<div class="entryactions">
			<div>
				<ul>
					<li><span class="fa fa-play-circle-o"></span>Visualise detector events <span class="fa fa-chevron-right"></span></li>
					<li><span class="fa fa-flash"></span>Visualise data histograms<span class="fa fa-chevron-right"></span></li>
					<li><span class="fa fa-cube"></span>Learn more <span class="fa fa-chevron-right"></span></li>
				</ul>
			</div>
		</div>
	</div>

</div>
{% endmacro %}
{% macro item2() %}
<div class="inneritem research">
	<div class="imagebox col-md-6 hidden-xs hidden-sm">
		<img src="{{ url_for('static', filename='/img/research2.png') }}" alt="">
	</div>
	<div class="col-md-6">
		<div class="entrypoints"><a href="{{ url_for('research') }}">For Research</a></div>
		<div class="entryactions">
			<div>
				<ul>
					<li><span class="fa fa-database"></span>Download <b>Virtual Machine</b> image <span class="fa fa-chevron-right"></span></li>
					<li><span class="fa fa-ge"></span>Access data via <b>XROOTD</b> streaming <span class="fa fa-chevron-right"></span></li>
					<li><span class="fa fa-lightbulb-o"></span>Learn more <span class="fa fa-chevron-right"></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endmacro %}
{% macro item3() %}
<div class="col-md-6 pull-left newsimg no-padding hidden-xs hidden-sm">
	<img src=" {{ url_for('static', filename='/img/opendata/news1.jpg') }}" alt="" class="col-md-6 no-padding">
	<img src=" {{ url_for('static', filename='/img/opendata/news2.jpg') }}" alt="" class="col-md-6 no-padding">
	<img src=" {{ url_for('static', filename='/img/opendata/news4.jpg') }}" alt="" class="col-md-6 no-padding">
	<img src=" {{ url_for('static', filename='/img/opendata/news3.jpg') }}" alt="" class="col-md-6 no-padding">
</div>
<div class="col-md-6 pull-right">
	<div class="news">
		<h5>Latest News</h5>
		<ul>
			<a href="#">
				<li>
					<ul class="nbox">
						<li class="ntitle">CMS open data release</li>
						<li class="ndate"><span>2014-09-30</span></li>
						<li class="nbody"><span>Today CMS is releasing its data in open access! Play, visualise it here..</span></li>
					</ul>
				</li>
			</a>
			<a href="#">
				<li>
					<ul class="nbox">
						<li class="ntitle">Some more news</li>
						<li class="ndate"><span>2014-08-24</span></li></li>
						<li class="nbody"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea asperiores quidem consectetur perferendis accusamus, officia quos.</span></li>
					</ul>
				</li>
			</a>
			<a href="#">
				<li>
					<ul class="nbox">
						<li class="ntitle">Some more news news news</li>
						<li class="ndate"><span>2014-05-04</span></li>
						<li class="nbody"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
					</ul>
				</li></a>
			<a href="#">
				<li>
					<ul class="nbox">
						<li class="ntitle">News news</li>
						<li class="ndate"><span>2013-12-20</span></li>
						<li class="nbody"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea asperiores quidem.</span></li>
					</ul>
				</li>
			</a>
		</ul>
	</div>
</div>
{% endmacro %}
{{ add_carousel_item( '0', item1(), 'active') }}
{{  add_carousel_item( '1', item2()) }}
{{ add_carousel_item( '2', item3()) }}






{% block carousel %}
	{% block carousel_top %}{% endblock carousel_top %}
	
	{% block carousel_inner %}
	<div class="carouselBlock container">
	<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
		{% block carousel_indicators %}
		<!-- Carousel indicators -->
		<ol class="carousel-indicators">
			{% block carousel_indicators_list %}
				{% for indicator in carousel_indicators %}
					{{ indicator }}
				{% endfor %}
			{% endblock carousel_indicators_list  %}
		</ol>   	
		{% endblock carousel_indicators %}
		{% block carousel_items %}
	    <!-- Carousel items -->
	    <div class="carousel-inner">
			{% block carousel_items_list %}
				{% for item in carousel_items %}
						{{ item }}
				{% endfor %}
			{% endblock %}
	    </div>		
		{% endblock carousel_items %}
	{% endblock carousel_inner%}
	
	{% block carousel_bottom %}{% endblock %}
{% endblock %}
