{% macro document_recbox(title, id, link=false, img_type='fa-file') %}
	<li class="col-md-4 col-xs-12 col-sm-6">
		<a href="{{ url_for('record/'+id) if not link else link|safe}}">
			<div class="recordbox">
				<div class="top row">
					<div class="col-md-2">
						<span class="fa fa-cubes"></span>
					</div>
					<div class="col-md-10">
						<h5>{{ title |safe }}</h5>
					</div>
				</div>
				<div class="thumb iconed">
					<div class="fa {{img_type}}"></div>
				</div>
				<div class="details">
					<span>Read more</span>
				</div>
			</div>
		</a>
	</li>
{% endmacro %}
{% macro datasample_recbox(title, id, link=false, image='default.jpg') %}
	<li class="col-md-4 col-xs-12 col-sm-6">
		<a href="{{ url_for('record/'+id) if not link else link|safe}}">
			<div class="recordbox">
				<div class="top row">
					<div class="col-md-2">
						<span class="fa fa-database"></span>
					</div>
					<div class="col-md-10">
						<h5>{{ title |safe }}</h5>
					</div>
				</div>
				<div class="thumb">
					<img src="{{ url_for('static', filename=image ) }}" alt="">
				</div>
				<div class="details">
					<span>Read more</span>
				</div>
			</div>
		</a>
	</li>
{% endmacro %}

{% macro record_samples(cms, alice) %}
	 <div class="tab-content">
	 	<div class="tab-pane fade in active" id="CMS">
	 		<ul class="row">
	 			{% for r in cms %}
	 				{% if r['collections'][0]['primary'] in ['CMSDERIVEDDATASET','CMS'] %}
	 					{{ document_recbox(r['title']['title'], r['recid']|string) }}
	 				{% elif r['collections'][0]['primary'] == 'CMSPRIMARYDATASET' %}
						{{ datasample_recbox(r['title']['title'], r['recid']|string, image='img/opendata/ttbar-scaled.png' )  }}
	 				{% endif %}
	 			{% endfor %}
	 		</ul>
	 		<div class="seeall">
	 			<a href="{{ url_for('collection/CMS') }}" class="col-md-12">SEE ALL</a>
	 		</div>
	 	</div>
	 	<div class="tab-pane fade" id="ALICE">
	 		<ul class="row">
	 			{% for r in alice %}
	 				{% if r['collections'][0]['primary'] == 'ALICEANALYSIS' %}
	 					{{ document_recbox(r['title']['title'], r['recid']|string) }}
	 				{% elif r['collections'][0]['primary'] == 'ALICESIMPLIFIEDDATASET' %}
						{{ datasample_recbox(r['title']['title'], r['recid']|string, image='img/opendata/ttbar-scaled.png' )  }}
	 				{% endif %}
	 			{% endfor %}
	 		</ul>
	 		<div class="seeall">
	 			<a href="{{ url_for('collection/ALICE') }}" class="col-md-12">SEE ALL</a>
	 		</div>
	 	</div>
	 </div>
{% endmacro %}

{% macro search_form() %}
	{% block searchform %}
	<div class="pull-right searchForm col-md-12">
		<form action="{{ url_for('search') }}" method="get" name="searchForm" role="form" class="pull-right" id="searchForm">
				<input type="text" name="p" placeholder="Looking for ..." class="form-control">
				<button class="btn btn-search fa fa-search"></button>
		</form>
	</div>
	{% endblock searchform %}
{% endmacro %}

<!-- /////////// -->

<div class="nav collections-nav">
	<div class="container">
	<div class="row">
		{% block leftside_actions %}
			<ul class="pull-left col-md-7 nav nav-tabs" role="tablist">
				<li class="active"><a href="#CMS" role="tab" data-toggle="tab"></span>CMS</a></li>
				<li><a href="#ALICE" role="tab" data-toggle="tab"></span>ALICE</a></li>
			</ul>
		{% endblock leftside_actions %}
		{% block rightside_actions %}
			<div class="col-md-5">
			<div class="row">
			{% if show_searchbar is sameas true %}
				{{ search_form() }}
			{% endif %}
			</div>
			</div>
		{% endblock rightside_actions %}</div>
	</div>
</div>

<div class="collRecords">
	<div class="container">
			{{ record_samples(cms, alice) }}
	</div>
</div>
