{% macro document_recbox(title, id, link=false, img_type='fa-file') %}
	<li class="col-md-3 col-xs-12 col-sm-6">
		<a href="{{ url_for('record/'+id) if not link else link|safe}}"><div class="recordbox">
				<div class="top">
					<span class="fa fa-file"></span>
					<h5>{{ title |safe }}</h5>
				</div>
				<div class="thumb iconed">
					<div class="fa {{img_type}}"></div>
				</div>
				<div class="details">
					<span>Read more</span>
				</div>	
			</div></a>
	</li>
{% endmacro %}
{% macro datasample_recbox(title, id, link=false, image='default.jpg') %}
	<li class="col-md-3 col-xs-12 col-sm-6">
		<a href="{{ url_for('record/'+id) if not link else link|safe}}">					
			<div class="recordbox">
				<div class="top">
					<span class="fa fa-bar-chart-o"></span>
					<h5>{{title|safe}}</h5>
				</div>
				<div class="thumb">
					<img src="{{ url_for('static', filename=image ) }}" alt="">
				</div>
				<div class="details">
					<span>Read more</span>
				</div>
			</div>
		</a>
	</li>
{% endmacro %}

{% macro record_samples() %}
	{{ document_recbox('Testing Document', '1') }}
	{{ datasample_recbox('Testing Data Sample', '1', image='img/opendata/dielectron2-scaled.png') }}
	{{ document_recbox('CMS Document 1', '1') }}
	{{ datasample_recbox('Testign Data Sample 2', '1', image='img/opendata/HtoGammaGamma-scaled.png') }}
	{{ document_recbox('CMS Document 2', '1') }}
	{{ datasample_recbox('Dimuon events with invariant mass range 2-5 GeV', '15', image='img/opendata/Jpsimumu-scaled.png')  }}
	{{ datasample_recbox('Testing Data Sample 3', '1', image='img/opendata/ttbar-scaled.png' )  }}
	{{ document_recbox('CMS Document 3', '11') }}
{% endmacro %}

{% macro search_form() %}
	{% block searchform %}
	<div class="pull-right searchForm col-md-5">
		<form action="{{ url_for('search') }}" method="get" name="searchForm" role="form" class="pull-right" id="searchForm">
				<input type="text" name="p" placeholder="Looking for ..." class="form-control">
				<button class="btn btn-search fa fa-search"></button>
		</form>
	</div>
	{% endblock searchform %}
{% endmacro %}

<!-- /////////// -->

<div class="nav collections-nav">
	<div class="container">
	{% block leftside_actions %}
		<ul class="pull-left col-md-7">
			<li class="active"><span class="fa fa-tag"></span>LATEST</li>
			<a href="/search?cc=CMS"><li><span class="fa fa-dot-circle-o"></span>CMS</li></a>
			<a href="/search?cc=ALICE"><li><span class="fa fa-circle-o"></span>ALICE</li></a>
			<a href="/search?cc=LHCb"><li><span class="fa fa-circle"></span>LHCb</li></a>
			<a href="/search?cc=ATLAS"><li><span class="fa fa-circle-o-notch"></span>ATLAS</li></a>
		</ul>
	{% endblock leftside_actions %}
	{% block rightside_actions %}
		{% if show_searchbar is sameas true %}
			{{ search_form() }}
		{% endif %}
	{% endblock rightside_actions %}
	</div>
</div>
<div class="collRecords">
	<div class="container">
		<ul>
			{{ record_samples() }}
		</ul>
	</div>
	<div class="container seeall">
		<a href="{{ url_for('search') }}">SEE ALL</a>
	</div>
</div>

