{% macro get_breadcrumbs(breadcrumbs, exp = None) %}
  <div class="breadcrumbs">
    <!-- <a href=""><span style="font-size:16px;padding-top:5px;float:left;" class="glyphicon glyphicon-home"></span><span class="fa fa-chevron-right"></span></a> -->
  {% for b in breadcrumbs[1:] %}
    {% if loop.index is divisibleby 2  %}
    <a href="{{url_for(b.url)}}"><h4 class="active">{{b.text}}</h4></a>{{ '<span class="fa fa-chevron-right"></span>'|safe if not loop.last }}
    {% else %}
    <a href="{{url_for(b.url)}}"><h4>{{b.text}}</h4></a>{{ '<span class="fa fa-chevron-right"></span>'|safe if not loop.last}}
    {% endif %}
    {% if loop.last and exp %}
    <h4 style="margin-left:7px;" class="{{ ' active' if (loop.index is not divisibleby 2) }}">{{exp}}</h4>
    {% endif %}
  {% endfor %}
  </div>
{% endmacro %}