<!-- These javascript files for ispy CSM visualizer are populated through `create-instance.sh` script
     by directly cloning `ispy-webgl` repository. In case of upgrade, please update the version there -->

<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/jquery.scrollintoview.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/stupidtable.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/stats.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/three.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/tween.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/CombinedCamera.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/TrackballControls.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/Projector.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/CanvasRenderer.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/SVGRenderer.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/MTLLoader.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/OBJLoader.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/OBJExporter.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/STLExporter.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/GLTFExporter.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/DeviceOrientationControls.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/StereoEffect.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/lib/StereoCamera.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/config.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/setup.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/animate.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/files-load.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/objects-draw.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/objects-add.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/objects-config.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/geometry/dt.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/geometry/csc.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/geometry/rpc.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/controls.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/tree-view.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/display.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ispy-webgl/js/ispy.js') }}"></script>
