<!-- These css files are taken from `ispy-webgl` repository and modified in order to make
     it work with Semantic UI. Please refer to DEVELOPING.rst for more information -->

<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/ispy-webgl/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/ispy/bootstrap-prefixed.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/ispy/ispy-prefixed.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/ispy/ispy.css') }}">
