{%- from "invenio_previewer/macros.html" import preview_file %}

{% set selected_file = record.files.dumps()[0] %}

{%- if selected_file and selected_file is previewable_file -%}
  <div class="panel panel-" id="preview">
      <a class="panel-toggle" data-toggle="collapse" href="#collapseOne">
        <h3>{{_('Preview')}}
        <!-- <span class="pull-right show-on-collapsed"><i class="fa fa-chevron-right"></i></span> -->
        <span class="pull-right hide-on-collapsed"><i class="fa fa-chevron-down"></i></span>
        </h3>
      </a>
    <div id="collapseOne" class="collapse in">
        {{- preview_file('invenio_records_ui.recid_preview', pid=pid, filename=selected_file.key) }}
    </div>
  </div>
{%- endif %}