<div class="yeartabs-container">
  <div class="yeartabs">
    <div {% if year == '2010' %}class="in active"{% endif %}><a data-toggle="tab"  data-target="#year2010" href="{{url_for('.get_started', exp='CMS', year='2010')}}">2010</a></div>
    <div {% if year == '2011' or year==None %}class="in active"{% endif %}><a data-toggle="tab" data-target="#year2011" href="{{url_for('.get_started', exp='CMS', year='2011')}}">2011</a></div>
  </div>  
</div>

<div class="tab-content">
  <div id="year2010" class="tab-pane fade {% if year == '2010' %} in active {% endif %}">
    {% include 'get_started_CMS_2010.html' ignore missing %}
  </div>
  <div id="year2011" class="tab-pane fade {% if year == '2011' or year==None %} in active {% endif %}">
    {% include 'get_started_CMS_2011.html' ignore missing %}
  </div>
</div>
