<h1 class="gen-title">Learn how to use the LHCb virtual machine to have a first look at LHCb events and use analysis tools</h1>

<div class="gen-box">
  <h2>"How do I start LHCb software?"</h2>
  <p>
    LHCb software comes via a virtual machine image. The only thing you need to install by yourself on you desktop is VirtualBox. Then you just need to download the LHCb virtual machine image  open it with VirtualBox and click on the LHCMasterclass icon on the desktop. (see instructions <a href="{{url_for('cernopendata.vm_experiment', experiment='LHCb')}}">here</a> )
  </p>
</div>

<div class="gen-box">
  <h2>"What kind of LHCb data will I work on?”</h2>
    <p>
      The data samples you can download from this portal consists of candidates for a type of charmed particle known as a D0 particle found in a sample of randomly collected LHC interactions during 2011 data taking. A D0 particle consists of a charm quark and an up anti-quark. The particles are measured decaying in the mode D0→K-π+ where the final state particles are a kaon (K-) consisting of a strange quark and an anti-up quark, and a pion (π+) that consists of a down anti-quark and an up quark. The +, - and 0 refer to the electric charge of the particle, whether it is positively charged, negatively charged or neutral.
    </p>
    <p>
      These particles have lifetime which are long enough that, for the purpose of this exercise, they are stable within the LHCb detector. The particles have been preselected using loose criteria so that you begin in the samples you will have ith a visible signal, but background events are also present.
    </p>
</div>

<div class="gen-box">
  <h2>"I have installed VirtualBox, downloaded LHCb VM image and launched it. And now?”</h2>
    <p>The LHCbMasterclass exercise is divided into two parts: the Event Display and the D0 lifetime fitting exercise, which should be executed in this order.</p>
    <p>
      Once you click on the icon LHCbMasterclass you will be asked to select a language, enter your details and select the sample you want to analyse.
    </p>
    <p>
      After clicking on the Save button, you can start the Event Display. If you want to move directly to the second exercise, just click on Move on to D0 exercise.
    </p>
</div>

<div class="gen-box">
  <h2>"What can I learn from this exercise?"</h2>
    <p>
      You will be working on real collisions recorded by the LHCb experiment during 2011 data taking, which contain both signal and background particles. This set of two exercises is designed to teach you how to
      <ul>
        <li>Use an event display of the proton-proton collisions inside the LHCb detector to search for charmed particles and separate this signal from backgrounds.</li>
        <li>Fit functional forms for the signal and background to the data in order to measure the number of signal events in the data sample and their purity (defined as the fraction of signal events in the total sample).</li>
        <li>Obtain the distribution of signal events in a given variable by taking the combined distribution of events in the data sample (which contains both signal and background events) and subtracting the background distribution. The result of the fit in the previous step is used to find a sample of pure background events for subtraction, and to compute from the signal yield and purity the appropriate amount of background which should be subtracted.</li>
        <li>The signal you will be looking at decays exponentially with time, analogously to a radioactive isotope. You can now use the sample of events passing the previous step to measure the "lifetime" of the signal particle. The lifetime is defined as the time taken for (e-1)/e of the signal events to decay, where e~2.718 is the base of the natural logarithm. It is analogous to the concept of half-life in radioactive decay.</li>
      </ul>
    </p>
</div>

<div class="gen-box">
  <h2>"How does the Event display exercise work?"</h2>
    <p>
      The aim of the event display exercise is to locate displaced vertices belonging to D0 particles in the vertex detector of the LHCb experiment. When you launch the exercise and load an event, you will see an image of the LHCb detector and particle trajectories ("tracks") inside it. These tracks are colour coded, and a legend at the bottom of the GUI tells you which colour corresponds to which kind of particle.
    </p>
    <p>
      In order to make identifying vertices easier, you can view an event in three different two-dimensional projections : y-z, y-x and x-z, show for one event the following pictures:
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img src="{{ url_for('static', filename='img/get_started_lhcb_1.png') }}" style="width:100%;"/>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="{{ url_for('static', filename='img/get_started_lhcb_2.png') }}" style="width:100%;"/>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="{{ url_for('static', filename='img/get_started_lhcb_3.png') }}" style="width:100%;"/>
        </div>
      </div>
    </p>
    <p>
      Different events will be clearer in different projections, so feel free to experiment with all three! Displaced vertices appear as a pair of intersecting tracks, far away from the other tracks in the event. When you click on a particle, you will see its information, including mass and momentum, in the Particle Info box.
      A D0 particle decays into a kaon and a pion, so you will need to find a displaced vertex where a kaon track intersects with a pion track. Once you find a track which you think is part of the displaced vertex, you can save it using the Save Particle button. Once you have saved two particles, you can compute their mass by clicking on the Calculate button. If you think this combination has a mass compatible with that of the D0 particle, click on Add to save it : by saving a combination for each event, you will build up a histogram of the masses of the displaced vertices in the different events.
    </p>
    <p>
      Remember that you are looking at real data so it contains both signal and background, and the detector has a finite resolution, so not all displaced vertices will have exactly the D0 mass (even the signal ones). They should, however, be within the range 1816-1914 MeV (this range is around 3% each way around the true D0 mass). If you try to save a combination which is too far away from the real D0 mass the exercise will warn you that you have not found the correct displaced vertex pair and won't let you save it.
      If you are not able to find the displaced vertex for an event after a few minutes, move on to the next event and come back to the one which was giving you trouble if you have time at the end of the exercise. Once you have looked at all events, you can examine your mass histogram by clicking the Draw button.
    </p>
</div>

<div class="gen-box">
  <h2>"How does the D0 lifetime fitting exercise work?"</h2>
    <p>
      Before describing the fitting part of the exercise, it will be useful to list the variables involved in this exercise :
    </p>
    <p><b>D0 mass</b>: this is the invariant mass of the D0 particle. The signal can be seen as a peaking structure rising above a at background. The range of masses relevant for this analysis is 1816-1914 MeV. The signal shape is described by the Gaussian (also known as "normal") distribution. The center ("mean") of this distribution is the mass of the D0 particle, while the width represents the experimental resolution of the detector.
    </p>
    <p><b>D0 TAU</b>: this is the distribution of decay times of the D0 candidates. The signal is described by a single exponential whose slope is the D0 lifetime (the object of the last exercise), while the background concentrates at short decay times.
    </p>
    <p>
      <b>D0 IP</b>: this is the D0 distance of closest approach ("impact parameter") with respect to the proton-proton interaction in the event. The smaller the impact parameter, the more likely it is that the D0 actually came from that primary interaction. In order to simplify the drawing, we actually plot and cut on the logarithm (base 10) of this quantity in the exercise.
    </p>
    <p><b>D0 PT</b>: this is the momentum of the D0 transverse to the LHC beamline.</p>
    <hr>
    <p>
      <b>Exercise 1</b> : fitting the mass distribution and obtaining signal variable distributions The object of this exercise is to fit the distribution of the D0 mass variable, and extract the signal yield and purity.</p>
      <ul>
        <li>Click on the Plot D0 mass button to plot the overall mass distribution. You will see a peak (signal) on top of a at distribution (background). The peak should be described by a Gaussian function, whose mean corresponds to the mass of the D0 and whose width (σ) is determined by the experimental resolution of the LHCb detector.</li>
        <li>Click on Fit mass distribution to fit this distribution using a Gaussian function for the signal and a linear function for the background.</li>
        <li>Look at the fitted mass distribution. You can split it into three regions: the signal region and two background-only "sidebands": one above the signal (the upper sideband) and one below the signal (the lower sideband). A Gaussian distribution contains 99.7% of its events within three standard deviations of the mean, so this "three σ" region around the mean is usually the definition of the signal region.</li>
        <li>Use the slider labelled Sig range to define the beginning and end of the signal region. All events not falling into the signal region will be said to fall into the background region.</li>
        <li>You can now use the definitions of the signal and background regions in the mass variable to determine the signal and background distributions in other variables. Click on the button labelled Apply cuts and plot variables. You will see the signal (blue) and background (red) distributions for the other three variables plotted next to the mass distribution. You should discuss the exercise with an instructor at this point.</li>
      </ul>


    <p><b>Exercise 2</b> : measuring the D0 lifetime The object of this exercise is to use the signal sample which you obtained in the previous step to measure the lifetime of the D0 particle. This is the same quantity as the half-life of a radioactive particle: the D0 decays according to an exponential distribution, and if this exponential is fitted to a distribution of the D0 decay times, the slope of this exponential is the lifetime of the D0.</p>
      <ul>
        <li>Fit the lifetime of the D0.</li>
        <li>Compare the slope of this exponential to the D0 lifetime given by the Particle Data Group. Talk to an instructor about how well these agree with each other.</li>
        <li>In addition to statistical uncertainties, measurements can suffer from systematic uncertainties, caused by a miscalibrated apparatus or an incorrect modelling of the backgrounds. One basic technique for estimating these is to repeat the measurement while changing the criteria used to select signal events. If the result changes significantly when changing the criteria, we know that there is something wrong!</li>
        <li>Repeat your fit for the lifetime of the D0 while varying the maximum allowed D0 impact parameter. The allowed values range from -4:0 to 1.5 in the original fit. Move this upper value from 1.5 to -2.0 in steps of 0.25, and refit the D0 lifetime at each point, saving the results as you go along.</li>
        <li>Plot the histogram showing the fitted value of the D0 lifetime as a function of the upper cut on the impact parameter. Discuss the shape, and what it tells you about the D0 lifetime, with an instructor.</li>
        <li>What other sources of systematic uncertainty might we need to consider when making a lifetime measurement?</li>
      </ul>




</div>
