{% extends "page.html" %}

{% import 'helpers/general.html' as gen_utils %}


{% block glossary_bundle %}{% endblock %}
{% block glossary_js %}{% endblock %}
{% block body %}
<section class="infobar">
	<div class="container">
		{{ gen_utils.get_breadcrumbs(breadcrumbs, exp) }}
	</div>
</section>


<style>
	#glossary {
		padding-bottom: 40px;
	}

	.term-box {
		margin-bottom: 20px;
	}

	.term-box h2 {
		float: left;
		font-size: 18px;
		font-weight: 400;
		margin: 0;
		margin-right: 7px;
	}

	.term-box h2 a {
		color: inherit;
		text-decoration: none;
		display: inline-block;
		margin-left: -20px;
		padding-left: 20px;
	}

	.term-box h2 a span {
		visibility: hidden;
		font-size: 12px;
		margin-top: -3px;
		margin-left: -17px;
		margin-right: 5px;
		opacity: 0.3;
	}
	.term-box h2 a span:hover,
	.term-box h2 a:hover span {
		visibility: visible;
	}
	.term-box p {

	}
	.term-tag,
	.term-tag:hover {
		/*float: left;*/
		padding: 1px 4px;
		background-color: #6d7886;
		border-radius: 2px;
		color: #fff;
		margin-right: 2px;
		font-size: 11px;
		margin-top: -5px;
	}
	.seealso {
		background-color: rgba(245, 245, 245, 0.52);
		padding: 1px 3px;
		border-radius: 2px;
		font-size: 12px;
		margin-right: 2px;
	}
	.links {
		background-color: #919fb2;
		color: #fff;
		padding: 1px 3px;
		border-radius: 2px;
		font-size: 12px;
		display: inline-block;
		margin-right: 2px;
	}
	.links a,
	.links a:hover {
		color: inherit;
		text-decoration: none;
	}
	.term-box .center-block {
		width:100%;
		border-bottom:1px solid rgba(145, 159, 178, 0.75);
		margin-top:20px;
	}


</style>

<section id="glossary" class="general content">
	<div class="container">
		<div class="row">
		<div class="col-md-12"><h1 class="gen-title">Glossary Terms</h1></div>
			{% for i in glossary %}
				{% if i.status != "WIP" %}
				<div class="col-md-12">
					<div class="term-box">
							<h2 id="{{ i.anchor }}"><a href="#{{ i.anchor }}"><span class="fa fa-anchor"></span>{% if i.term is string %}{{i.term}}{% else %}{{i.term[0]}}{% endif %}</a></h2>
							<p>
								{{ i.definition }}<br/>
								{% for e in i.experiment %}
									<a class="term-tag exp-tag" href="#">{{e.name}}</a>
								{% endfor %}
								{% if i.links %}
									{% for l in i.links %}
									<span class="links"><a href="{{l.url}}">{{l.text}}</a></span>
									{% endfor %}
								{% endif %}
								{% if i.see_also %}
							  	<span class="seealso">see also: {% for s in i.see_also %}<a href="#{{s.term}}">{{ s.term }}</a>{{', ' if not loop.last}}{% endfor %}</span>								
								{% endif %}
							</p>
							{% if not loop.last %}
								<div class="center-block"></div>							
							{% endif %}
					</div>
				</div>				
				{% endif %}
			{% endfor %}				
		</div>
	</div>
</section>
{% endblock %}
