<footer id="footer">
  <hr/>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="http://www.cern.ch">
          <img src="{{ url_for('static', filename='img/opendata/cern-logo-large.png') }}" alt="CERN">
        </a>
      </div>
      <div class="text-right col-md-6">
        <a href="http://alice.cern.ch">
          <img src="{{ url_for('static', filename='img/ALICE.gif') }}" alt="ALICE">
        </a>
        <a href="http://atlas.ch">
          <img src="{{ url_for('static', filename='img/ATLAS.svg') }}" alt="ATLAS">
        </a>
        <a href="http://cms.cern.ch">
          <img src="{{ url_for('static', filename='img/CMS.gif') }}" alt="CMS">
        </a>
        <a href="http://lhcb.cern.ch">
          <img src="{{ url_for('static', filename='img/LHCb.gif') }}" alt="LHCb">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="small text-center col-md-push-3 col-md-6">
        <br/>
        <ul class="list-inline" style="display: inline;">
          <li>© 2014, 2015, 2016 CERN</li>
          <li><a href="{{ url_for('cernopendata.terms') }}">Terms of Use</a></li>
          <li><a href="{{ url_for('cernopendata.privacy') }}">Privacy Policy</a></li>
          <li><a href="mailto:opendata-support@cern.ch">Contact</a></li>
        </ul>
        <span class="col-md-pull-3 col-md-3 col-xs-6">
          {% trans link="http://inveniosoftware.org" %}Powered by <a href="{{link}}">Invenio</a>{% endtrans %}
        </span>
        <ul class="col-md-3 col-xs-6">
          {% if config.I18N_LANGUAGES %}
            {% from "invenio_i18n/macros/language_selector.html" import language_selector %}
            <li>
              {{ language_selector() }}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
