{%- extends config.BASE_TEMPLATE %}

{%- block css %}
{{ super() }}
{% assets "invenio_search_ui_search_css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{%- endblock css %}

{%- block javascript %}
{% assets "cernopendata_js" %}
<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets "cernopendata_search_js" %}
<script src="{{ ASSET_URL }}"></script>{% endassets %}
<script>
  angular.element(document).ready(function () {
    angular.bootstrap(
      document.getElementById("invenio-search"), [
        'invenioSearch'
      ]
    );
  });
</script>
{%- endblock javascript %}


{%- block page_body %}
<div class="container-fluid background">
  <div class="container research">
    <div id="invenio-search">
      <invenio-search
        search-endpoint="/api/glossary"
        search-hidden-params='{% if search_hidden_params %}{{search_hidden_params|tojson}}{% endif %}'
        search-headers='{"Accept": "{{ config.SEARCH_UI_SEARCH_MIMETYPE|default(' application/json')}}"}'
      >
      <div class="row">
        <div class="col-md-12">
          <div class="card card-style">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <invenio-search-count
                    template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_COUNT) }}">
                  </invenio-search-count>
                </div>
                <div class="col-md-6">
                  <invenio-search-pagination
                    template="{{ url_for('static', filename='templates/cernopendata_search_ui/pagination.html') }}">
                  </invenio-search-pagination>
                </div>
                <div class="col-md-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <invenio-search-results
            template="{{ url_for('static', filename='templates/cernopendata_terms_ui/results.html') }}">
          </invenio-search-results>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <invenio-search-pagination
            template="{{ url_for('static', filename='templates/cernopendata_search_ui/pagination.html') }}">
          </invenio-search-pagination>
        </div>
      </div>
      </invenio-search>
    </div>
  </div>
</div>
{%- endblock page_body -%}
