{%- extends config.BASE_TEMPLATE %}

{%- block page_body %}
<section id="termsofuse" class="content">
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h2>{{ _('CERN Open Data Privacy Policy') }}</h3>
      </div>

      <p>CERN does not track, collect or retain personal information from users of CERN Open Data Portal, except as otherwise provided herein. In order to enhance CERN Open Data Portal and monitor traffic, non-personal information such as IP addresses and cookies may be tracked and retained, as well as log files shared in aggregation with other community services. User provided information, like corrections of metadata or paper claims, will be integrated into the database without displaying its source and may shared with other services.</p>
      <p>CERN Open Data Portal will take all reasonable measures to protect the privacy of its users and to resist service interruptions, intentional attacks, or other events that may compromise the security of the CERN Open Data Portal website.</p>
      <p>If you have any questions about the CERN Open Data Portal privacy policy, please contact <a href="mailto:opendata-support@cern.ch">opendata-support@cern.ch</a></p>

    </div>
  </div>
</section>

{% endblock %}
