{%- extends config.BASE_TEMPLATE %}

{%- block css %}
{{super()}}
{%- endblock css %}

{%- block javascript %}
  {% assets "cernopendata_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  {% assets "cernopendata_search_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  <script>
    angular.element(document).ready(function() {
      angular.bootstrap(
        document.getElementById("invenio-search"), [
           'invenioSearch',
           'angular-loading-bar'
        ]
      );

    });

    angular.module('angular-loading-bar').config(['cfpLoadingBarProvider', function(cfpLoadingBarProvider) {
        cfpLoadingBarProvider.includeSpinner = false;
    }]);

    angular.module('invenioSearch').filter('unsafe', ['$sce', function($sce) {
      return function(input) {
        return $sce.trustAsHtml(input + '...');
      };
    }]).filter('getType', function(){
        return function(record){
           var schema_to_url_map = {
             "glossary-term-v1.0.0.json": 'glossary',
             "docs-v1.0.0.json": 'docs',
             "record-v1.0.0.json": 'record',
             "datasets-v1.0.0.json": 'dataset',
             "software-v1.0.0.json": 'software'
           }

            var schema_name = record.metadata.$schema.split('/').pop();
            return schema_to_url_map[schema_name];
        }
    });

</script>
{%- endblock javascript %}

{%- block page_body %}
<div class="container-fluid background">
    <div class="container research">
      <div id="invenio-search">
        <invenio-search
         search-endpoint="/api/records/"
         >
         <invenio-search-error
         template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_ERROR) }}"
         >
         </invenio-search-error>
         <div class="row">
             <div class="col-md-3 col-position">
                 <div class="card card-style">
                     <div class="card-body content-style">
                         <invenio-search-facets
                          order="type,experiment,year,file_type,
                          collision_type,collision_energy,topic_category,
                          run,keywords"
                          template="{{ url_for('static', filename='templates/cernopendata_search_ui/facets.html') }}">
                         </invenio-search-facets>
                     </div>
                 </div>
             </div>
             <div class="col-md-9 col-position">
                 <div class="row">
                     <div class="col-md-12">
                         <div class="card card-style">
                             <div class="card-body">
                                 <div class="row">
                                     <div class="col-md-6">
                                         {%- set sort_options = config.get('RECORDS_REST_SORT_OPTIONS', {}).get(config.SEARCH_UI_SEARCH_INDEX) %}
                                         {%- if sort_options %}
                                         {%- block search_sort_select scoped %}
                                         Sort by:
                                         <nobr>
                                         <invenio-search-select-box
                                          sort-key="sort"
                                          available-options='{{ sort_options|format_sortoptions|safe }}'
                                          template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_SELECT_BOX) }}"
                                          >
                                         </invenio-search-select-box>
                                             {%- endblock search_sort_select %}
                                             {%- block search_sort_order scoped %}
                                             <invenio-search-sort-order
                                          sort-key="sort"
                                          template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_SORT_ORDER) }}"
                                          >
                                             </invenio-search-sort-order>
                                                 {%- endblock search_sort_order %}
                                                 {%- endif %}
                                         </nobr>
                                     </div>
                                     <div class="col-md-6 text-right">
                                         Display:
                                         <nobr>
                                         <select ng-value="display_type" ng-model="display_type"
                                             ng-init="display_type='{{request.values.get('display', '')}}' || 'detailed'"
                                             ng-change="vm.invenioSearchArgs['display']=display_type">
                                             <option value="detailed">detailed</option>
                                             <option value="condensed">condensed</option>
                                         </select>
                                         <select ng-value="display_size" ng-model="display_size" 
                                             ng-init="display_size='{{request.values.get('size', '')}}' || '20'"
                                             ng-change="vm.invenioSearchArgs['size']=display_size" >
                                             <option value="20">20 results</option>
                                             <option value="50">50 results</option>
                                             <option value="100">100 results</option>
                                             <option value="200">200 results</option>
                                             <option value="500">500 results</option>
                                         </select>
                                         </nobr>
                                     </div>
                                 </div>
                                 <hr>
                                 <div class="row">
                                     <div class="col-md-3">
                                         <invenio-search-count
                                          template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_COUNT) }}">
                                         </invenio-search-count>
                                     </div>
                                     <div class="col-md-6">
                                         <invenio-search-pagination
                                          template="{{ url_for('static', filename='templates/cernopendata_search_ui/pagination.html') }}">
                                         </invenio-search-pagination>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <br>
                 <invenio-search-results ng-show="display_type=='detailed'"
                                         template="{{ url_for('static', filename='templates/cernopendata_search_ui/results.html') }}">
                 </invenio-search-results>
                 <div ng-show="display_type=='condensed'">
                     <invenio-search-results
                      template="{{ url_for('static', filename='templates/cernopendata_search_ui/condensed_results.html') }}">
                     </invenio-search-results>
                 </div>
                 <br>
                 <div class="row">
                     <div class="col-md-12">
                         <invenio-search-pagination
                          template="{{ url_for('static', filename='templates/cernopendata_search_ui/pagination.html') }}">
                         </invenio-search-pagination>
                     </div>
                 </div>
             </div>
         </div>
        </invenio-search>
          </div>
    </div>
</div>
{%- endblock page_body %}

{%- block search_results %}

{%- endblock search_results %}


{%- block search_facets %}

{%- endblock search_facets %}
