{% extends "invenio_search_ui/search.html" %}

{# FIXME
{%- block javascript %}
{% assets "cernopendata_theme_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}
#}

{%- block search_results %}
<invenio-search-results
 template="{{ url_for('static', filename='templates/cernopendata_search_ui/results.html') }}">
</invenio-search-results>
{%- endblock search_results %}

{# FIXME
{%- block search_facets %}
<div class="col-md-3 col-md-pull-9 col-xs-12">
  <invenio-search-facets
   template="{{ url_for('static', filename='templates/cernopendata_search_ui/facets.html') }}">
  </invenio-search-facets>
</div>
{%- endblock search_facets %}
#}
