.carousel a, .carousel a:hover, .carousel a:focus{
	color: #fff;
}

.intro {
    height: 350px;
    background-color: #899AA5;
}
.carouselBlock {
	height: 100%;
}

.carousel-inner{
	overflow: initial!important;
	height: 100%;

}
.carouselBlock .carousel-caption {
	height: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.carouselBlock .carousel {
	height: 100%;
}

.carouselBlock .carousel-indicators {
	margin-left: 0;
}

.carouselBlock .item {
	height: 85%;
}

.carousel-caption > div {
	margin-top: 30px;
	padding: 30px
}

.carousel-caption > div.inneritem {
	margin-top: 0;
	padding: 0;
	padding-top: 50px;
}
.intro .imagebox {
	text-align: right;
	padding-right: 100px;
	margin-top: 15px;
}
.intro .imagebox  img{
	height: 200px;
}
.intro .inneritem  {
	display: inline-block;
	padding-top: 50px;
}

.intro .inneritem > div {
	padding-left: 50px;
}
.intro .entrypoints  {
	color: #fff!important;
	font-size: 50px;
	font-weight: 200;
	padding: 0;
	margin: 10px 0;
	text-align: left;
}

.intro .entryactions li {
	width: 100%;
	font-weight: 300;
	font-size: 20px;
}
.intro .entryactions li span {
	margin-right: 10px;
	width: 30px;
	text-align: center;
}
.intro .entryactions {
	float: left;
	text-align: left;
}

.entryactions span.fa-chevron-right {
	font-size: 15px;
	margin-left: 5px;
	margin-right: 0;
}

.intro .news .ntitle {
    display: inline-block;
}

.intro .news .ntitle  {
    float: left;
    width: auto;
    height: 25px;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}
.intro .news .ndate {
    width: auto;
    font-size: 9px;
    float: left;
    height: 25px;
    position: relative;
}
.intro .news .nbody {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 100;
}
.intro .news .ndate span {
    bottom: 0;
    display: inline-block;
    margin: 10px 5px;

}
.intro .news >ul>a>li{
	height: 45px;
	overflow: hidden;
}
.intro .news .nbody span {
    font-size: 10px;
    float: left;
    line-height: 1.05;
}

.intro .news h5 {
	float: left;
	font-size: 25px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 5px;
}

.intro .item .newsimg {
	padding-right: 30px;
}

.intro .item .newsimg > div {
	padding: 10px;
}
.intro  .item .newsimg img {
float: right;
height: 95px;
width: 160px;
margin: 10px;
border: 2px solid #fff;
}