.collections ul {
  padding: 0;
  margin: 0;
}
.collRecords .tab-content .title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 23px;
  font-weight: 600px;
  color: #fff;
}

.collRecords .tab-content .cms-list {

}

.collRecords .tab-content
.recordbox {
  background-color: #fff;
  height: auto;
  margin-bottom: 30px;
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  width: 100%;
}

#CMS.tab-pane > .col-md-8 {
  background-color: #A2B0BB;
  border-radius: 3px 0 0 3px;
}
#CMS.tab-pane > .col-md-4 {
  background-color: #B6C2CA;
  border-radius: 0 3px 3px 0;
}

.recordbox a,
.recordbox a:hover,
.recordbox a:focus {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
.recordbox .top {
  float: left;
  height: 46px;
  border-radius: 0;
  background-color: #606D75;
  color: #fff;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.recordbox .top {
  width: 100%;
  font-size: 16px;
  border-radius: 2px 2px 0 0;
  height: 46px;
}

.recordbox .top h5 {
  float: none;
  margin: 0;
  font-size: 13px;
  padding: 0;
  text-align: left;
  line-height: 1;
  font-weight: 100;
}

.recordbox .top .col-md-10 {
  margin-left: -15px;
}
.recordbox .thumb {
  float: right;
  height: 80%;
  text-align: center;

}
.recordbox .thumb img {
  max-width: 100%;
}

.recordbox .details span {
  margin-right: 5px;
  margin-top: 5px;

}
.recordbox .details .recbox-desc {
  padding-top: 3px;
  padding-bottom: 3px;
  overflow: hidden;
  height: 40px;
  background-color: #f5f5f5;
}
.recordbox .details .recbox-info {
  background-color: #d4d4d4;
  height: 25px;
  border-radius: 0 0 3px 3px;
  width: 100%;
}
.recordbox .details li {
  display: inline-block;
}
.recordbox .details li >div {
  float: left;
  padding-right: 10px;
}
.recordbox .details {
  border-radius: 0 0 3px 3px;
  font-size: 10px;
}

.search {
  background-color: #606D75;
  height: 200px;
  padding: 50px 0;
}


.search .phrase {
  color: #fff;
  font-size: 30px;
  height: 100px;
}

.search .searchForm {
  height: 100px;
  width: 320px;
  padding-top: 25px;
}
.searchForm {
  bottom: -14px;
}

.searchForm input {
  height: 30px;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  color: #496B72;
  width: auto;
  float: left;
}

.searchForm button {
  height: 30px;
  border-radius: 0 3px 3px 0;
  background-color: #B36666;
  color: #fff;
  font-size: 19px;
  float: left;
  margin-left: -1px;
}

.collections {

}

.collections .nav {
  background-color: #091B26;
}

.collections .nav ul {
  float: left;
}
.collections .nav li{
  font-size: 18px;
  padding: 5px 10px;
  font-weight: 300;
  float: left;
}

.collections .nav li.active {
  background-color: #f5f5f5;
  color: #091B26;
}

.collections .nav li span {
  margin-right: 10px;
}

.entrypoint_collections .collRecords {
  background-color: #f4f4f4;
  padding: 40px 0;
}

.entrypoint_collections .collections-nav {
  background-color: rgba(156, 174, 186, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
}

.entrypoint_collections .collections-nav ul {
  margin-bottom: 0;
  padding-left: 15px;
}
.entrypoint_collections .collections-nav ul.pull-left li{
  border-radius: 3px 3px 0 0;
  padding: 6px 15px;
  margin-right: 5px;
}
.entrypoint_collections .collections-nav ul.pull-left li a,
.entrypoint_collections .collections-nav ul.pull-left li a:hover,
.entrypoint_collections .collections-nav ul.pull-left li a:focus {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.entrypoint_collections .collections-nav ul.pull-left li.active{
  background-color: #f4f4f4;
  color: #606D75;
}

.entrypoint_collections .collections-nav a,
.entrypoint_collections .collections-nav a:hover,
.entrypoint_collections .collections-nav a:focus {
  color: #fff;
  font-weight: 400;
  font-size: 17px;

}
.recordbox .details span{
  font-weight: 100;
  font-size: 15px;
  float: none;
  color: #091B26;
}

.recordbox h5 {
  float: left;
  margin: 0;
  font-size: 20px;
  padding-left: 15px;
  font-weight: lighter;
  padding-top: 4px;
}

.recordbox span {
  float: left;
  font-size: 25px;
  margin-top: 2px;
}

.recordbox .thumb.iconed {
  padding: 20px 0;
  color: #899AA5;
}

.recordbox .thumb.iconed > div {
  font-size: 100px;
  margin: 25px 0;
}
.collRecords .seeall {
  text-align: center;
  height: 60px;
  width: 100%;
  display: inline-block;

}

.collRecords .seeall a {
  padding: 10px 40px;
  background-color: #606D75;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.info.dark {
  background-color: #798A96;
}

@media (max-width: 768px) {
  .collRecords .tab-content .cms-list {
    border-right: 0;
  }
}
@media (min-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .collections {

  }

  .collections .collections-nav {
    color: #f5f5f5;
  }

  .collections .nav {
    background-color: #091B26;
  }
  .collections .nav ul {
    float: left;
  }
  .collections .nav li{
    font-size: 16px;
    padding: 5px 20px;
    font-weight: 300;
    margin-top: 12px;
    float: left;
    color: #fff;
  }
  .recordbox .top {
    width: 100%;
    font-size: 16px;
    border-radius: 2px 2px 0 0;
    height: 46px;
  }

  .recordbox .top span {
    font-size: 20px;
    width: auto;
    margin: 0;
  }

  .recordbox .thumb {
    height: 158px;
    text-align: center;
    width: 100%;
  }

  .recordbox .thumb img {
    height: 100%;
  }
  .recordbox .thumb.iconed > div {
    font-size: 100px;
    margin:  0;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}




/*==== Styling for Edu/Research pages ====*/

#subcollection {
  padding-top: 0;
  padding-bottom: 30px;
}

#subcollection a,
#subcollection a:hover
#subcollection a:focus {
  color: #899AA5;
  text-decoration: none;
}

.websearch.clearfix {
  padding-top: 30px;
  padding-bottom: 30px;
}

#subcollection .collection.clearfix {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
}
#subcollection .collection.clearfix h4 {
  font-weight: 300;
}

#subcollection .collection .nav {
  background-color: #fff;
  margin-left: -10px;
  margin-right: -10px;
}

#subcollection .collection .nav li {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

#subcollection .collection .nav li a {
  float: left;
  padding: 0;
  padding-right: 5px;
  color: #666;
  font-weight: 600;

}

#subcollection .collection-res {
  background-color: #f4f4f4;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 100;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
}

#subcollection .collection-res .nav {
  background-color: inherit;
}
#subcollection .record-brief .record-header {
  font-size: 18px;
  font-weight: 600;
}
#subcollection .record-brief .record-header a{
  text-decoration: none;
}

#subcollection .record-brief p{
  font-size: 14px;
}
#subcollection .record-brief a {
  text-decoration: underline;
}

#subcollection .collection > ul li  {

}

#subcollection .coll-overview {
  margin-top: 20px;
}
#subcollection .coll-overview ul.nav {
  background-color: inherit;
  margin-right: -15px;
  margin-left: -15px;
}

#subcollection .coll-overview ul.nav li {
  padding-right: 15px;
  padding-left: 15px;
}
#subcollection .coll-overview .coll-box {
  background-color: #f4f4f4;
  padding: 20px 15px;
  text-align: center;
  height: auto;
  display: inline-block;
  font-weight: 100;
  border-radius: 5px;
  color: #657580;
  margin-bottom: 20px;
}

#subcollection .coll-overview .coll-box .thumb img {
  height: 120px;
  padding: 5px;
  font-size: 30px;
  font-weight: 100px;
}
#subcollection .coll-overview .coll-box .top{
  display: inline-block;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
}
#subcollection .coll-overview .coll-box .bottom {
  display: inline-block;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 300;
}
#subcollection .coll-overview .coll-box .top .title {
  margin-bottom: 10px;
  max-height: 45px;
  height: 45px;
}
#subcollection .coll-overview .coll-box .bottom > div {
  text-align: center;
}
#subcollection .coll-overview .coll-box .bottom .totalrecs .coll-rec-num {
  font-size: 26px;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}
#subcollection .coll-overview .coll-box .top .desc {
  max-height: 80px;
  height: 80px;
}
#subcollection .coll-overview .coll-box .top .desc span {
  font-size: 12px;
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
#subcollection .coll-overview .coll-box .bottom .subcollection {

}
#subcollection .coll-overview .coll-box .bottom .related {

}
#subcollection .collection-res > .col-md-12 {
  background-color: #f4f4f4;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #606D75;
}
#subcollection .collection-res > .col-md-12.last {
  border: 0;
}
#subcollection .results-title {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
#subcollection .collection-res .more-block {
  display: inline-block;
  width: 100%;
  border-top: 1px dotted #606D75;
}

#subcollection .collection-res .more {
  text-align: center;
  margin: 10px 15px;
}
#subcollection .collection-res .more a {
  background-color: #899AA5;
  padding: 2px 20px;
  display: inline-block;
  line-height: 2;
  color: #fff;
  border-radius: 5px;
}
#subcollection .coll-desc {
  text-align: left;
  color: #5E6970;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
}

.subcollection_exp .coll-desc {
  height: 130%;
  margin-top: -15px;
  margin-bottom: -15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f5f5f5 ;
  text-align: left;
}

.subcollection_exp .coll-button {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 100%;
}

li.disabled .subcollection_exp .coll-button {
  display: none;
}
.subcollection_exp .coll-button a.btn, 
.subcollection_exp .coll-button a.btn:hover {
  background-color: #5a676f;
  padding: 5px 10px;
  color: #fff;
  float: right;
  width: 140px;
  height: 35px;
  bottom: 0;
  position: relative;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
}

.subcollection_desc {
  padding: 20px 0;
  font-weight: 100;
  font-size: 18px;
  text-align: center;
}
.coll-thumb {
  float: left;

}
.coll-thumb {
  height: 100%;
  vertical-align: middle;
}
.coll-thumb img {
  height: 100px;
}

.subcollection_desc.experiments {
  padding-top: 20px;
  padding-bottom: 30px;
}
.subcollection_exp {
  margin-bottom: 20px;
  padding: 15px 0;
  background-color: #acc6d4;
  color: inherit;
  font-size: 14px;
  font-weight: 100;
  border-radius: 3px;
  height: 150px;
  overflow: hidden;
}
.subcollection_exp .coll_desc {
  height: 100%;

}

.entrypoint_collections .coll-desc a,
.entrypoint_collections .coll-desc a:hover,
.entrypoint_collections .coll-desc a:focus {
  color: inherit;
  text-align: left;
  padding-bottom: 1px;
  border-bottom: 1px dotted #657580;
}


.subcollection_desc a,
.subcollection_desc a:hover,
.subcollection_desc a:focus {
  color: #58656c;
  text-align: left;
  text-decoration: none;
}
.subcollection_apps {
  /*border-bottom: 2px solid rgb(198, 208, 217);*/
  /*border-top: 2px solid rgb(198, 208, 217);*/
  color: #657580;
  font-weight: 100;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f4f4f4;
}
.subcollection_apps .coll-desc {
  display: table-cell;
  height: 138px;
  vertical-align: middle;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}
li.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.subcollection_apps .title > div{
  border-radius: 3px;
}
/*.subcollection_apps .title {
  position: absolute;
  width: 134px;
  height: 134px;
  margin: auto;
   background-color: #f4f4f4; 
   background-color: rgb(198, 208, 217); 
  bottom: 2px;
  color: #657580;
  font-weight: 400;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 10px;
  z-index: 2;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  font-size: 14px;
}*/

.section-title {
  padding-bottom: 20px;
  color: #fff;
  font-weight: 100;
  font-size: 16px;
  overflow: hidden;
}

.subcollection_apps .title p.placeholder-box {
  display: inline-block;
  width: 100%;
  height: 50%;
}
.subcollection_apps .title p.text {
  display: inline-block;
  background-color: #f4f4f4;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 20px;
  padding-top: 2px;
  width: 100%;
  height: 50%;
  margin: 0;
  bottom: 2px;
  position: relative;
  left: 0;
  border-top: 2px solid rgb(198, 208, 217);
}

.subcollection_apps .app-box {
  height: 150px;
  overflow: hidden;
  position: relative;
  background-color: rgb(198, 208, 217);
}

.app-box .img {
  height: 110px;
  max-height: 110px;
  width: 100%;
  background-color: #f4f4f4;
  float: left;
  border-radius: 3px 3px 0 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app-box .title a {
  color: inherit;
}
.app-box .title {
  height: 40px;
  width: 100%;
  background-color: #95abb7;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  border-radius: 0 0 3px 3px;
  text-align: right;
  padding-right: 15px;
  padding-top: 8px;
}

.app-box .title span {
  padding-left: 5px;
}


/*==== Record Single-box styling ====*/

.rec-single-box {
  background-color: #f4f4f4;
  font-size: 14px;
  font-weight: 100;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.rec-single-box .title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  margin-top: -5px;
  height: 50px;
  line-height: 1.3;
}
.rec-single-box .title .t {
  font-size: 16px;
  font-weight: 400;
}
.rec-single-box .d {
  width: 100%;
}

.rec-single-box .d kbd {
  font-size: 10px;  
}
.rec-single-box .d .a {
  width: 100%;
  font-size: 12px;
  padding-top: 5px;
} 
.rec-single-box .desc {
  height: 150px;
  font-size: 14px;    
}
.rec-single-box .desc .b {
  height: 80%;
}
.rec-single-box .desc kbd {
  font-size: 85%;
}
.rec-single-box .desc b {
  font-size: 13px;
}
.rec-single-box .desc .go {
  height: 20%;
  background-color: #A2B4C0;
  margin: 0 -15px;
  padding: 10px 15px;
  color: #fff;
  font-weight: 100;
  font-size: 14px;
  display: block;
  overflow: hidden;
}
#tools .rec-single-box .desc .go {
  line-height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.rec-single-box .desc .go a {
  color: #fff;
  font-weight: 400; 
  font-size: 15px;
  padding-left: 5px;
}
.rec-single-box .disclaimer {
  height: 70px;
  background-color: #fff;
  font-size: 10px;
  margin: -15px;
  margin-top: 0;
  padding: 6px 15px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rec-single-box .disclaimer {
  /*background-color: inherit;*/
}
#subcollection #external-sources,
#subcollection #tools {
  background-color: transparent;
  width: auto;
}


/*==== Resources pages styling ====*/

#resources img {
  max-width: 100%;
  max-height: 200px;

}
#resources {
  color: #606D75;
  text-align: justify;
}
#resources h1 {
  margin-bottom: 30px;
  margin-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
}
#resources p {
  font-weight: 100;
  font-size: 16px;
}
#resources a {
  text-align: left;
}
#resources h2 {
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  margin-top: 0;
}
#resources .learn-img {
  padding: 10px;
  background-color: #A2B4C0;
  color: #fff;
  border-radius: 4px;
}
#resources h6 {
  font-weight: 400;
  text-align: center;
}

#resources a.btn,
#resources a.btn:hover,
#resources a.btn:focus {
  padding: 2px 5px;
  background-color: #606D75;
  color: #fff;
  margin-left: 5px;
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 15px;
}
#resources a.btn span {
  margin-left: 5px;
  font-size: 12px;
}

#resources .resource-box {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px 0;
  border: 1px solid #A2B4C0;
  background-color: #f4f4f4;
  border-radius: 3px;
  margin-left: 15px;
  margin-right: 15px;
}

