.collections ul {
  padding: 0;
  margin: 0;
}
.collRecords .tab-content .title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 23px;
  font-weight: 600px;
  color: #fff;
}

.collRecords .tab-content .cms-list {

}

.collRecords .tab-content
.recordbox {
  background-color: #fff;
  height: auto;
  margin-bottom: 30px;
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  width: 100%;
}

#CMS.tab-pane > div > ul {
  height: 420px;
}

#CMS.tab-pane > .col-md-8 {
  background-color: #A2B0BB;
  border-radius: 3px 0 0 3px;
}
#CMS.tab-pane > .col-md-4 {
  background-color: #B6C2CA;
  border-radius: 0 3px 3px 0;
}

.recordbox a,
.recordbox a:hover,
.recordbox a:focus {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
.recordbox .top {
  float: left;
  height: 46px;
  border-radius: 0;
  background-color: #606D75;
  color: #fff;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.recordbox .top {
  width: 100%;
  font-size: 16px;
  border-radius: 2px 2px 0 0;
  height: 46px;
}

.recordbox .top h5 {
  float: none;
  margin: 0;
  font-size: 13px;
  padding: 0;
  text-align: left;
  line-height: 1;
  font-weight: 100;
}

.recordbox .top .col-md-10 {
  margin-left: -15px;
}
.recordbox .thumb {
  float: right;
  height: 80%;
  text-align: center;

}
.recordbox .thumb img {
  max-width: 100%;
}

.recordbox .details span {
  margin-right: 5px;
  margin-top: 5px;

}
.recordbox .details .recbox-desc {
  padding-top: 3px;
  padding-bottom: 3px;
  overflow: hidden;
  height: 40px;
  background-color: #f5f5f5;
}
.recordbox .details .recbox-info {
  background-color: #d4d4d4;
  height: 25px;
  border-radius: 0 0 3px 3px;
  width: 100%;
}
.recordbox .details li {
  display: inline-block;
}
.recordbox .details li >div {
  float: left;
  padding-right: 10px;
}
.recordbox .details {
  border-radius: 0 0 3px 3px;
  font-size: 10px;
}

.search {
  background-color: #606D75;
  height: 200px;
  padding: 50px 0;
}


.search .phrase {
  color: #fff;
  font-size: 30px;
  height: 100px;
}

.search .searchForm {
  height: 100px;
  width: 320px;
  padding-top: 25px;
}
.searchForm {
  bottom: -14px;
}

.searchForm input {
  height: 30px;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  color: #496B72;
  width: auto;
  float: left;
}

.searchForm button {
  height: 30px;
  border-radius: 0 3px 3px 0;
  background-color: #B36666;
  color: #fff;
  font-size: 19px;
  float: left;
  margin-left: -1px;
}

.collections {

}

.collections .nav {
  background-color: #091B26;
}

.collections .nav ul {
  float: left;
}
.collections .nav li{
  font-size: 18px;
  padding: 5px 10px;
  font-weight: 300;
  float: left;
}

.collections .nav li.active {
  background-color: #f5f5f5;
  color: #091B26;
}

.collections .nav li span {
  margin-right: 10px;
}

.entrypoint_collections .collRecords {
  background-color: #f4f4f4;
  padding: 40px 0;
}

.entrypoint_collections .collections-nav {
  background-color: rgba(156, 174, 186, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
}

.entrypoint_collections .collections-nav ul {
  margin-bottom: 0;
  padding-left: 15px;
}
.entrypoint_collections .collections-nav ul.pull-left li{
  border-radius: 3px 3px 0 0;
  padding: 6px 15px;
  margin-right: 5px;
}
.entrypoint_collections .collections-nav ul.pull-left li a,
.entrypoint_collections .collections-nav ul.pull-left li a:hover,
.entrypoint_collections .collections-nav ul.pull-left li a:focus {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.entrypoint_collections .collections-nav ul.pull-left li.active{
  background-color: #f4f4f4;
  color: #606D75;
}

.entrypoint_collections .collections-nav a,
.entrypoint_collections .collections-nav a:hover,
.entrypoint_collections .collections-nav a:focus {
  color: #fff;
  font-weight: 400;
  font-size: 17px;

}
.recordbox .details span{
  font-weight: 100;
  font-size: 15px;
  float: none;
  color: #091B26;
}

.recordbox h5 {
  float: left;
  margin: 0;
  font-size: 20px;
  padding-left: 15px;
  font-weight: lighter;
  padding-top: 4px;
}

.recordbox span {
  float: left;
  font-size: 25px;
  margin-top: 2px;
}

.recordbox .thumb.iconed {
  padding: 20px 0;
  color: #899AA5;
}

.recordbox .thumb.iconed > div {
  font-size: 100px;
  margin: 25px 0;
}
.collRecords .seeall {
  text-align: center;
  height: 60px;
  width: 100%;
  display: inline-block;

}

.collRecords .seeall a {
  padding: 10px 40px;
  background-color: #606D75;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.info.dark {
  background-color: #798A96;
}

@media (max-width: 768px) {
  .collRecords .tab-content .cms-list {
    border-right: 0;
  }
}
@media (min-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .collections {

  }

  .collections .collections-nav {
    color: #f5f5f5;
  }

  .collections .nav {
    background-color: #091B26;
  }
  .collections .nav ul {
    float: left;
  }
  .collections .nav li{
    font-size: 16px;
    padding: 5px 20px;
    font-weight: 300;
    margin-top: 12px;
    float: left;
    color: #fff;
  }
  .recordbox .top {
    width: 100%;
    font-size: 16px;
    border-radius: 2px 2px 0 0;
    height: 46px;
  }

  .recordbox .top span {
    font-size: 20px;
    width: auto;
    margin: 0;
  }

  .recordbox .thumb {
    height: 158px;
    text-align: center;
    width: 100%;
  }

  .recordbox .thumb img {
    height: 100%;
  }
  .recordbox .thumb.iconed > div {
    font-size: 100px;
    margin:  0;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
