.collections ul {
	padding: 0;
	margin: 0;
}

.recordbox {
	background-color: #fff;
	height: 250px;
	margin-bottom: 30px;
	border-radius: 2px;
	

}
.recordbox .top {
	float: left;
	width: 40%;
	height: 100%;
	border-radius: 0;
	background-color: #606D75;
	color: #fff;
	margin: 0;
	padding: 10px;
}

.recordbox .top span {
	font-size: 72px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
}

.recordbox .top h5 {
	float: none;
	margin: 0;
	font-size: 15px;
	padding: 0;
	text-align: center;
	line-height: 1;
}

.recordbox .thumb {
	float: right;
	width: 60%;
	height: 80%;
	text-align: center;

}
.recordbox .thumb img {
	max-width: 100%;
}
.recordbox .details {
	float: right;
	width: 60%;
	height: 20%;
	text-align: center;
	padding-top: 15px;
	background-color: #e6e6e6;
	border-radius: 0 0 2px 2px;
}
.intro {
    height: 350px;
    background-color: #899AA5;
}

.search {
    background-color: #606D75;
    height: 200px;
    padding: 50px 0;
}


.search .phrase {
	color: #fff;
	font-size: 30px;
	height: 100px;
}

.search .searchForm {
	height: 100px;
	width: 320px;
	padding-top: 25px;
}
.searchForm {
	bottom: -14px;	
}

.searchForm input {
	height: 30px;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	color: #496B72;
	width: auto;
	float: left;
}

.searchForm button {
	height: 30px;
	border-radius: 0 2px 2px 0;
	background-color: #B36666;
	color: #fff;
	font-size: 19px;
	float: left;
	margin-left: -1px;
}

.collections {

}

.collections .nav {
	background-color: #091B26;
}

.collections .nav ul {
	float: left;
}
.collections .nav li{
	font-size: 18px;
	padding: 5px 10px;
	font-weight: 300;
	float: left;
}

.collections .nav li.active {
	background-color: #f5f5f5;
	color: #091B26;
}

.collections .nav li span {
	margin-right: 10px;
}

.collections .collRecords {
	background-color: #f5f5f5;
	padding: 40px 0;
}
.recordbox .details span{
	font-weight: 100;
	font-size: 15px;
	float: none;
	color: #091B26;
}

.recordbox h5 {
	float: left;
	margin: 0;
	font-size: 20px;
	padding-left: 15px;
	font-weight: lighter;
	padding-top: 4px;
}

.recordbox span {
	float: left;
	font-size: 25px;
	margin-top: 2px;
}

.recordbox .thumb.iconed {
	padding: 20px 0;
	color: #899AA5;
}

.recordbox .thumb.iconed > div {
	font-size: 100px;
	margin: 25px 0;
}
.collRecords .seeall {
	text-align: center;
	height: 60px;
	margin-top: 15px;
}

.collRecords .seeall a {
	padding: 10px 40px;
	background-color: #091B26;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

.info.dark {
	background-color: #798A96;
}


@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 992px) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.collections {

}

.collections .collections-nav {
	color: #f5f5f5;
}

.collections .nav {
	background-color: #091B26;
}
.collections .nav ul {
	float: left;
}
.collections .nav li{
	font-size: 16px;
	padding: 5px 20px;
	font-weight: 300;
	margin-top: 12px;
	float: left;
	color: #fff;
}
.recordbox .top {
	width: 100%;
	font-size: 16px;
	border-radius: 2px 2px 0 0;
	height: 42px;
}

.recordbox .top span {
	font-size: 22px;
	margin-top: 2px;
	width: auto;
	margin: 0;
}

.recordbox .thumb {
	height: 158px;
	text-align: center;
	width: 100%;
}

.recordbox .thumb img {
	height: 100%;
}
.recordbox .thumb.iconed > div {
	font-size: 100px;
	margin:  0;
}

.recordbox .details {
	height: 50px;
	width: 100%;
}


}

@media (min-width: 992px) and (max-width: 1200px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}