.visualise {
	padding: 40px 0;
	color: #fff;
}

.visualise .imagebox img {
	height: 200px;
	border: 5px solid #fff;
	background-color: #fff;
}

.visualise .details h4 {
	font-size: 30px;
}

.visualise .details span {
	font-size: 20px;
}

.visualise >div {
	padding: 50px 0;
}

.visualise .histograms {
	background-color: #90ABBE;
}

.visualise > div ul {
	padding: 0;
	margin: 0;

}
.visualise >div  ul li {
	float: left;
	padding: 10px 0;
	margin-right: 20px;
	font-size: 18px;
	/*text-decoration: underline;*/
	border-bottom: 2px dashed #fff;
	padding-bottom: 1px;
}

.visualise > div li span {
	padding-left: 5px;
}

.learn {
	padding: 50px 0;
	background-color: #C2D8E8;
}
.learn .thumbbox img {
	width: 250px;
	height: 250px;
	border: 10px solid #fff;
}
.learn .slogan {
	padding: 40px 15px;
	text-align: center;
	color: #fff;
}

.research-main {
	color: #fff;
}

.research-main .imagebox {
	font-size: 220px;
	color: #111F3B;
	padding-right: 90px;
	height: 200px;
	padding-top: 25px;
}
.research-main .fa-laptop {
	margin-top: -200;
	margin-right: -150;
}

.research-main .details h4 {
	font-size: 30px;
}

.research-main .details span {
	font-size: 20px;
}

.research-main >div {
	padding: 50px 0;
}

.research-main .xroot {
	background-color: #90ABBE;
}

.research-main > div ul {
	padding: 0;
	margin: 0;
}

.research-main >div ul a {
	color: #fff;
}

.research-main >div  ul li {
	float: left;
	padding: 10px 0;
	margin-right: 20px;
	font-size: 18px;
	/*text-decoration: underline;*/
	border-bottom: 2px dashed #fff;
	padding-bottom: 1px;
}

.research-main > div li span {
	padding-left: 5px;
}


