.gen-menu {
  background-color: #acc6d4;
  display: inline-block;
  border-radius: 3px;
  padding: 10px;
}
ol.gen-menu {
  list-style-type: none;
}
.gen-menu li {
  width: 100%;
}
.gen-menu ul li {
  padding-top: 8px;
  float: left;
  width: auto;
  padding-left: 15px;

}
.gen-menu ol>li>ul {
}
.general .gen-menu ul li {
  width: auto;
}
.gen-menu ul li a{
  background-color: #fff;
  color: #acc6d4;
  padding: 3px;
  margin-right: 6px;
  border-radius: 2px;
  float: left;
}
.gen-menu ul {
  width: 100%;
}
.gen-menu a,
.gen-menu a:hover,
.gen-menu a:focus {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 100%;
}

.gen-menu ol ul li a,
.gen-menu ol ul li a:hover,
.gen-menu ol ul li a:focus {
  width: auto;
}

.gen-box {
  background-color: #f4f4f4;
  border-radius: 4px;
  display: inline-block;
  min-height: 180px;
}

.gen-box {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 4px;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 100;
}
.gen-box ul {
  height: auto;
}
.gen-box h2 {
  background-color: #acc6d4;
  color: #fff;
  width: auto;
  padding: 10px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  margin-top: -15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 18px;
  font-weight: 100;
  overflow-y: hidden; 
}

.gen-box img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gen-box .remember {
  display: inline-block;
  margin-top: 20px;
  font-weight: 400;
  width: 100%;
}
.gen-box .remember span.fa {
  padding-left: 6px;
}
.gen-box .remember .collapsed .fa-chevron-down {
  display: inline;
}
.gen-box .remember .collapsed .fa-chevron-up {
  display: none;
}
.gen-box .remember .fa-chevron-down {
  display: none;
}
.gen-box .remember h2 {
  background-color: rgba(176, 203, 217, 0.84);
  border-radius: 0;
  font-size: 14px;
  text-align: left;
}
.gen-box .remember ul li {
  padding: 5px 15px;
  font-weight: 100;
  float: left;
  width: 100%;
  list-style-type: none;
}
.gen-box .phys-item-illust {
  float: right;
  margin-top: -10px;
  margin-bottom: -10px;
}
.gen-box .phys-item-illust img {
  height: 40px;
  width: auto;
}

.gen-box .heading {
  font-weight: 600;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 4px;
  margin-top: 10px;
}

.gen-box pre {
  margin-top: 5px;
}
.general {
  color: rgb(109, 120, 134);
  text-align: justify;
}
.general h1 {
  margin-bottom: 15px;
  font-size: 26px;
}
.general p {
  font-weight: 100;
}

.general .gen-header {
  margin-bottom: 20px;
  display: inline-block;
}
.general .gen-header > ul {
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
}
.general .gen-header > ul >li {
  list-style-type: disc;
}
.general .gen-header p {
  font-size: 17px;
}
.general .gen-header h1 {
  font-size: 22px;
  font-weight: 100;
}
.general ul, ol {
  display: inline-block;
  font-weight: 100;
}
.general ul li,
.general ol li {
  padding-bottom: 5px;
  width: 100%;
}
.general ul ul {
  margin-left: 18px;
}
.general ol>li>div {
  font-weight: 400;
}
.general ol>li>ul {
  margin-top: 5px;
}
 .general li div ul {
  margin-bottom: -10px;
 }
.general div > ul {
  padding-left: 18px;
  list-style-type: disc;
}
.general div > ul ul {
  list-style-type: circle;
}
.general div ul ul ul {
  list-style-type: square;
}

.gen-title {
  font-weight: 400;
  color: rgb(109, 120, 134);
  text-align: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 26px;
}
/*===== Styling for Grid-blocks / Column Layout =====*/

@media (min-width: 922px) {
  #block-grid-container {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    width: 100%;
    display: inline-block;
  }
  #block-grid-container .block-grid-item {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 921px) {
  #block-grid-container {
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
    width: 100%;
    display: inline-block;
  }
  #block-grid-container .block-grid-item {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}