.intro.middle .box {
  height: 100%;
  overflow: hidden;
  background: inherit;
  border: 0;
}

.intro.middle {
  height: auto;
}

.intro.middle.middle a,
.intro.middle.middle a:hover,
.intro.middle.middle a:focus {
  text-decoration: none;
  color: #fff;
}

.collections .nav .pull-right li {
  /*background-color: #B9CEDD;*/
  font-weight: 300;
}

.intro.middle .entries {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50%;
}

.intro.middle .entries .middle{
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 100;
  right: 50%;
  margin-right: -100px;
  margin-top: -100px
}
.intro.middle .entries .middle img {
  width: 90px;
}
.intro.middle .entries .research .entrypoints  a {
  /*    background-color: #606D75;
     color: #fff;*/
}
@media (max-width: 768px) {
  .innernav ul li:hover ul {
    display: none;
  }
}

.intro .entrypoints  {
  font-size: 50px;
  font-weight: 200;
  padding: 0;
  margin: 10px 0;
  text-align: left;
  width: 80%;
  max-width: 385px;
  height: 60px;
  background-color: #fff;
  overflow: hidden;
}

.intro.middle .entries .entrypoints .upper a:hover {
  background-color: #A2CAE2;
  color: #fff;
}

.intro.middle .entries .entrypoints .upper a{
  padding: 15px 0;
  color: #606D75;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  width: 100%;
  display: inline-block;
  background-color: #fff;
  border: 0;
}
.entries .education .upper a {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px
}
.entries .research .upper a {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.entries .education .bottom a.corner {
  border-bottom-left-radius: 35px;
}
.entries .research .bottom a.corner {
  border-bottom-right-radius: 35px;
}

.intro.middle .entries .entrypoints.pull-right .top a {
  border-radius: 50px 0 0 50px;

}
.intro.middle .entries .entrypoints.pull-left .top a {
  border-radius: 0 50px 50px 0;

}
.entries .entrypoints .upper {
}
.entries .entrypoints .bottom {
  font-size: 11px;
  width: 100%;
  height: 50%;
}
.education .entrypoints .bottom {
  border-bottom-left-radius: 50px;
}
.research .entrypoints .bottom {
  border-bottom-right-radius: 50px;
}
.entries .entrypoints .bottom a {
  width: 50%;
  text-align: center;
  float: left;
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  background-color: #d5d5d5;
}
.education .entrypoints {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.research .entrypoints {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
@media (max-width: 480px) { 
.intro.middle .entryactions ul a {
  width: auto!important;
}

.entries.entries > .education,
.entries.entries > .research {
  margin-right: -15px;
  margin-left: -15px;
  width: auto!important;
}

.intro.middle.middle .education .entryactions li span{
  float: left;
  margin-left: 0;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 0;
}

.intro.middle.middle .entryactions a,
.intro.middle.middle .entryactions a:hover,
.intro.middle.middle .entryactions a:focus{
  color: #606D75;
}
.education .entrypoints,
.research .entrypoints {
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0; 
  border-bottom-left-radius: 0; 
  border-top-right-radius: 4px;
}  
}


.intro.middle .top{
  background-color: #899AA5;

}

.intro.middle .top {
  background-color: #899AA5;
}

.navbar{
  border: 0;
}

.intro.middle .entries .education {
  width: 50%;
  float: left;
  margin-top: -55px;
}

.intro.middle .entries .research {
  width: 50%;
  float: right;
  margin-top: -55px;
}

.intro.middle .entries .entryactions {
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 300;

}
.intro.middle .entryactions li {
  width: 100%;

}
.intro.middle .entryactions ul li {
  padding: 2px;
  font-size: 15px;
  font-weight: 100;
}

.research .entryactions ul {
  margin-left: 60px;
}
.education .entryactions ul {
  margin-right: 60px;
}

.intro.middle .education .entryactions li span{
  padding-left: 5px;
  width: 20px;
  margin-right: 0;
  margin-left: 10px;
}
.intro.middle .research .entryactions li span{
  padding-right: 5px;
  width: 20px;
}
.intro.middle .middle {
  border-radius: 50%;
  background-color: rgba(9, 27, 38, 0.55);
  /* padding: 30px; */
  width: 200px;
  height: 200px;
  /* border: 1px solid #333;*/
}

.intro.middle .middle .circle {
  width: 150px;
  height: 150px;
  /*background: #091B26;*/
  border-radius: 50%;
  margin: 25px;
  /* border: 1px solid #ccc; */
  background: url('/img/middle.jpeg');
  opacity: 0.5;
  background-size: 210px;
  background-repeat: no-repeat;
  background-position: -34px 2px;
}
.intro.middle .upper.circledes .middle {
  background: url('/img/home/glass.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 30px;
}
.intro.middle .circledes {
  background: url('/img/home/home_net.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.entries .entryactions .goto {
  display: none;
}
@media (min-width: 992px ) {
  .intro.middle .upper.circledes {
    background: none;
  }
}


@media (max-width: 992px) {
  .intro.middle .container.circledes {
    background: none;
  }
}


.intro.middle .upper>.container {
  height: 100%;
  padding-bottom: 100px;
  padding-top: 50px;
}
.intro.middle .upper>.container>.col-md-6.pull-left{
  height: 100%;
}
.intro.middle .upper>.container>.col-md-6.pull-right{
  height: 50%;
}
.intro.middle .box h5{
  color: #fff;
  font-size: 30px;
  font-weight: 200;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.intro.middle .box li{
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 1px 0;
}
.intro.middle .news .details li {
  float: left;
  width: auto;
  font-size: 11px;
  padding-right: 5px;
  color: #e8e8e8;
}

.intro.middle .news .ntitle {
  display: inline-block;
}

.intro.middle .news .ntitle  {
  float: left;
  width: auto;
  height: 25px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}
.intro.middle .news .ndate {
  width: auto;
  font-size: 10px;
  float: left;
  height: 25px;
  position: relative;
}
.intro.middle .news .nbody {
  float: left;
  width: 100%;
}
.intro.middle .news .ndate span {
  bottom: 0;
  display: inline-block;
  margin: 10px 5px;
}
.intro.middle .news .nbody span {
  background-color: #606D75;
  font-size: 16px;
}


.intro.middle .news .nbody {
  font-size: 14px;
}

.intro.middle .box h5 {
  color: #fff;
  font-size: 30px;
  font-weight: 200;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.middle .circle {
  background: url("{{ url_for('static', filename='/img/middle.jpeg') }}");
  opacity: 0.5;
  background-size: 210px;
  background-repeat: no-repeat;
  background-position: -34px 2px;
}

@media (max-width: 480px) {
  .middle .circle, .middle .circledes,
  .intro.middle .upper.circledes .middle,
  .intro.middle {
    background: none;
  }
  .intro.middle .circledes.circledes {
    height: auto;
  }
  .intro.middle .entries {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 30px;
  }
  .entries .entrypoints .bottom a.corner{
    border-radius: 0;
  }
  .entries .entrypoints .upper a {
    border-radius: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .entries .entryactions ul {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }

  .entries .education {
    float: left;
  }
  .intro.middle .entries .research {
    float: left;
    margin-top: 0;
  }
  .entries .entrypoints {
    width: 100%;
    margin-bottom: 0;
    height: auto;
    max-width: none;
  }
  .entries .entrypoints .upper,
  .entries .entrypoints .bottom {
    height: auto;
  }
  .entries .entrypoints .bottom a {
    height: auto;
  }
  .entries .entryactions {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .intro.middle .entryactions ul a {
    display: inline-block;
    width: 100%;
    text-align: left;
    float: left;

  }
  .entries .entryactions .goto {
    display: block;
    text-align: center;
    color: #606D75;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .intro.middle .entryactions ul li {
    color: #666;
    font-size: 11px;
    float: left;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  .entries .entryactions.entryactions ul a li span {
    display: none;
  }

  header#od-header, footer.middlefoot, #wrap .content {
    position: initial;
  }

  footer .quotes {
    height: auto!important;
  }
  footer .quotes .row > div {
    margin-bottom: 10px;
  }
}
