.content.record .record-content {
  background-color: #f4f4f4;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.content.record .record-content .main {
  background-color: #f4f4f4;
  height: auto;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding: 25px 20px;
}



#record_primary .main {
  min-height: 300px;
}
#record_primary .rec_file_box a.btn {
  color: #fff;
  margin-bottom: 5px;
  font-size: 10px;
  background-color: #9BB1BD;
}
#record_primary .rec_metadata.rec_files li .content_box {
  padding: 5px;
}
#record_primary .rec_file_box .content_box .pull-right {
  padding-top: 6px;
}
#record_primary .panel-group {
}
.content.record .record-content .sidebar {
  height: auto;
  background-color: #fff;
  padding: 25px 20px;
  padding-bottom: 0;
}
#record_reduced .sidebar {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#record_primary .sidebar {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.content.record .rec_dedicated_top {
  border-top-right-radius: 3px;
}
#record_reduced .rec_dedicated_top {
  padding-top: 30px;
  padding-bottom: 15px;
}

#record_primary .rec_header .rec_authors .collaboration_tag {
  padding: 2px;
  color: #fff;
  background-color: #acc6d4;
  border-radius: 3px;
}
#record_primary .rec_header .rec_authors .collaboration_tag a,
#record_primary .rec_header .rec_authors .collaboration_tag a:hover,
#record_primary .rec_header .rec_authors .collaboration_tag a:focus {
  color: inherit;
}

.content.record .record-content .main .rec_header {
  margin-bottom: 30px;
  margin-top: -25px;
  margin-left: -20px;
  margin-right: -20px;
}
#record_primary .rec_header {
  background-color: #93a9b5;
  color: #fff;
}
#record_primary .rec_header .title span {
  color: #d5d5d5;
}
#record_primary .rec_header .rec_authors a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
#record_reduced .rec_header {
  color: #606D75;
}
#record_reduced .rec_header{
  border-top-left-radius: 3px;
}
#record_primary .rec_header {
  border-radius: 0 3px 3px 0;
}
.content.record .record-content .main .rec_title.title {
  width: 100%;
  border-radius: 0px 3px 0 0;
  padding: 5px 20px;
}
.content.record .rec_details {
  padding-bottom: 15px;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}
#record_primary .rec_details .title {
  color: #fff;

}
#record_primary .rec_details .rec_title_info {
  margin-bottom: 20px;
  display: inline-block;
}
#record_primary .rec_thumb.rec_thumb {
  float: left;
  margin-right: 10px;
}
#record_primary .main {
  border-radius: 3px;
}
#record_primary .rec_header {
  border-radius: 3px 3px 0 0;
}
.rec_dedicated_details_in.rec_dedicated_details_in {
  background-color: #A2B2BD;
  border: 0;
  border-bottom: 1px solid #B5C5D1;
}
.rec_dedicated_details_in.rec_dedicated_details_in:nth-child(2n+1){
  background-color: #8598a3;
  border-bottom: 0;
}
.rec_dedicated_details_in.rec_dedicated_details_in:nth-child(2n){
  background-color: #a1b8c5;
  border-bottom: 0;
}

#authors_list_box {
  max-height: 150vh;
  margin-bottom: 40px;
  overflow: auto;
}
#record_primary .rec_dedicated_details_in span {
  font-size: 30px;
}
#record_primary .rec_dedicated_details_in .info ul.text {
  margin-left: 25px;
}

#record_primary .rec_dedicated_details_in .info ul.text li {
  width: 100%;
  list-style-type: circle;
  float: none;
}
#record_primary .rec_dedicated_details_in .collapsed span.fa-angle-up:before {
  content: "\f107"
}

@media (max-width: 768px) {
  #record_primary .rec_thumb.rec_thumb {
    margin-top:10px;
  }
}
