.rcd-actions {
  /*background-color: #606D75;*/

}
.infobar p {
  font-size: 20px;
  font-weight: 600;

}
/*#record-links {
   border: 0;
   height: 60px;
   padding: 15px;
   background-color: #A2B4C2;
   margin-top: 20px;
   border-radius: 3px;
   }*/

#record-links {
  border: 0;
  height: 60px;
  padding: 0 15px;
  padding-top: 30px;
  background-color: #A2B4C2;
  margin-top: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px
}

#record-links a,
#record-links a:focus {
  color: #fff;
  background: #606D75;
  border: 0;
}


#record-links.nav-tabs > li {
  margin-right: 7px;
}
#record-links.nav-tabs>li>a {
  border-radius: 3px 3px 0 0;
  padding: 5px 10px;
}

#record-links li.active a{
  /*padding:4px;*/
  /*border: 1px solid #606D75;*/
  color: #606D75;
  background: #f4f4f4;
}

#record-links.nav-tabs>li.active>a,
#record-links.nav-tabs>li.active>a:focus,
#record-links.nav-tabs>li.active>a:hover {
}

#record_content {
  background-color: #f4f4f4;
  /*margin-top: 20px;*/
  margin-bottom: 30px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding:15px;
  overflow: auto;
}

.rec_doi {
  float: right;
  margin-bottom: 15px;
  width: 100%;
}
.rec_doi .t{
  color: #fff;
  float: left;
  padding: 5px 8px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color: transparent;
  font-weight: 700;
  margin: -5px;
  margin-right: 5px;
  margin-left: -65px;
}
.rec_doi .n {
  background-color: #8598a3;
  color: #fff;
  float: left;
  padding: 5px 5px;
  border-radius: 2px;
  font-size: 100%;
  width: 100%;
  padding-left: 65px;
}

.rec_doi a,
.rec_doi a:hover,
.rec_doi a:focus {
  color: inherit;
  border-bottom: 1px dotted;
  text-decoration: none;
}

.rec_files_info {
  float: right;
  margin-bottom: 10px;
  position: relative;
}
.rec_files_info .t{
  color: #606D75;
  float: left;
  padding: 5px 8px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color: #f4f4f4;
  font-weight: 400;
  margin: -5px;
  margin-right: 5px;
  position: absolute;
  height: 100%;
}
.rec_files_info .n {
  background-color: #fff;
  color: #606D75;
  float: left;
  padding: 5px 5px;
  border-radius: 2px;
  font-size: 100%;
}

.rec_parentcol {
  float: left;
  margin-bottom: 10px;
}
.rec_parentcol .t{
  color: #606D75;
  float: left;
  padding: 5px 8px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color: #f4f4f4;
  font-weight: 400;
  text-align: left;
  margin: -5px;
  margin-right: 10px;
}
.rec_parentcol .n {
  background-color: #acc6d4;
  color: #fff;
  float: left;
  padding: 5px 5px;
  border-radius: 2px;
  font-size: 100%;
  text-align: left;
}


.rec_header {
}
.rec_header .additional_title {
  font-size: 15px;
  width: 100%;
}
.rec_header .title {
  font-size: 24px;
  font-weight: 400;
  color: #606D75;
}
.rec_header .title span {
  margin-left: 10px;
  font-size: 16px;
  color: #7199B1;
}
.rec_header .rec_details {
  font-weight: 400;
  color: inherit;
}
.rec_header .rec_authors a{
  color: rgba(113, 153, 177, 1);
  font-size: 12px;
}

.record-detailed {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.rec_dedicatedbox {
  background-color: #fff;
  height: auto;
  /*margin-left: -15px;*/
  margin-bottom: 20px;
}

.rec_dedicated_top {
  background-color: #93A3AE;
  padding-top: 15px;
}

.rec_dedicated_details.panel-group {
  margin-bottom: 0;
}

.panel-group .rec_dedicated_details_in.panel {
  padding-top: 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 0!important;
  box-shadow: 0;
}

.rec_dedicated_details_in .title {
  text-align: left;
  width: 100%;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  font-weight: 900;
  padding-bottom: 15px;
}
.rec_dedicated_details_in .info {
  background-color: #fff;
  /*    padding-top: 10px;
     padding-bottom: 10px;*/
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  overflow: overlay;
  font-weight: 100;
}
.rec_dedicated_details_in.rdd-sel {
  background-color: #A2B2BD;
}
.rec_dedicated_details_in.rdd-val {
  background-color: #B5C5D1;
}
.rec_dedicated_details_in.rdd-reuse {
  background-color: #A2B2BD;
}
.rec_dedicated_details_in.rdd-limits {
  background-color: #B5C5D1;
}
.rec_dedicated_details_in.rdd-disclaimer {
  background-color: #A2B2BD;
}
.rec_dedicated_details_in.rdd-disclaimer .body {
  font-size: 12px;
  text-align: justify;
}
.rec_dedicated_details_in.rdd-disclaimer .ccommons {
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 5px;
  margin: 7px 0;
  float: left;
}

.rec_dedicated_details_in .info >div {
  padding-top: 10px;
}
.rec_dedicated_details_in .info .body {
  padding-bottom: 5px;
}
.rec_dedicated_details_in .info .links {
  padding-bottom: 5px;
}
.rec_dedicated_details_in .info .links ul {
  display: inline-block;
}
.rec_dedicated_details_in .info .links li {
  width: 100%;
}
.rec_dedicated_details_in .info .links a {
  width: 100%;
  display: inline-block;
  float: left;
  text-align: left;
  color: #7199B1;
}


/*======= Records file tab styling ========*/
.rec_files {
  margin-top: 20px;
  color: #fff;
}

.rec_files .rec_files_nav {
  font-size: 18px;
}

.rec_files .rec_files_nav button {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #606D75;
  border: 0;
  margin-left: 5px;
}

.rec_files_list #rec_files_boxes {
  margin-top: 20px;
}
.rec_files_list .rec_files_box{
  background-color: #A2B4C2;
  padding: 10px;
  border-radius: 3px;
  overflow: overlay;
  display: inline-block;
  width: 100%;
}
.rec_files_list .rec_files_box > div>ul>li {
  width: 100%;
  display: block;
  font-size: 11px;
  margin-bottom: 5px;
}
.rec_files_list .rec_files_box a,
.rec_files_list .rec_files_box a.hover,
.rec_files_list .rec_files_box a.focus {
  color: #606D75;
  text-decoration: none;
  font-weight: 900;
  font-size: 16px;
}
.rec_files_list .rec_files_box .btn {
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #606D75;
}

.rec_files_list .display_list .rec_files_box {
  margin-bottom: 10px;
}

.rec_files_list .display_list .rec_files_box > div > ul>li {
  float: left;
  width: auto;
}

.rec_files_list .display_list .rec_files_box ul>li b {
  display: none;
}

.rec_export {
  float: right;
  margin-bottom: 10px;
}

.rec_export .export-box {
}

.rec_export .t{
  color: #606D75;
  float: left;
  padding: 5px 8px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color: #f4f4f4;
  font-weight: 400;
}
.rec_export .a {
  background-color: #acc6d4;
  color: #fff;
  font-weight: 600;
  float: left;
  padding: 5px 8px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.rec_export .a a,
.rec_export .a a:hover,
.rec_export .a a:focus {
  color: inherit;
  text-decoration: inherit;
  padding-left: 10px;
  padding-right: 10px;
}
#record_content #record_content {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 0;
}

.rec_metadata {
  margin-top: 20px;
}
.rec_title.title {
  font-size: 18px;
  font-weight: 600;
  float: left;
  border-radius: 0 120px 120px 0;
  color: #A2B4C2;
  background-color: #fff;
  padding: 2px 30px;
  padding-left: 10px;
  border-left: 4px solid #606D75;
}

.rec_title.title a,
.rec_title.title a:hover,
.rec_title.title a:focus {
  font-size: 12px;
  font-weight: 100;
  color: #A2B4C2;
  padding-left: 10px;
}

#showmore_buttons.showmore-buttons-authors {
  margin-right: 15px;
  margin-top: -5px;
  margin-bottom: -5px;
  height: 35px;
}

#showmore_buttons.showmore-buttons-authors #showmore-button-prev,
#showmore_buttons.showmore-buttons-authors #showmore-button-next {
  background-color: #A2B4C2;
  color: #fff;
  border-radius: 0;
}

#showmore_buttons.showmore-buttons-authors #showmore-button-prev{
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

#showmore_buttons.showmore-buttons-authors #showmore-button-next{
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

#showmore_buttons.showmore-buttons-authors #showmore-button-prev,
#showmore_buttons.showmore-buttons-authors #showmore-button-next,
#showmore_buttons.showmore-buttons-authors #showmore-info {
  float: left;
  padding: 3px 5px;
  font-size: 12px;
  height: 100%;
  line-height: 2.5;
}

#showmore_buttons.showmore-buttons-authors #showmore-info {
  padding-left: 10px;
  padding-right: 10px;
  width: 240px;
  text-align: center;
  background-color: #fff;
  color: #A2B4C2;
}

.rec_file_box > .row > .col-md-12 {
  width: 100%;
}

.rec_desc {
  margin-top: 20px;
  font-size: 16px;
  color: #606D75;
  font-weight: 100;
  display: inline-block;
}

.rec_metadata .rec_desc a {
  display: inline-block;
}
.rec_desc span {
  margin-right: 5px;
}
.rec_desc span b {
  margin-right: 3px;
  font-weight: 400;
}

.rec_preview .rec_preview_box {
  margin-top: 20px;
}

.rec_preview .rec_preview_box iframe {
  background-color: #606D75;
  border-radius: 3px;
}
.rec_metadata.rec_files .rec_file_box {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  border: 1px #A2B4C2 dotted;
  border-radius: 3px;
  border-bottom: 0;
  /*border-left: 0;
  border-right: 0;*/
}

.rec_metadata.rec_files li .content_box {
  /*border-radius: 2px;*/
  display: inline-block;
  width: 100%;
  /*margin-bottom: 1px;*/
  /*background-color: #A2B4C2;*/
  overflow: hidden;
  border-bottom: 1px #A2B4C2 dotted;
}
.rec_metadata.rec_files .rec_file_box > .row {
  margin-bottom: 0;
}
.rec_metadata.rec_files li .content_box .leftside{
  padding:5px;
  /*background-color: #A2B4C2;*/
  color: #A2B4C2;
  margin-right: -15px;
  /*border-top-left-radius: 3px;*/
  /*border-bottom-left-radius: 3px;*/
  overflow: hidden;
  border-right: 1px #A2B4C2 dotted;
}

.rec_metadata.rec_files li .content_box .rightside{
  padding:5px;
  padding-bottom: 0;
  /*background-color: #ccc;*/
  margin-left: -15px;
  /*border-top-right-radius: 3px;*/
  /*border-bottom-right-radius: 3px;*/
  overflow: hidden;
}
.rec_metadata.rec_files li a,
.rec_metadata.rec_files li a:hover,
.rec_metadata.rec_files li a:focus {
  color: #606D75;
  font-size: 14px;
  font-weight: 400;
}
.rec_file_box button {
  color: #f4f4f4;
  font-size: 11px;
  padding: 0;
  background-color: #A2B4C2;
  margin-bottom: 5px;
  height: 20px;
  border: 0;
  float: left;
  border: 1px #fff solid;
}
.rec_file_box button:hover, 
.rec_file_box button:focus {
  background-color: #fff;
  color: #A2B4C2;
  border: 1px #A2B4C2 solid;
}
.rec_metadata.rec_files li {
  font-size: 12px;
  overflow: hidden;
}
.rec_metadata .ch_display button {
  color: #fff;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #606D75;
  width: 30px;
  height: 30px;
}
.rec_metadata .ch_display button.btn a,
.rec_metadata .ch_display button.btn a:hover,
.rec_metadata .ch_display button.btn a:focus {

}

.rec_metadata.rec_files .display_list li {
  margin-bottom: 10px;
}
.rec_metadata.rec_files .display_list .recdet {
  margin-top: 5px;
}
.rec_metadata.rec_files .display_list .recbut {
  margin-top: 2px;
}
.rec_metadata.rec_files .display_list .recdet li {
  margin-bottom: 0;
}
.display_list .recbut button {
  padding: 3px;
}
.rec_metadata.rec_files .display_list li .content_box {
  padding: 5px;
}
.rec_metadata.rec_files .display_list li a,
.rec_metadata.rec_files .display_list li a:hover,
.rec_metadata.rec_files .display_list li a:focus {
  font-size: 14px;
}

.rec_details .rec_det {
  margin-top: 20px;
  font-size: 16px;
  color: #606D75;
  font-weight: 100;
}
body.black.black {
  background-color: #606D75!!important;
}

#rec_files_boxes > ul > li {
  width: 33.33333333%;
}
#rec_files_boxes.display_list > ul > li {
  width: 100%
}

#rec_files_boxes.display_list .rec_det {
  width: 75%;
}
#rec_files_boxes.display_list .recbut {
  width: 25%;
}
#rec_files_boxes .recdet{
  width: 58.33333333%;
}
#rec_files_boxes .recbut{
  width: 41.66666667%;
}

#rec_files_boxes .recdet ul {
  margin-left: -15px;
  margin-right: -15px;
}
#rec_files_boxes.display_list .recdet ul {
  margin-left: 0;
  margin-right: 0;
}

#rec_files_boxes .rectitle {
  width: 100%;
}
#rec_files_boxes.display_list .rectitle {
  width: 25%;
}
#rec_files_boxes .recsize {
  width: 100%;
}
#rec_files_boxes.display_list .recsize {
  width: 16.66666667%;
}
#rec_files_boxes .recdesc {
  width: 100%;
}
#rec_files_boxes.display_list .recdesc {
  width: 58.33333333%;
}


#rec_authors_rdmore {
  padding-left: 15px;
  padding-right: 10px;
  max-width: 95%;
  display: inline-block;
  float: left;
  max-height: 20px;
  overflow: hidden;
}
.rec_details .readmore-js-toggle {
  display: inline-block;
  float: left;
  width: auto;
}
.rec_details .readmore-js-toggle a {
  color: #f5f5f5;
  font-size: 14px;
  margin-top: 5px;
}


#loading-refresh-icon {
  display: none;
  margin-top: 4px;
}