.content.record .record-content {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.content.record .record-content .main {
  background-color: #f4f4f4;
  height: auto;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding: 25px 20px;
}

#record_primary .main {
  min-height: 300px;
}
#record_primary .rec_file_box a.btn {
  color: #fff;
  margin-bottom: 5px;
  font-size: 10px;
  background-color: #9BB1BD;
}
#record_primary .rec_metadata.rec_files li .content_box {
  padding: 5px;
}
#record_primary .rec_file_box .content_box .pull-right {
  padding-top: 6px;
}
#record_primary .panel-group {
  margin-bottom: 10px;
}
.content.record .record-content .sidebar {
  height: auto;
  background-color: #fff;

  padding: 25px 20px;
}
#record_reduced .sidebar {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#record_primary .sidebar {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.content.record .rec_dedicated_top {
  border-top-right-radius: 3px;
}
#record_reduced .rec_dedicated_top {
  padding-top: 30px;
  padding-bottom: 15px;
}

.content.record .record-content .main .rec_header {
  margin-bottom: 30px;
  margin-top: -25px;
  margin-left: -20px;
  margin-right: -20px;
}
#record_primary .rec_header {
  background-color: #606D75;
  color: #fff;
}
#record_primary .rec_header .title span {
  color: #d5d5d5;
}
#record_primary .rec_header .rec_authors a {
  color: #d5d5d5;
}
#record_reduced .rec_header {
  color: #606D75;
}
#record_reduced .rec_header{
  border-top-left-radius: 3px;
}
#record_primary .rec_header {
  border-radius: 0 3px 3px 0;
}
.content.record .record-content .main .rec_title.title {
  width: 100%;
  border-radius: 0px 3px 0 0;
  padding: 5px 20px;
}
.content.record .rec_details {
  padding-bottom: 15px;
  padding: 25px 20px;
  margin-bottom: 20px;
}
#record_primary .rec_details .title {
  color: #fff;

}

#record_primary .rec_thumb.rec_thumb {
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}
#record_primary .main {
  border-radius: 3px;
}
#record_primary .rec_header {
  border-radius: 3px 3px 0 0;
}
#record_primary .rec_dedicated_details_in span {
  font-size: 30px;
}
#record_primary .rec_dedicated_details_in .collapsed span.fa-angle-up:before {
  content: "\f107"
}
#record_primary .rec_dedicated_details_in.rdd-sel {
  background-color: #A2B2BD;
}
#record_primary .rec_dedicated_details_in.rdd-val {
  background-color: #B5C5D1;
}#record_primary .rec_dedicated_details_in.rdd-reuse {
  background-color: #A2B2BD;
}
#record_primary .rec_dedicated_details_in.rdd-limits {
  background-color: #B5C5D1;
}
#record_primary .rec_dedicated_details_in.rdd-disclaimer {
  background-color: #A2B2BD;
}





@media (max-width: 768px) {
  #record_primary .rec_thumb.rec_thumb {
    margin-top:10px;
  }
}
