#search-box-main {
  background-color: #acc6d4;
  color: #fff;
  min-height: 0;
}

#searchform-input-group input {
  border-radius: 3px 0 0 3px;
  border: 0;
  height: 30px;
}

#searchform #searchform-input-group .input-group-btn {
  width: 1%;
}
#searchform-input-group button[name=action_search]{
  background-color: #90a6b2;
  border: 0;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 15px;
  border-radius: 3px;
  height: 30px;
}

#searchform-input-group .invenio-collapsable-tabs button, #searchform-input-group .invenio-collapsable-tabs button:hover, #searchform-input-group .invenio-collapsable-tabs button:focus {
  border: 1px #fff solid;
  outline: 0;
}

#search-box-main .form-control {
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: none;
-o-transition:  none;
transition:  none;
background-color: #f5f5f5;
}

#search_content{
  background-color: #B9CEDD;
  padding-top: 20px;
  padding-bottom: 20px;
}

#search_results a,
#search_results a:hover,
#search_results a:focus{
  color: #899AA5;
}

#search_results .pagination>.active>a,
#search_results .pagination>.active>a:focus,
#search_results .pagination>.active>a:hover,
#search_results .pagination>.active>span, 
#search_results .pagination>.active>span:focus, 
#search_results .pagination>.active>span:hover{
  background-color: #899AA5;
  color: #fff;
}

#search_results .record-header a,
#search_results .record-header a:hover,
#search_results .record-header a:focus{
  font-weight: 400;
  color: #606D75;
}
#search_results .record-content {
  font-weight: 100;
  color: #899AA5;
}

.search-facet {
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 10px;
}

form.form-inline {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 0 0 3px 3px;
  display: inline-block;
  padding-top: 0;
  width: 100%;
}

.facet > div >ul {
  width: 100%;
  display: inline-block;
}

ul.nav-pills {
  margin: 0!important;
}
#search-box-main .navbar {
  margin-bottom: 0;
  min-height: 0;
}

#search-box-main .nav.navbar-form {
  width: 100%;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 7px;
}

#search-box-main .col-md-10.navbar-collapse {
  width: 83.3333%;
}

#searchform-input-group {
  width: 100%!important;
}
#search-label {
  font-weight: 600;
}

#searchform-input-group .invenio-collapsable-tabs span {
  border: 1px solid #fff;
  border-left: 1px solid #f5f5f5;
}

.content .noresults {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
}

.content .nearesttermsmain{
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
}

.content .infobar p {
  margin: 0;
}

.content .results {
  min-height: 400px;
  padding-top : 20px;
  padding-bottom: 20px;
}

.content .results blockquote {
  margin: 20px -10px;
  border-left: 5px solid #e6e6e6;
  background-color: #fff;
  font-size: inherit;
  padding: 10px;
}

.content .results blockquote a,
.content .results blockquote a:hover,
.content .results blockquote a:focus {
  font-weight: 600;
}

#search_results .btn {
  font-size: 12px;
}

#search_results .form-group.col-md-1 .btn {
  height: 31px;
  padding-top: 7px;
}

#search_results .record .checkbox input[type=checkbox] {
  position: relative;
  margin-left: 0;
}

#search_results .search-pagination {
  display: block;
  margin-top: 15px;
}

#search_header {
  display: inline-block;
  float: left;
  width: 100%;
  background-color: #acc6d4;
  padding: 5px 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#search_header .form-group {
  margin: 0;
}
#search_header .help-block {
  margin: 4px 0;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
}
#search_header .btn,
#search_header .btn:hover, 
#search_header .btn:active,
#search_header .btn:focus {
  color: #fff;
  background-color: #90a6b2;
  padding: 4px 6px;
  box-shadow: 0;
  border: 0;
  margin-top: 2px;
}
/*======= Facet Styling  ========*/


@media (max-width: 1200px) {
  #facet_list {
    max-width: 160px!important;
  }
}

#facet_list {
  background-color: #9bb0bd;
  border-radius: 3px;
  color: #666;
  max-width: 180px;
  font-size: 13px;
  margin-right: -15px;
}

#facet_list > div {
  background-color: #f5f5f5;
  padding: 5px 10px ;
  border-radius: 3px;
}

#facet_list > div li {
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
}

#facet_list .author {
  background-color: #f4f4f4;
}

#facet_list a,
#facet_list a:hover,
#facet_list a:focus {
  color: #666;
}

#facet_list  li a,
#facet_list  li a:hover,
#facet_list  li a:focus {
  color: #828282;
  font-size: 12px;
}


#facet_list.affix.affix {
  top: auto;
}

#facet_list.affix-top {
  top: auto;
}

#facet_list.affix-bottom.affix-bottom {
  bottom: auto;
}

#facet_list > div >a {
  margin: -5px -10px;
  margin-bottom: 5px;
  display: block;
  background-color: #acc6d4;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px 3px 0 0;
}






/* Record-brief styling */

#search_results .record {
  padding: 10px 0;
  border-bottom: 1px dotted #606D75;
}

.rec_thumb_brief {
  margin-bottom: 4px;
  display: inline-block;
}

.rec_thumb_brief.rec_footer_thumb {
  margin-right: 7px;
  margin-bottom: 0;
}
.rec_thumb_brief .t{
  color: #606D75;
  float: left;
  margin: -2px;
  padding: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color: #e5e5e5;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  margin-right: 5px;
}
.rec_thumb_brief .n {
  background-color: #fff;
  color: #606D75;
  float: right;
  padding: 2px;
  border-radius: 2px;
  text-align: left;
  border: 1px solid #899AA5;
  font-size: 12px;
  font-weight:400;
  padding-right: 5px;
  height: 25px;
  overflow: hidden;
}
.rec_thumb_brief.rec_footer_thumb .n {
  height: 23px;
}

.rec_thumb_brief span {
  padding: 0 2px;
}

.rec_title {
  float: left;
  margin-right: 10px;
}
.record-header, .record-content,
.record-info, .record-footer {
  display: inline-block;
  width: 100%;
}
.record-footer {
  font-size: 13px;
  font-weight: 400;
  color: #5C6367;
}
.record-footer a {
  display: block;
  float: left;
}
.record-brief p {
  margin: 0;
  margin-bottom: 5px;
}
h4.record-header {
  margin: 0;
  display: block;
  text-over/*flow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;*/
}
.record-header a {
  display: inline-block;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  /*overflow: hidden;*/
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}
.record-header a .rec_title {
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  height: 22px;
}
.record-brief-details .rec_thumb_brief {
  margin-bottom: 5px;
  margin-right: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .record-brief-details a {
    float: left;
    margin-right: 7px;
  }

  #search_header .help-block {
    font-size: 12px;
  }
}

