

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


header, footer, header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
}

html body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif!important;
  color: #2e2e2e;
  border: 0;
  background-color: #CFE1EB;
}

body #wrap {
  margin: 0 auto -80px;
  padding: 0 0 80px;
}

a, a:hover, a:focus {
  color: #091B26;
  text-decoration: none;
  font-size: inherit;
}

a.clean, a.clean:hover, a.clean:focus {
  color: inherit!important;
  text-decoration: none!important;
  font-size: inherit!important;
  border: 0!important;
}

header a, header a:hover, header a:focus,
footer a, footer a:hover, footer a:focus {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  float: left;
}

ul.with-circles {
  list-style-type: circle;
}
ul.with-circles li {
  float: none;
}

section {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .pull-right-xs {
    float: right;
  }
}

header, footer {
  color: #fff;
}
#od-header .innernav a {
  float: left;
  display: block;
  padding: 10px 6px;
  background-color: transparent;
  color: #5E6970;
  width: 100%;
}
#od-header .innernav a.disabled {
  /*color: #fff;*/
}

#od-header .innernav li:hover,
#od-header .innernav li:active,
#od-header .innernav li.open,
#od-header .innernav a:hover,
#od-header .innernav a:active,
#od-header .innernav a:focus {
  color: #fff;
  background-color: #95abb7;
}

a span.external-link-l::after {
  font-family: FontAwesome;
  content:"\f08e";
  font-size: 10px;
  padding-right: 3px;
  opacity: 0.3;
  /*visibility: hidden;*/
}

a:hover span.external-link-l::after {
  /*visibility: visible;*/
  text-decoration: none;
}

a span.external-link-r::after {
  font-family: FontAwesome;
  content:"\f08e";
  font-size: 10px;
  padding-left: 3px;
  opacity: 0.3;
  /*visibility: hidden;*/
}

a:hover span.external-link-r::after {
  /*visibility: visible;*/
  text-decoration: none;
}

.navbar {
  margin: 0;
}
.topnav {
  height: 40px;
  background-color: #606D75;
}

.topnav ul {
  list-style: none;
  float: left;
  margin-right: 30px;
  padding: 0;
  width: 160px;
}

.topnav li {
  float: left;
  padding: 4px 6px;
  border-radius: 2px;
  color: #fff;
  margin-right: 5px;
}

.topnav .inner a {
  display: inline-block;
}

.topnav li.active, .topnav li:hover{
  background-color: #899AA5;
}

.inner > ul {
  margin-top: 6px;
  margin-bottom: 0;
}

.logoimg .sp1 {
  color: #091B26;
  border: 0;
  font-weight: 300;
  font-size: 35px;
  width: 50%;
}

.logoimg .sp2 {
  color: #091B26;
  font-size: 35px;
  font-weight: 900;
  border: 0;
  background-color: inherit;
  width: 50%;
}

.logoimg .sp3 {
  color: #091B26;
  font-size: 12px;
  margin-top: -10px;
  float: right!important;
  text-align: right;
  width: 100%;
}

.logoimg.logoimg > div {
  float: left;
  padding: 0;
}
.logo.logo {
  margin-top: -10px;
}


.logoimg {
  float: left;
  font-family: 'letter gothic std', 'Open Sans';
  width: 160px;
}

.midnav {
  background-color: #f5f5f5;
  padding: 5px 0;
}

.midnav .navbar-toggle {
  padding: 8px 0;
}
.midnav .logo{
  float: left;
}

.midnav .innernav {
  float: right;
}

.innernav ul {
  float: right;
}

.innernav ul a {
  width: auto;
}

.innernav ul li {
  float: left;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  color: #091B26;
  border-radius: 2px;
}

.innernav ul li:hover ul{
  display: block; /* display the dropdown */
}

.innernav ul li.btn-group {
  background-color: #899AA5;
  height: 30px;
  padding: 0;
  border-radius: 2px;
  margin-top: 2px;
}
.innernav ul li .btn {
  height: 30px;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  padding: 6px;
  border-radius: 2px;
}
.innernav ul li .btn.active {
  background-color: #091B26;
}

@media (max-width: 767px) {
  .midnav {
    height: auto;
    padding-bottom: 8px;

  }
  .midnav .navbar-toggle {
    margin-right: 0;
  }
  .innernav {
    width: 100%;
    float: none;
    background-color: #fff;
    margin-top: 5px;
    min-height: 0!important;
  }
  .innernav div, .innernav ul {
    width: 100%;
    float: none!important;
  }
}


.innernav ul li:hover {
  background-color: #899AA5;
  color: #fff;
}

.innernav .navbar-toggle {
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.midnav ul {
  list-style: none;
  float: left;
  padding: 0;
}

.social {
  float: right;
  font-size: 20px;
  margin-top: 6px;
}

.social span {
  margin-left: 5px;
}

.logoutBut {
  float: left;
  padding: 4px 6px;
  border-radius: 2px;
  color: #fff;
  margin-right: 5px;
  background-color: #899AA5;

}

.logoutBut, .logoutBut:hover{
  font-size: 14px;
}

.navbar-toggle .icon-bar {
  background-color: #606D75;
  height: 5px;
  width: 30px;
}

.navbar-toggle {
  margin: 0;
}

.inner span.caret {
  padding: 5px;
}

.middlefoot.middlefoot .middle_l img {
  margin-top: 15px;
  width: 100px;
  margin-right: 10px;
}
.middlefoot.middlefoot .middle_r img {
  margin-left: 20px;
  height: 55px;
  width: auto;
  margin-top: 15px;
}


#search-box-main .nav {

}
/*-------- Footer CSS code ----------*/
footer a,
footer a:hover,
footer a:focus{
  color: #899AA5;
  text-decoration: none;
}

.middlefoot .pull-left img {
  margin-top: 15px;
  width: 130px;
  margin-right: 10px;
}
.middlefoot .pull-right-xs img {
  margin-left: 20px;
  width: 54px;
  margin-top: 15px;
}

.middlefoot.middlefoot {
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .middlefoot.middlefoot .row > div {
    text-align: center;
  }
}

.upperfoot .actions {
  float: left;
}

.lastfoot ul li{
  width: 100%;
  color: #899AA5;
  font-size: 15px;
}

.lastfoot ul li.title {
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.lastfoot ul li.col-md-4.title {
  /*width: 33.33333333%;*/
  text-align: center;
}

.lastfoot .actions {
  padding-top: 30px;
}

@media (min-width: 768px) {
  .upperfoot{
    height: 100px;
    overflow: hidden;
  }

  .upperfoot .actions {
    float: right;
  }

  .upperfoot .actions span {
    margin-bottom: 0;
  }


  .upperfoot ul {
    height: 100%;
    padding: 30px 10px;
  }
  .middlefoot.middlefoot .middle_l {
    text-align: left;
  }
  .middlefoot.middlefoot .middle_r {
    text-align: right;
  }

  .lastfoot .actions {
    padding-top: 0;

  }.lastfoot .actions li {
    float: left;
    width: auto;
  }
}

@media (max-height: 500px ) {
  .quotes { 
    display: none;
  }
}

.lastfoot .legal{
}

.legal {
  color: #606D75;
  width: 350px;
  margin-top: -25px;
}

.legal ul {
  font-size: 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.legal ul li {
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  width: auto;
  font-size: 11px;
  margin-top: 10px;
  display: inline-block;
}

.content {
  background-color: inherit;
}

@media (max-width: 480px;) {
  .innernav ul {
    display: none!important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .upperfoot .actions {
    float: right;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

.upperfoot ul {
  display: inline-block;
  height: inherit;
  /*margin-bottom: 20px;*/
  padding: 20px 0;
}

.upperfoot  {
  height: auto;
  background-color: #fff;
  font-size: 20px;
  padding: 10px 0;
}

.upperfoot .actions span{
  /*margin-bottom: 5px;*/
  margin-right: 5px;

}

footer {
  padding: 0;
  margin: 0;
}

.lastfoot{
  background-color: #606D75;
  padding: 20px 0;
  padding-bottom: 0;
}

.upperfoot span {
  background-color: #666;
  color: #fff;
  border-radius: 50%;
  font-size: 25px;
  padding: 10px;
  margin-right: 15px;
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
}



.upperfoot ul.pull-right-xs  span {
  margin-right: 10px
}


.infobar {
  background-color: rgba(183, 211, 225, 0.78);
  padding: 7px 0;
  color: #fff;
  height: 30px;
}
.infobar a, .infobar a:hover, .infobar a:focus{
  color: #f5f5f5;
  text-decoration: none;
}
.infobar h3 {
  font-size: 30px;
  font-weight: 100;
  margin: 0;
  float: left;
}

.infobar .breadcrumbs {
  display:inline-block;
  margin-top: -2px;
  color: #f5f5f5;
}
.infobar .breadcrumbs h3 {
  font-size: 30px;
  font-weight: 100;
  margin: 0;
  float: left;
}
.infobar .breadcrumbs h4 {
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  float: left;
}
.infobar .breadcrumbs h4.active {
  font-weight: 600;
}
.infobar .breadcrumbs span.fa {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 11px;
  padding-top: 6px;
}

.infobar .breadcrumbs .dropdown {
  float: right;
}
.infobar .breadcrumbs .dropdown .btn {
  background-color: inherit;
  padding: 0;
  margin-top: -3px;
  color: #fff;
  border: 0;
  font-size: 20px;
  font-weight: 100;
  height: 22px;
  margin-left: 2px;
}
.infobar .breadcrumbs .dropdown.active .btn,
.infobar .breadcrumbs .dropdown .btn:active {
  font-weight: 600;
  box-shadow: 0;
  outline: none;
  --webkit-box-shadow: 0;
  margin-top: -5px;
  
}
.infobar .breadcrumbs .dropdown ul {
  background-color: inherit;
  min-width: 110px;
  border: 1px solid #C7DCEA;
  box-shadow: 0;
  --webkit-box-shadow: 0;
  padding: 0;
  margin-top: 5px;
  border-radius: 3px;
}

.infobar .breadcrumbs .dropdown li {
  width: 100%;
  background-color: #A2B4C0;
  color: #fff;
}
.infobar .breadcrumbs .dropdown li a {
  padding: 3px 10px;
  background-color: #A2B4C0;
  color: #fff; 
}

.infobar .breadcrumbs .dropdown li.active a {
  background-color: inherit;
  color: inherit;
}
.infobar .breadcrumbs .dropdown li a:hover,
.infobar .breadcrumbs .dropdown li a:active {
  background-color: #fff;
  color: #A2B4C0;
}

.infobar .breadcrumbs .dropdown li a img {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}
.infobar .breadcrumbs .dropdown .btn:active,
.infobar .breadcrumbs .dropdown .btn,
.infobar .breadcrumbs .dropdown .btn.active {
  box-shadow: 0;
  --webkit-box-shadow: 0;
  height: 25px;
}
.infobar .breadcrumbs .dropdown button img {
  width: 19px;
  height: 19px;
  margin-top: -3px;
  margin-left: 4px;
}

.infobar .breadcrumbs .dropdown span.caret {
  margin-left: 4px;
}

/*---------- css for index2.html -------*/
.searchsect {
  background-color: #606D75;
  height: 170px;
  padding: 50px 0;
}


.searchsect .phrase {
  color: #fff;
  font-size: 27px;
  height: 100px;
}

.searchsect .searchForm {
  height: 100px;
}

.searchsect .searchForm input {
  height: 50px;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 3px #fff;
  font-size: 25px;
  font-weight: 100;
  color: #496B72;
  width: 100%;
}

.searchsect .searchForm button {
  height: 50px;
  border-radius: 2px;
  width: 100%;
  background-color: #B36666;
  color: #fff;
  font-size: 27px;
}
/*-------------------------------------*/

a.glossaryTerm,
a.glossaryTerm:hover,
a.glossaryTerm:focus {
  text-decoration: none!important;
  color: inherit!important;
  font-size: inherit!important;
  font-weight: inherit!important;
  /*background-color: rgba(51, 51, 51, 0.09);*/
  border-bottom: 1px dashed!important;
  width: auto!important;
}

#glossaryContent {
  border-radius: 2px;
  background-color: #f4f4f4!important;
}





/*--------------------------------------*/
ul.exp-switch {
  border: 0;
  border-radius: 2px;
}
ul.exp-switch li {
  background-color: #fff;
  border-radius: 0;
  border-right: 2px solid #f5f5f5;
}
ul.exp-switch li.r {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: 0;
}
ul.exp-switch li.l {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
ul.exp-switch li.r a{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
ul.exp-switch li.l a{
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
ul.exp-switch li a {
  height: 30px;
  color: #091B26;
  font-size: 13px;
  padding: 6px;
  border: 0;
  border-radius: 0;
  margin: 0;
}
ul.exp-switch li.active a,
ul.exp-switch li.active a:hover,
ul.exp-switch li.active a:focus {
  background-color: #091B26;
  color: #fff;
  border: 0;
}

#sticky-anchor.stick {
  height: 83px;
}
#sticky {
  padding: 15px;
  margin-left: -15px;
}

#sticky.stick {
  position: fixed;
  top: 0;
  background-color: #CFE1EB;
  z-index: 10000;
}
