.info{
        padding: 30px 0;
        background-color: #899AA5;
}

.testimonial {
        color: #fff;
}
.testimonial .quote span.fa {
        font-size: 20px;
        font-style: italic;
        margin: 8px;
        width: 100%;
}
.testimonial .quote {
        font-size: 18px;
        font-style: italic;
}

.testimonial .quote .text {
        padding: 7px;
        display: inline-block;
}

.testimonial .details {
        float: right;
        width: 60%;
        font-weight: 100;
        font-size: 15px;
        text-align: right;
}
