{%- extends config.BASE_TEMPLATE %}


{%- block css %}
{{ super() }}
{% assets "invenio_search_ui_search_css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{%- endblock css %}

{%- block javascript %}
{{ super() }}
{% assets "invenio_search_ui_search_js" %}
<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}


{%- block page_body %}
<div class="container-fluid background"id="invenio-search">
  <div class="container research">
    <invenio-search
    search-endpoint={{search_endpoint}}
    search-headers='{"Accept": "{{ config.SEARCH_UI_SEARCH_MIMETYPE|default('application/json')}}"}'
  >
    <div class="row">
      <div class="col-md-3 col-position">
        <div class="card card-style">
          <div class="card-body content-style">
            <invenio-search-facets
              template="{{ url_for('static', filename='templates/cernopendata_search_ui/facets.html') }}">
            </invenio-search-facets>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-position">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-style">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <invenio-search-count
                      template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_COUNT) }}">
                    </invenio-search-count>
                  </div>
                  <div class="col-md-6">
                    <invenio-search-pagination
                      template="{{ url_for('static', filename='templates/cernopendata_search_ui/pagination.html') }}">
                    </invenio-search-pagination>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <invenio-search-results
          template="{{ url_for('static', filename='templates/faceted_results.html') }}">
        </invenio-search-results>
        <br>
        <div class="row">
          <div class="col-md-12">
            <invenio-search-pagination
                      template="{{ url_for('static', filename='templates/cernopendata_search_ui/pagination.html') }}">
                    </invenio-search-pagination>
          </div>
        </div>
      </div>
    </div>
    </invenio-search>
  </div>
</div>
{%- endblock %}
