{%- extends config.BASE_TEMPLATE %}


{%- block css %}
{{ super() }}
{% assets "invenio_search_ui_search_css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{%- endblock css %}

{%- block javascript %}
{{ super() }}
{% assets "invenio_search_ui_search_js" %}
<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}


{%- block page_body %}
<div class="container">

    {% if description.img %}
    <img src="{{description.img}}"/>
    {% endif %}
    {% if description.text %}
    <div class="row">
        <h3> {{ description.text|safe }} </h3>
    </div>
    <hr>
    <br>
    {% endif %}
    <div class="row">
        <div id="invenio-search">
            <invenio-search
             search-endpoint={{search_endpoint}}
             search-headers='{"Accept": "{{ config.SEARCH_UI_SEARCH_MIMETYPE|default(' application/json')}}"}'
             >
             <div class="col-md-3">
                 <invenio-search-facets
                  template="{{ url_for('static', filename='templates/cernopendata_search_ui/facets.html') }}">
                 </invenio-search-facets>
             </div>
             <div class="col-md-9">
                 <invenio-search-results
                  template="{{ url_for('static', filename='templates/faceted_results.html') }}">
                 </invenio-search-results>
             </div>
            </invenio-search>
        </div>
    </div>
</div>

{%- endblock %}
