{%- extends config.BASE_TEMPLATE %}


{%- block css %}
{{ super() }}
{% assets "invenio_search_ui_search_css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{%- endblock css %}

{%- block javascript %}
{{ super() }}
{% assets "invenio_search_ui_search_js" %}
<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}


{%- block page_body %}
<section class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 header-text-section">
        <p>
          The CERN Open Data Portal is the access point to a growing range of data produced through the research
          performed at <a href="http://home.cern" target="_blank">CERN</a>.
        </p>
        <p>
          It disseminates the preserved output from various research
          activities, including accompanying software and documentation which is needed to understand and analyse the
          data being shared.
        </p>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>
<section class="research" id="home-research">
  <div class="container-fluid">
    <br/><br/>
    <div class="row">
      <br/><br/>
      {% for record in records %}
      {% set record = record._source %}
      <div class="col-md-4 text-center info-block research">
        <ul>
          <li>
            <div class="card" id="news-card">
              <img class="card-img-top" src="{{url_for('static', filename='assets/img/dummy_background.svg')}}" alt="Card image cap">
              <div class="card-body">
                <h4><a
                href="/articles/{{record.control_number}}">{{record.title}}</a></h4>
                <p class="card-text">
                  {% if record.created or record.author %}
                  {{ record.created }}
                  {% if record.author %}
                  by {{ record.author }}
                  {% endif %}
                  {% endif %}
                </p>
                <div class="tags-box">
                  <a href="/search?type_pre={{record.type.primary}}" class="badge  badge-success custom-badge-success">{{ record.type.primary }}</a>
                  {% if record.type.secondary %}
                    {% for subtype in record.type.secondary %}
                      <a href="/search?subtype_pre={{subtype}}" class="badge  badge-info">{{ subtype }}</a>
                    {% endfor %}
                  {% endif %}
                  {% for tag in record.tags %}
                  <a href="/search?tags_pre={{tag}}" class="badge badge-secondary">{{ tag }}</a>
                  {% endfor %}
                  <a href="/search?experiment_pre={{record.experiment}}"
                     class="badge badge-warning custom-badge-warning">{{ record.experiment }}</a>
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="research" id="visualise-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="od-icon od-visualize"></div>
        <h4>Visualise CERN Data</h4>
        <br/><br/>
      </div>
    </div>

    <div class="row">
      <br/><br/>
      <div class="col-md-4 text-center info-block education">
        <ul>
          <li>
            <a href="{{url_for('.visualise_events', experiment='CMS')}}">CMS detector events</a>
            <p>Analyse CMS data in detail with our interactive visualization tool</p>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center info-block education">
        <ul>
          <li>
            <a href="{{url_for('.visualise_events', experiment='OPERA')}}">OPERA detector events</a>
            <p>Analyse OPERA data in detail with our interactive visualization tool</p>
          </li>
        </ul>

      </div>
      <div class="col-md-4 text-center info-block education">
        <ul>
          <li>
            <a href="{{url_for('.visualise_histograms', experiment='CMS')}}">Visualise histrograms</a>
            <p>Visualise events from our detectors, including the Higgs events</p>
          </li>

        </ul>

      </div>
    </div>

  </div>

</section>
{%- endblock %}
