{%- extends config.BASE_TEMPLATE %}


{%- block css %}
{{ super() }}
{% assets "invenio_search_ui_search_css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{%- endblock css %}

{%- block javascript %}
{{ super() }}
{% assets "invenio_search_ui_search_js" %}
<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}


{%- block page_body %}
<div class="container">
    <div class="row" style="margin-top: 3%;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>The CERN Open Data portal is the access point to a growing range of data produced
                        through the research
                        performed at CERN. It disseminates the preserved output from various research activities, including
                        accompanying
                        software and documentation which is needed to understand and analyse the data being shared.</h4></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>News</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for record in records %}
                        {% set record = record._source %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail" style="height: 180px;">
                                <div class="record-box">
                                    <h3><a href="/articles/{{record.control_number}}">{{ record.title }}</a></h3>
                                    {% if record.created or record.author %}
                                    <h6 style="text-align: right">
                                        {{ record.created }} 
                                        {% if record.author %}
                                        by {{ record.author }}
                                        {% endif %}
                                    </h6>
                                    {% endif %}
                                    <div class="tags-box">
                                        <a href="/search?type={{record.type}}">
                                            <span class="label label-primary">
                                                {{ record.type }} 
                                            </span>
                                        </a>
                                        {% if record.subtype %}
                                        <a href="/search?subtype={{record.subtype}}"> 
                                            <span class="label label-info">
                                                {{ record.subtype }}
                                            </span>
                                        </a> 
                                        {% endif %}
                                        {% for tag in record.tags %}
                                        <a href="/search?tags={{tag}}"> 
                                            <span class="label label-default">
                                                {{ tag }} 
                                            </span>
                                        </a>
                                        {% endfor %}
                                        <a href="/search?experiment={{record.experiment}}">
                                            <span class="label label-warning">
                                                {{ record.experiment }} 
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Visualise</h2>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img  style="height: 126px;"  src="{{url_for('static', filename='img/cms_vis.png')}}">
                            <div class="caption">
                                <h3 class="text-center">Visualise CMS detector events</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img style="height: 126px;" src="{{url_for('static', filename='img/opera_vis.png')}}">
                            <div class="caption">
                                <h3 class="text-center"><a href="{{url_for('.visualise_events', experiment='OPERA')}}">Visualise OPERA
                                        detector events</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img style="height: 153px;" src="{{url_for('static', filename='img/visualisation/histogram.png')}}">
                            <div class="caption">
                                <h3 class="text-center"><a href="{{url_for('.visualise_histograms', experiment='CMS')}}">Visualise
                                        histograms</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock %}

