{%- extends config.BASE_TEMPLATE %}

{% block page_body %}
<div class="ui centered container visualise-events">

  <h1>Visualise detector events</h1>

  <div class="row center aligned">
    <a href="{{url_for('.visualise_events', experiment='cms')}}">
      <div class="ui top attached segment ">

        <img src="{{url_for('static', filename='img/cms.gif')}}" class="center">
      </div>

      <div class="ui bottom attached segment">
        <h2> Visualise CMS detector events</h2>
      </div>
    </a>
  </div>

  <div class="row center aligned">
    <a href="{{url_for('.visualise_events', experiment='opera')}}">
      <div class="ui top attached segment ">
        <img src="{{url_for('static', filename='img/opera.gif')}}">
      </div>

      <div class="ui bottom attached segment">
        <h2>Visualise OPERA detector events</h2>
      </div>
    </a>
  </div>

</div>
{% endblock  page_body %}
