{%- extends config.BASE_TEMPLATE %}

{%- block css %}
{{super()}}
{% include "cernopendata_ispy/ispy_css.html" %}
{% endblock %}

{%- block javascript %}
{{super()}}
{% include "cernopendata_ispy/ispy_js.html" %}
<script>
  $(document).ready(function () {
    $('#event-display-howto').hide();
    $('#backtopreview').hide();
  });

  $('#backtopreview').on('click', function () {
    $('#needhelp').show();
    $('#backtopreview').hide();
    $('#event_previewer').show();
    $('#event-display-howto').hide();
  });

  $('#needhelp').on('click', function () {
    $('#needhelp').hide();
    $('#backtopreview').show();
    $('#event_previewer').hide();
    $('#event-display-howto').show();
  });
</script>
{%- endblock javascript %}

{% block page_body %}
<!-- ispy_standalone is used to render `Need HELP` section and
  to show loader which is not needed in embeded view -->
{% set ispy_standalone = True %}
{%include "cernopendata_ispy/ispy_standalone.html"%}
{% endblock %}
