{%- extends config.BASE_TEMPLATE %}

{% block page_body %}
<div class="container">
  <h1>Visualise detector events</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <a href="#">
          <div class="panel-body text-center">
            <img src="{{url_for('static', filename='img/CMS.gif')}}">
            <hr>
            <h2><p>Visualise CMS detector events</p></h2>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <a href="{{url_for('.visualise_events', experiment='OPERA')}}">
          <div class="panel-body text-center">
            <img src="{{url_for('static', filename='img/OPERA.gif')}}">
            <hr>
            <h2><p>Visualise OPERA detector events</p></h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock  page_body %}
