{%- extends config.BASE_TEMPLATE %}

{%- block css %}
{{super()}}
{{ webpack['visualise_css.css'] }}
{% endblock css %}

{%- block javascript %}
{{super()}}
{{ webpack['visualise_js.js'] }}
{% endblock javascript %}

{% block page_body %}

<div class="ui one centered column grid container vis-histograms">
  <div class="row">
    <div class="left aligned column">
      <a id="backtohisto" href="#"><span
        class="fa fa-long-arrow-left"></span>back
        to histograms</a>
      <a id="needhelp" href="#">Need HELP?</a>
    </div>
  </div>
  <div class="row">
    <div class="left aligned column" id="histograms">
      <div>
        <div id="browse-dropdown" class="ui selection dropdown">
          <div id="filedropdown" class="text"></div>
          <i class="dropdown icon"></i>
          <div class="menu" id="filelist"></div>
        </div>
      </div>
      <div id="histograms">
        <div class="previewer" id="histogram">
          <div class="row">
            <h4>Select one or more parameters:</h4>
          </div>
          <div class="row buttons">
            <div class="ui horizontal list" id="parameter-button-row"></div>
          </div>
          <div class="row">
            <div class="ui two centerd column grid" id="flot-plots"></div>
          </div>
        </div>

        <h4>Controls:</h4>
        <p>Click on the "LogX" and "LogY" buttons to transform the axes by log10</p>
        <p>Enter a bin width and click "Set" to change the bin width of the histogram (the default is 0.1)</p>
        <p>Click on the histogram and move to select a region along the x axis. Click "Undo selection(s)" to return to
          the original range.</p>
      </div>
    </div>
  </div>
  <div id="howto" class="ui one left aligned column grid container">
    {% include "cernopendata_pages/histograms_howto.html" %}
  </div>
</div>
{% endblock %}
