<section class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <a href="http://alice.cern.ch"><img src="{{ url_for('static', filename='img/ALICE.gif') }}" alt=""
                                            width="80"></a>
      </div>

      <div class="col-md-1">
        <a href="http://atlas.ch"><img src="{{ url_for('static', filename='img/ATLAS.gif') }}" alt="" width="80"></a>
      </div>

      <div class="col-md-1">
        <a href="http://cms.cern.ch"><img src="{{ url_for('static', filename='img/CMS.gif') }}" alt="" width="80"></a>
      </div>

      <div class="col-md-1">
        <a href="http://lhcb.cern.ch"><img src="{{ url_for('static', filename='img/LHCb.gif') }}" alt="" width="80"></a>

      </div>
      <div class="col-md-1">
        <a href="http://operaweb.lngs.infn.it"><img src="{{ url_for('static', filename='img/OPERA.gif') }} " width="80"
                                                    alt=""></a>


      </div>

      <div class="col-md-5">

      </div>

      <div class="col-md-2">
        <img src="{{url_for('static', filename='assets/img/cern.svg')}}" width="80px"/>
      </div>
    </div>
  </div>
</section>
