<section class="footer">
  <div class="ui grid padded">
    <div class="row">
      <div class="six wide column">
        <div class="ui list horizontal logos">
          <div class="item">
            <a href="http://alice.cern"
              ><img
                src="{{ url_for('static', filename='img/alice.gif') }}"
                alt=""
                width="55"
                height="55"
            /></a>
          </div>
          <div class="item">
            <a href="https://atlas.cern"
              ><img
                src="{{ url_for('static', filename='img/atlas.gif') }}"
                alt=""
                width="55"
                height="55"
            /></a>
          </div>
          <div class="item">
            <a href="https://cms.cern"
              ><img
                src="{{ url_for('static', filename='img/cms.gif') }}"
                alt=""
                width="55"
                height="55"
            /></a>
          </div>
          <div class="item">
            <a href="https://wwwjade.mpp.mpg.de"
              ><img
                src="{{ url_for('static', filename='img/jade.gif') }}"
                alt=""
                width="55"
                height="55"
            /></a>
          </div>
          <div class="item">
            <a href="http://lhcb.cern.ch"
              ><img
                src="{{ url_for('static', filename='img/lhcb.gif') }}"
                alt=""
                width="55"
                height="55"
            /></a>
          </div>
          <div class="item">
            <a href="http://operaweb.lngs.infn.it"
              ><img
                src="{{ url_for('static', filename='img/opera.gif') }} "
                width="55"
                height="55"
                alt=""
            /></a>
          </div>
          <div class="item">
            <a href="https://www.phenix.bnl.gov"
              ><img
                src="{{ url_for('static', filename='img/phenix.gif') }} "
                height="35"
                alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="four wide column centered stretched middle aligned">
        {% set year = None %}
        <div class="ui list horizontal copyright ">
          <div class="item">
            © CERN, 2014–{{year|get_year}} &middot;
          </div>
          <div class="item">
            <a href="/terms-of-use">Terms of Use</a> &middot;
          </div>
          <div class="item">
            <a href="/privacy-policy">Privacy Policy</a> &middot;
          </div>
          <div class="item">
            <a href="https://opendata-forum.cern.ch/">Help</a> &middot;
          </div>
          <div class="item">
            <a href="https://github.com/cernopendata/opendata.cern.ch/issues"
              >GitHub</a
            >
            &middot;
          </div>
          <div class="item">
            <a href="https://twitter.com/cernopendata">Twitter</a> &middot;
          </div>
          <div class="item">
            <a href="mailto:opendata-support@cern.ch">Email</a>
          </div>
        </div>
      </div>
      <div class="six wide column stretched align-items-end">
        <div class="auto-column-grid">
          <div >Powered by <a href="https://inveniosoftware.org/">Invenio</a></div>
          <div  >
            <a href="http://www.cern.ch">
              <img
                src="{{url_for('static', filename='assets/img/cern.svg')}}"
                width="80px"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
