{%- extends "invenio_theme/header.html" %}

{%- block breadcrumbs %}
{% if request.path != '/' and breadcrumbs|length > 1 %}
<section class="bg-info pull-row-up">
  {{ super() }}
</section>
{% endif %}
{%- endblock %}

{%- block navbar_nav %}
{% block navbar_search %}
  {{ super() }}
{% endblock navbar_search %}

<ul class="nav navbar-nav">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">About <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/about">This Portal</a></li>
      <li><a href="#">CERN</a></li>
      <li><a href="/terms">Glossary</a></li>
      <li><a href="/privacy-policy">Privacy</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Collaborations <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/about/alice">ALICE</a></li>
      <li><a href="/about/atlas">ATLAS</a></li>
      <li><a href="/about/cms">CMS</a></li>
      <li><a href="/about/lhcb">LHCb</a></li>
    </ul>
  </li>

  <li><a href="#">Help</a></li>
</ul>
{%- endblock navbar_nav %}

