{%- extends "invenio_theme/header.html" %}
{%- block navbar %}
<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" href="{{url_for('cernopendata_pages.index')}}"><img
    src="{{url_for('static', filename='assets/img/logo_blue.png')}}" width="115" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="oi" data-glyph="menu" style="color:white;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <img id="demo-logo" src="{{url_for('static', filename='img/demo.png')}}" alt=""
         style="position:absolute;left:40%;top:0;width:200px;">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
          About <b class="caret"></b>
        </a>
        <ul class="dropdown-menu about-menu">
          <li><a class="dropdown-item" href="/docs/cern-open-data-portal">This Portal</a></li>
          <li><a class="dropdown-item" href="/docs/about-alice">ALICE Open Data</a></li>
          <li><a class="dropdown-item" href="/docs/about-atlas">ATLAS Open Data</a></li>
          <li><a class="dropdown-item" href="/docs/about-cms">CMS Open Data</a></li>
          <li><a class="dropdown-item" href="/docs/about-lhcb">LHCb Open Data</a></li>
          <li><a class="dropdown-item" href="/docs/about-opera">OPERA Open Data</a></li>
          <li><a class="dropdown-item" href="/glossary">Glossary</a></li>
          <li><a class="dropdown-item" href="/privacy-policy">Privacy</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

{%- endblock navbar %}

{%- block breadcrumbs %}{%- endblock breadcrumbs %}
