{% extends 'invenio_theme/page.html' %}

{% block css %}
    {{ super() }}
    {{ webpack['cernopendata_css.css'] }}
    {{ webpack['glossary_css.css'] }}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{%- endblock css %}

{%- block bypasslinks %}
{%- endblock bypasslinks %}

{%- block body_inner %}
  <!--Wrapper for page content to push down footer-->
  <div class="footer-wrap background">
    <!-- Begin page content -->
    <div>
    {%- block page_header %}
    {% include 'cernopendata_theme/header.html' %}
    {%- endblock page_header %}
      {% if config['ANNOUNCEMENT_BANNER_MESSAGE'] %}
      <div class="ui bottom attached small warning message">
        <p>{{ config['ANNOUNCEMENT_BANNER_MESSAGE'] | safe }}</p>
      </div>
      {% endif %}
    </div>

      {%- block page_body %}
      {%- block page_body_top %}{%- endblock page_body_top %}

      {%- endblock page_body %}

    <!-- End page content -->
    <div class="footer-push"></div> <!-- Make room for footer -->

  </div>

  {%- block page_footer %}
  {% include "cernopendata_theme/footer.html" %}
  {%- endblock page_footer %}

{%- endblock body_inner %}

{%- block javascript %}
  {{ super() }}
  {{ webpack['cernopendata_js.js'] }}
  {{ webpack['glossary_js.js'] }}
  {# {% assets "cernopendata_search_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %} #}

  {%- block javascript_glossary %}

    <script>
        jquery(document).ready(function () {
          jquery('body').glossary('/glossary/json');
        });
    </script>
  {% endblock %}

  {%- block mathjax_support %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"], matchFontHeight: false }
      });
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
  {% endblock %}

  {%- block jsonld_serialization %}{%- endblock jsonld_serialization %}

{% endblock %}

{%- block trackingcode %}
  {% include "cernopendata_theme/trackingcode.html" %}
{%- endblock %}
