{% extends 'invenio_theme/page.html' %}

{% block css %}
    {%- assets "cernopendata_theme_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet"> {%- endassets %}
    {%- assets "cernopendata_glossary_css" %} <link href="{{ ASSET_URL }}" rel="stylesheet"> {%- endassets %}
    {%- assets "codemirror_css" %} <link href="{{ ASSET_URL }}" rel="stylesheet"> {%- endassets %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{%- endblock css %}


{%- block body_inner %}
  <!--Wrapper for page content to push down footer-->
  <div id="footer_wrap">
    <!-- Begin page content -->
    {%- block page_header %}
    {% include 'cernopendata_theme/header.html' %}
    {%- endblock page_header %}

      {%- block page_body %}
      {%- block page_body_top %}{%- endblock page_body_top %}

      {%- endblock page_body %}

    <!-- End page content -->
    <div id="footer_push"></div> <!-- Make room for footer -->

  </div>

  {%- block page_footer %}
  {% include "cernopendata_theme/footer.html" %}
  {%- endblock page_footer %}

{%- endblock body_inner %}

{%- block javascript %}
  {% assets "cernopendata_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  {% assets "cernopendata_glossary_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  {% assets "cernopendata_search_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  {% assets "codemirror_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}

  {%- block javascript_glossary %}

    <script>
        $(document).ready(function () {
          $('body').glossary('/glossary/json');

          var reference = document.querySelector('.my-button');
          $('[data-toggle="popover"]').popover('show')
        });
    </script>
  {% endblock %}

  {%- block mathjax_support %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
  {% endblock %}

  {%- block jsonld_serialization %}{%- endblock jsonld_serialization %}

{% endblock %}

{%- block trackingcode %}
  {% include "cernopendata_theme/trackingcode.html" %}
{%- endblock %}
