{%- extends "cernopendata_records_ui/records/detail.html" %}


{%- block page_body %}
<div class="container-fluid background">
  <div class="container" ng-app="recordApp">
    <div class="row">
      <div class="col-md-10">
        <div class="card card-style">
          <div class="card-body">
            {% block heading %}
            <h3 class="d-inline">
              {% if record.title_additional %}
              {{record.title_additional}}
              {% else %}
              {{record.title}}
              {% endif %}
              {% if record.date_published %}
              <small id="date-published" style="color:grey;">{{record.date_published}}</small>
              {% endif %}
            </h3>
            {% if record.title_additional %}
            <br/><span>{{record.title}}</span>
            {% endif %}
            {% if record.authors %}
            <br/>
            {% for author in record.authors %}
            <small>{{author.name}};</small>
            {% endfor %}
            {% endif %}
            {% if record.collaboration %}
            <span class="badge badge-success">{{record.collaboration.name}}</span>
            {% endif %}
            <p></p>
            {% if record.doi %}
            <h6 class="card-title">
              <label>Cite as:</label>
              {% if record.authors %}
              {% for author in record.authors %}
              <span>{{author.name}}.</span>
              {% endfor %}
              {% endif %}
              <span>
                {% if record.collaboration %}
                  {{record.collaboration.name}}
                {% endif %}
                {% if record.date_published %}
                  ({{record.date_published}}).
                {% endif %}
                {% if record.title_additional %}
                {{record.title_additional}}.
                {% else %}
                  {{record.title}}.
                {% endif %}
                CERN Open Data Portal.
                    {% if record.doi %}
                      <label>DOI:</label>
                      <a href="http://doi.org/{{record.doi}}">{{record.doi}}</a>
                    {% endif %}
                </span>
            </h6>
            {% endif %}
            <div class="row">
              <div class="col-md-12">
                {% if record.collections %}
                <label>Collection:</label>
                {% for collection in record.collections %}
                <span><a
                  href="/search?q={{collection}}">{{collection}}</a></span>
                {% endfor %}
                {% endif %}
                {% if record.collision_information %}
                <label>Collision Energy:</label>
                <span><a
                  href="/search?q={{record.collision_information.energy}}">{{record.collision_information.energy}}</a></span>
                {% endif %}
                {% if record.experiment %}
                <label>Experiment:</label>
                <span><a href="/search?q={{record.experiment}}">{{record.experiment}}</a></span>
                {% endif %}
                {% if record.accelerator %}
                <label>Accelerator:</label>
                <span><a href="/search?q={{record.accelerator}}">{{record.accelerator}}</a></span>
                {% endif %}
                {% if record.relations %}
                {% for relation in record.relations %}
                {% if relation.type == 'isChildOf' %}
                <label>Parent Dataset:</label>
                <span>
                  {% if relation.recid %}
                  <a href="/record/{{relation.recid}}">{{relation.title}}</a>
                  {% else %}
                    {{relation.title}}
                  {% endif %}
                </span>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>
            </div>
            {% endblock heading %}
          </div>
          <div class="card card-style">
            <div class="card-body">
              {% block metadata_block %}
              {{ super() }}

              {% if 'ig' in record.get('distribution', {}).get('formats', []) %}
              <h3 id="previewer">Preview</h3>
              {%include "cernopendata_pages/visualise_events_cms_standalone.html"%}
              {% endif %}

              {% if record.use_with %}
              <h3>Use with</h3>
              <p>{{record.use_with.description | safe}}</p>
              {% for link in record.use_with.links %}
              <a href="/record/{{link.recid}} ">{{link.recid | get_record_title}}</a>
              {% endfor %}
              {% endif %}

              {% if record.note %}
              {% if record.type.primary == 'Dataset' or record.type.primary == 'Software' %}
              <h3>Notes</h3>
              {% else %}
              <h3>Issues & Limitations</h3>
              {% endif %}
              <p>{{record.note.description | safe}}</p>
              {% if record.note.links %}
              <p>
                {% for link in record.note.links %}
                {% if link.url and link.title %}
                <a href="{{link.url}}">{{link.title}}</a><br>
                {% endif %}
                {% if link.recid %}
                <a href="/record/{{link.recid}}">{{link.recid | get_record_title}}</a><br>
                {% endif %}
                {% endfor %}
              </p>
              {% endif %}
              {% endif %}

              {% if record.relations %}
              {% for relation in record.relations %}
              {% if relation.type != 'isChildOf'%}
              <div class="row">
                <div class="col-md-12">
                  {% if record.type.primary == 'Software' %}
                  <h3>Related items</h3>
                  {% else %}
                  <h3>Related Datasets</h3>
                  {% endif %}
                  <p>{{relation.description}} <br>
                    {% if relation.recid %}
                    <a href="/record/{{relation.recid}}">{{relation.recid |
                      get_record_title}}</a></p>
                  {% else %}
                  {{relation.title}}
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}

              {% if record.distribution %}
              {% if record.distribution.number_events or record.distribution.number_files or record.distribution.size %}
              <div class="row">
                <div class="col-md-12">
                  <h3>Characteristics</h3>
                  <label>Dataset:</label>
                  {% if record.distribution.number_events %}
                  <span><strong>{{record.distribution.number_events}}</strong> events</span>
                  {% endif %}
                  {% if record.distribution.number_files %}
                  <span><strong>{{record.distribution.number_files}}</strong> files</span>
                  {% endif %}
                  {% if record.distribution.size %}
                  <span><strong>{{record.distribution.size | filesizeformat }}</strong> in total</span>
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endif %}

              {% if record.system_details %}
              <div class="row">
                <div class="col-md-12">
                  <h3>System Details</h3>
                  {% if record.system_details.description %}
                  <span>{{record.system_details.description}}</span>
                  {% endif %}
                  {% if record.system_details.global_tag %}
                  <label>Global tag:</label>
                  <span>{{record.system_details.global_tag}}</span>
                  {% endif %}
                  <br>
                  {% if record.system_details.release %}
                  {% if record.type.primary == 'Software' %}
                  <label>Software release:</label>
                  {% else %}
                  <label>Recommended release for analysis:</label>
                  {% endif %}
                  <span>{{record.system_details.release}}</span>
                  {% endif %}
                  {% if record.system_details.recid %}
                  <p>
                    <a href="/record/{{record.system_details.recid}}">{{record.system_details.recid |
                      get_record_title}}</a>
                  </p>
                  {% endif %}
                </div>
              </div>
              {% endif %}

              {% if record.dataset_semantics %}
              <div class="row">
                <div class="col-md-12">
                  <h3>Dataset Semantics</h3>
                  <p>
                    {% for semantic in record.dataset_semantics %}
                    <strong>{{semantic.variable}}:</strong>
                    <span>{{semantic.description}}</span><br>
                    {% endfor %}
                  </p>
                </div>
              </div>
              {% endif %}

              {% if record.links %}
              <div class="row">
                <div class="col-md-12">
                  <h3>URLs</h3>
                  <p>
                    {% for link in record.links %}
                    <span><a href="{{link.url}}">{{link.url}}</a></span><br>
                    {% endfor %}
                  </p>
                </div>
              </div>
              {% endif %}

              {% if record.methodology %}
              <div class="row">
                <div class="col-md-12">
                  {% if record.type.primary == 'Software' %}
                  <h3>Data Selection</h3>
                  {% else %}
                  <h3>How were these data selected?</h3>
                  {% endif %}
                  <p>{{ record.methodology.description | safe}}</p>
                  {% if record.methodology.links %}
                  <p>
                    {% for link in record.methodology.links %}
                    <a href="/record/{{link.recid}}">{{link.recid | get_record_title}}</a><br/>
                    {% endfor %}
                  </p>
                  {% endif %}
                </div>
              </div>
              {% endif %}

              {% if record.generation %}
              <div class="row">
                <div class="col-md-12">
                  <h3>How were these data selected?</h3>
                  <p>{{record.generation.description}}</p>
                  {% for step in record.generation.steps %}
                  <label>{{step.type}}</label>
                  <p>{{step.note}}</p>
                  <p>{{step.release}}</p>
                  <p>{{step.global_tag}}</p>
                  {% for conf_file in step.configuration_files %}
                  <p><a href="/record/{{conf_file.recid}}">{{conf_file.description}}</a></p>
                  <p><a href="/search?q={{conf_file.title}}">{{conf_file.title}}</a></p>
                  {% endfor %}
                  {% endfor %}
                </div>
              </div>
              {% endif %}

              {% if record.validation %}
              <div class="row">
                <div class="col-md-12">
                  {% if record.type.primary == 'Software' %}
                  <h3>Validation</h3>
                  {% else %}
                  <h3>How were these data validated?</h3>
                  {% endif %}
                  <p>{{record.validation.description}}</p>
                  {% if record.validation.links %}
                  {% for link in record.validation.links %}
                  <p><a href="{{link.url}}">{{link.description}}</a></p>
                  {% if link.recid %}
                  <p><a href="/record/{{link.recid}}">{{link.recid | get_record_title}}</a></p>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
              {% endif %}

              {% if record.usage %}
              <div class="row">
                <div class="col-md-12">
                  {% if record.type.primary == 'Software' %}
                  <h3>How can you use this?</h3>
                  {% else %}
                  <h3>How can you use these data?</h3>
                  {% endif %}
                  <p>{{record.usage.description | safe}}</p>
                  {% for link in record.usage.links %}
                  {% if link.url %}
                  <p><a href="{{link.url}}">
                    {% if link.description %}
                    {{link.description}}
                    {% else %}
                    {{link.url}}
                    {% endif %}
                  </a></p>
                  {% endif %}
                  {% if link.recid %}
                  <p><a href="/record/{{link.recid}}">
                    {{link.recid | get_record_title}}
                  </a></p>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              {% endblock metadata_block %}

              {% block files_block %}
                <div ng-controller="paginationCtrl as $ctrl" ng-init="$ctrl.getFiles()">
                  {{ files_box() }}
                </div>
              {% endblock files_block %}

              {% block disclaimer %} {{super()}} {% endblock disclaimer %}
            </div>
          </div>
        </div>
      </div>
      {% block export %}
      {{super()}}
      {% endblock export %}
    </div>
  </div>
</div>
{% endblock page_body%}

{% block javascript %}
{{super()}}
{% set files_list = record.get('files', None) %}
{% if files_list  and 'ig' in record.get('distribution', {}).get('formats', []) %}
{% set file_name = files_list | get_first_file %}
<script>
  ispy.loadUrl("/record/{{record.control_number }}/files/{{file_name}}");
</script>
{% endif %}
{% endblock javascript %}
