{%- extends "cernopendata_records_ui/records/detail.html" %}

{% block heading %}
    <h1 class="d-inline"> {{ record.title_additional or record.title }} </h1>

    <p>
        {% if record.title_additional %} <span>{{ record.title }}, </span> {% endif %}
        {% for author in record.authors %} <small>{{ author.name }};</small> {% endfor %}
        {% if record.collaboration %} <small>{{ record.collaboration.name }}</small> {% endif %}
    </p>

    {% if record.doi %}
    <p class="cite-paragraph">
        Cite as:
        {% for author in record.authors %}<span>{{ author.name }}; </span>{% endfor %}
        <span>
            {% if record.collaboration %} {{ record.collaboration.name }} {% endif %}
            {% if record.date_published %} ({{ record.date_published }}). {% endif %}
            {{ record.title_additional or record.title }}. CERN Open Data Portal.
            DOI:<a href="http://doi.org/{{record.doi}}">{{record.doi}}</a>
        </span>
    </p>
    {% endif %}
    {% for a in record.a %}
    {% endfor %}

    <p class="badges-box">
        {% if record.type %} <a class="badge badge-type" href="/search?type={{ record.type.primary }}">{{ record.type.primary }}</a>
            {% if record.type.secondary %}
            {% for type in record.type.secondary %}
                <a class="badge badge-subtype" href="/search?type={{ record.type.primary }}&subtype={{ type }}">{{ type }}</a>
            {% endfor %}
            {% endif %}
        {% endif %}
        {% if record.categories %}
            {% if record.categories.primary %} <a class="badge badge-category"  href="/search?category={{ record.categories.primary }}"> {{ record.categories.primary }}</a>
                {% if record.categories.secondary %}
                  {% for subcategory in record.categories.secondary %}
                    <a class="badge badge-subcategory" href="/search?category={{ record.categories.primary }}&subcategory={{ subcategory }}"> {{ subcategory }}</a>
                  {% endfor %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if record.experiment %} <a class="badge badge-experiment" href="/search?experiment={{ record.experiment }}">{{ record.experiment }}</a> {% endif %}
        {% if record.collision_information %} <a class="badge badge-tag" href="/search?q={{ record.collision_information.energy }}"> {{ record.collision_information.energy }}</a> {% endif %}
        {% if record.accelerator %} <a class="badge badge-tag"  href="/search?q={{ record.accelerator }}"> {{ record.accelerator }}</a> {% endif %}
        {% if record.relations %}
        {% for relation in record.relations %}
            {% if relation.type == 'isChildOf' and relation.recid %} <a  class="badge badge-tag" href="/record/{{ relation.recid or relation.title }}"> Parent Dataset: {{relation.title}}</a> {% endif %}
        {% endfor %}
        {% endif %}
    </p>
{% endblock heading %}
{% block metadata_block %}
{{ super() }}

    {% if 'ig' in record.get('distribution', {}).get('formats', []) %}
    <h2 id="previewer">Preview</h2>
        {%include "cernopendata_pages/visualise_events_cms_standalone.html"%}
    {% endif %}

    {% if record.use_with %}
    <h2>Use with</h2>
    <p>{{record.use_with.description | safe}}</p>
    {{ link_list(record.use_with.links) }}
    {% endif %}

    {% if record.relations %}
    <div class="row">
        <div class="col-md-12">
            {% set is_title_set = {'value': False} %}
            {% for relation in record.relations %}
                {% if relation.type == 'isChildOf' and relation.recid or relation.type != 'isChildOf' %}
                    {% if not is_title_set['value'] %}
                        {% if record.type.primary == 'Software' %}
                            <h2>Related items</h2>
                        {% else %}
                            <h2>Related Datasets</h2>
                        {% endif %}
                        {% if is_title_set.update({'value': True}) %} {% endif %}
                    {% endif %}
                    {% if relation.description %}
                        {{ relation.description }}
                    {% endif %}
                    {% if relation.recid %}
                        <p><a href="/record/{{ relation.recid }}">{{ relation.recid | get_record_title }}</a></p>
                    {% else %}
                        <p>{{ relation.title }}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if record.distribution and (record.distribution.number_events or record.distribution.number_files or record.distribution.size) %}
        <div class="row">
            <div class="col-md-12">
                {% if record.type.primary == 'Dataset' %}
                <h2>Dataset Characteristics</h2>
                {% else %}
                <h2>Characteristics</h2>
                {% endif %}
                {% if record.distribution.number_events %}
                <span><strong>{{record.distribution.number_events}}</strong> events. </span>
                {% endif %}
                {% if record.distribution.number_files %}
                <span><strong>{{record.distribution.number_files}}</strong> files. </span>
                {% endif %}
                {% if record.distribution.size %}
                <span><strong>{{record.distribution.size | filesizeformat }}</strong> in total.</span>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if record.system_details %}
    <div class="row">
        <div class="col-md-12">
            <h2>System Details</h2>
            {% if record.system_details.description %}
            <span>{{record.system_details.description}}</span>
            {% endif %}
            {% if record.system_details.global_tag %}
            <label>Recommended <a href="/docs/cms-guide-for-condition-database">global tag</a> for analysis:</label>
            <span>{{record.system_details.global_tag}}</span>
            {% endif %}
            <br>
            {% if record.system_details.release %}
                {% if record.type.primary == 'Software' %}
                <label>Software release:</label>
                {% elif 'aod' in record.distribution.formats or 'aodsim' in record.distribution.formats or 'gen-sim' in record.distribution.formats %}
                <label>Recommended release for analysis:</label>
                {% elif 'raw' in record.distribution.formats %}
                <label>Recommended release for reconstruction:</label>
                {% endif %}
                <span>{{record.system_details.release}}</span>
            {% endif %}
            {% if record.system_details.recid %}
            <p>
                <a href="/record/{{record.system_details.recid}}">{{record.system_details.recid | get_record_title}}</a>
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if record.dataset_semantics %}
    <div class="row">
        <div class="col-md-12">
            <h2>Dataset Semantics</h2>
            <p>
                {% for semantic in record.dataset_semantics %}
                    <strong>{{semantic.variable}}:</strong><span>{{semantic.description}}</span><br>
                {% endfor %}
            </p>
        </div>
    </div>
    {% endif %}

    {% if record.links %}
    <div class="row">
        <div class="col-md-12">
            <h2>URLs</h2>
            {{ link_list(record.links) }}
        </div>
    </div>
    {% endif %}

    {% if record.methodology %}
    <div class="row">
        <div class="col-md-12">
            {% if record.type.primary == 'Software' %}
            <h2>Data Selection</h2>
            {% elif record.type.primary == 'Environment' %}
            <h2>How was this built?</h2>
            {% elif record.type.primary == 'Dataset' %}
                {% if 'Simulated' in record.type.secondary %}
                <h2>How were these data generated?</h2>
                {% else %}
                <h2>How were these data selected?</h2>
                {% endif %}
            {% else %}
            <h2>Methodology</h2>
            {% endif %}
            <p>{{ record.methodology.description | safe}}</p>
            {{ link_list(record.methodology.links) }}
            {% if record.pileup %}
              <p>{{ record.pileup.description | safe}}</p>
              {% if record.pileup.links %}
                <p>The pile-up dataset is:</p>
                {{ link_list(record.pileup.links) }}
              {% endif %}
            {% endif %}
       </div>
    </div>
    {% endif %}

    {% if record.generation %}
    <div class="row">
        <div class="col-md-12">
            <h2>How were these data selected?</h2>
            <p>{{ record.generation.description }}</p>
            {% for step in record.generation.steps %}
                <label>{{ step.type }}</label>
                <p>{{step.note}}</p>
                <p>{{step.release}}</p>
                <p>{{step.global_tag}}</p>
                {% for conf_file in step.configuration_files %}
                    <p><a href="/record/{{conf_file.recid}}">{{conf_file.description}}</a></p>
                    <p><a href="/search?q={{conf_file.title}}">{{conf_file.title}}</a></p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if record.validation %}
    <div class="row">
        <div class="col-md-12">
            {% if record.type.primary == 'Software' %}
            <h2>Validation</h2>
            {% elif record.type.primary == 'Environment' %}
            <h2>How to validate?</h2>
            {% else %}
            <h2>How were these data validated?</h2>
            {% endif %}
            <p>{{record.validation.description | safe}}</p>
            {{ link_list(record.validation.links) }}
        </div>
    </div>
    {% endif %}

    {% if record.usage %}
    <div class="row">
        <div class="col-md-12">
            {% if record.type.primary == 'Software' %}
            <h2>How can you use this?</h2>
            {% elif record.type.primary == 'Environment' %}
            <h2>How to use?</h2>
            {% else %}
            <h2>How can you use these data?</h2>
            {% endif %}
            <p>{{record.usage.description | safe}}</p>
            <p>{{ link_list(record.usage.links) }}</p>
        </div>
    </div>
    {% endif %}
{% endblock metadata_block %}

{% block files_block %}
    <div ng-controller="paginationCtrl as $ctrl" ng-init="$ctrl.getFiles()">
        {{ files_box() }}
    </div>
{% endblock files_block %}


{% block disclaimer %}
    {{ super() }}
{% endblock disclaimer %}


{% block export %}
{% endblock export %}

{% block javascript %}
{{ super() }}

{% set files_list = record.get('files', None) %}
{% if files_list  and 'ig' in record.get('distribution', {}).get('formats', []) %}
    {% set file_name = files_list | get_first_file %}
    <script>
    ispy.loadUrl("/record/{{record.control_number }}/files/{{file_name}}");
    </script>
{% endif %}
{% set jsonld_serialization = record | serialize_record(pid, 'schemaorg_jsonld', throws=False)%}
{%- if jsonld_serialization %}
<script type='application/ld+json'>
{{ jsonld_serialization|safe }}
</script>
{%- endif %}
{% endblock javascript %}
