{%- extends "cernopendata_records_ui/records/detail.html" %}

{% block heading %}
    <h1> {{ record.title_additional or record.title }} </h1>

    <p>
        {% if record.title_additional %} <span>{{ record.title }}, </span> {% endif %}
        {% for author in record.authors %}
            {% if author.orcid %}
                <a href="https://orcid.org/{{ author.orcid }}"><img src="{{ url_for('static', filename='img/orcid.png') }}" height="14" alt=""></a>
            {% endif %}
            {{ author.name }}
            {% if author.affiliation or author.rorids %}
                 {% set affiliations = author.get('affiliation', "").split(';') %}
                 {% set rorids = author.get('rorid', "").split(';') %}
                 <i>(
                     {% for affiliation in affiliations %}
                         {% if rorids[loop.index0] %}
                             <a href="https://ror.org/{{ rorids[loop.index0] | trim }}"><img src="{{ url_for('static', filename='img/rorid.png') }}" height="14" alt=""></a>
                         {% endif %}
                         {{ affiliation | trim }}
                         {% if not loop.last %}
                             ;
                         {% endif %}
                     {% endfor %}
                 )</i>
            {% endif %}
            {% if not loop.last %}
                ;
            {% endif %}
        {% endfor %}
        {% if record.collaboration %}
            {% if record.authors %}
                ;
            {% endif %}
            {{ record.collaboration.name }}
        {% endif %}
    </p>

    {% if record.doi %}
    <p class="cite-paragraph">
        Cite as:
        {% for author in record.authors %}<span>{{ author.name }}; </span>{% endfor %}
        <span>
            {% if record.collaboration %} {{ record.collaboration.name }} {% endif %}
            {% if record.date_published %} ({{ record.date_published }}). {% endif %}
            {{ record.title_additional or record.title }}. CERN Open Data Portal.
            DOI:<a href="http://doi.org/{{record.doi}}">{{record.doi}}</a>
        </span>
    </p>
    {% endif %}
    {% for a in record.a %}
    {% endfor %}

    <p>
        {% if record.type %} <a class="ui tiny label blue" href="/search?f=type:{{ record.type.primary }}">{{ record.type.primary }}</a>
            {% if record.type.secondary %}
            {% for type in record.type.secondary %}

                <a class="ui tiny label teal" href="/search?f=type:{{ record.type.primary }}%2Bsubtype:{{ type }}">{{ type }}</a>
            {% endfor %}
            {% endif %}
        {% endif %}
        {% if record.categories %}
            {% if record.categories.primary %} <a class="ui tiny label dark-cyan"  href="/search?f=category:{{ record.categories.primary }}"> {{ record.categories.primary }}</a>
                {% if record.categories.secondary %}
                  {% for subcategory in record.categories.secondary %}
                    <a class="ui tiny label dark-green" href="/search?f=category:{{ record.categories.primary }}%2Bsubcategory:{{ subcategory }}"> {{ subcategory }}</a>
                  {% endfor %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if record.keywords %}
           {% for keyword in record.keywords %}
              <a class="ui tiny label dark-blue" href="/search?f=keywords:{{ keyword }}"> {{ keyword | capitalize }}</a>
           {% endfor %}
        {% endif %}
        {% for exp in record.experiment %}
          <a class="ui tiny label navy" href="/search?f=experiment:{{ exp }}">{{ exp }}</a>
        {% endfor %}

        {% if record.collision_information %}
           {% if record.collision_information.energy %}
             <a class="ui tiny label grey" href="/search?f=collision_energy:{{ record.collision_information.energy }}">{{ record.collision_information.energy }}</a>
           {% endif %}
           {% if record.collision_information.type %}
             <a class="ui tiny label grey" href="/search?f=collision_type:{{ record.collision_information.type }}">{{ record.collision_information.type }}</a>
           {% endif %}
        {% endif %}
        {% if record.accelerator %} <a class="ui tiny label grey"  href="/search?q={{ record.accelerator }}"> {{ record.accelerator }}</a> {% endif %}
        {% if record.relations %}
        {% for relation in record.relations %}
            {% if relation.type == 'isChildOf' and relation.recid %} <a  class="ui tiny label grey" href="/record/{{ relation.recid or relation.title }}"> Parent Dataset: {{relation.title}}</a> {% endif %}
        {% endfor %}
        {% endif %}
    </p>
{% endblock heading %}
{% block metadata_block %}
    {{ super() }}

    {% if 'ig' in record.get('distribution', {}).get('formats', []) %}
    <h2 id="previewer">Preview</h2>
        {%include "cernopendata_ispy/ispy_standalone.html"%}
    {% endif %}

    {% if record.cross_section %}
    <h2>Cross section</h2>
        {% if record.cross_section.description %}
            <span>{{record.cross_section.description | safe}}</span>
            <br>
        {% else %}
            <p>For {{record.collision_information.type }} collisions at {{record.collision_information.energy }}, this sample has a cross section of (<span><strong>{{record.cross_section.total_value }}</strong></span> +/- <span><strong>{{record.cross_section.total_value_uncertainty }}</strong></span>) pb, calculated using the method described in <a href="/docs/cms-guide-xsec#run2">CMS guide for cross sections</a>.</p>
        {% endif %}
        {% if record.cross_section.matching_efficiency %}
            <p>This cross section takes into account a matching efficiency of <span><strong>{{record.cross_section.matching_efficiency }}</strong></span> and a filtering efficiency of <span><strong>{{record.cross_section.filter_efficiency }}</strong></span>, based on generator settings and/or filters.</p>
        {% else %}
            <p>This cross section takes into account a filtering efficiency of <span><strong>{{record.cross_section.filter_efficiency }}</strong></span>, based on generator settings and/or filters.</p>
        {% endif %}
        {% if record.cross_section.neg_weight_fraction %}
            <p>If this sample was generated at NLO, it has <span><strong>{{record.cross_section.neg_weight_fraction }}</strong></span>% events with negative weights.</p>
        {% endif %}
        <p>This is a leading-order value, and cross sections evaluated at next-to-leading order (NLO) or next-to-next-to-leading order (NNLO) should be used, if available.</p>
    {% endif %}

    {% if record.use_with %}
    <h2>Use with</h2>
    <p>{{record.use_with.description | safe}}</p>
    {{ link_list(record.use_with.links) }}
    {% endif %}

    {% if record.relations %}
    <div>
        {% set is_title_set = {'value': False} %}
        {% for relation in record.relations %}
            {% if relation.type == 'isChildOf' and relation.recid or relation.type != 'isChildOf' %}
                {% if not is_title_set['value'] %}
                    {% if record.type.primary == 'Software' %}
                        <h2>Related items</h2>
                    {% else %}
                        <h2>Related datasets</h2>
                    {% endif %}
                    {% if is_title_set.update({'value': True}) %} {% endif %}
                {% endif %}
                {% if relation.description %}
                    {{ relation.description }}
                {% endif %}
                {% if relation.recid %}
                    <p><a href="/record/{{ relation.recid }}">{{ relation.recid | get_record_title }}</a></p>
                {% else %}
                    <p>{{ relation.title }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if record.distribution and (record.distribution.number_entries or record.distribution.number_events or record.distribution.number_files or record.distribution.size) %}
        <div>
            {% if record.type.primary == 'Dataset' %}
            <h2>Dataset characteristics</h2>
            {% else %}
            <h2>Characteristics</h2>
            {% endif %}
            {% if record.distribution.number_entries %}
            <span><strong>{{record.distribution.number_entries}}</strong> entries. </span>
            {% endif %}
            {% if record.distribution.number_events %}
            <span><strong>{{record.distribution.number_events}}</strong> events. </span>
            {% endif %}
            {% if record.distribution.number_files %}
            <span><strong>{{record.distribution.number_files}}</strong> files. </span>
            {% endif %}
            {% if record.distribution.size %}
            <span><strong>{{record.distribution.size | filesizeformat(true) }}</strong> in total.</span>
            {% endif %}
        </div>

        {% if record.distribution.get("availability", "online") != "online" %}
        <div class="ui info message">
            <div class="header">
                Availability: <strong style="color: {{ '#a24d4d' if record.distribution.availability else '#af7c2a' }}">{{record.distribution.availability | upper}}</strong>
            </div>
            <p>Please note that this dataset is released with the bibliographic information content only. The dataset files are not available online as of yet. If you are interested in accessing the files, please <a href="mailto:opendata-support@cern.ch">contact us</a>. Note that the file transfer to online storage may take several weeks or months in case of large amount of data.</p>
        </div>
        {% endif %}
    {% endif %}

    {% if record.system_details %}
    <div>
        <h2>System details</h2>
        {% if record.system_details.description %}
        <span>{{record.system_details.description | safe}}</span>
        <br>
        {% endif %}
        {% if record.system_details.global_tag %}
            {% if 'raw' in record.get('distribution', {}).get('formats', []) %}
            <label>Recommended <a href="/docs/cms-guide-for-condition-database">global tag</a> for reconstruction:</label>
            {% else %}
            <label>Recommended <a href="/docs/cms-guide-for-condition-database">global tag</a> for analysis:</label>
            {% endif %}
        <span>{{record.system_details.global_tag}}</span>
        <br>
        {% endif %}
        {% if record.system_details.release %}
            {% if record.type.primary == 'Software' %}
            <label>Software release:</label>
            {% elif 'raw' in record.get('distribution', {}).get('formats', []) %}
            <label>Recommended release for reconstruction:</label>
            {% else %}
            <label>Recommended release for analysis:</label>
            {% endif %}
            <span>{{record.system_details.release}}</span>
        <br>
        {% endif %}
        {% if record.system_details.container_images %}
          <span>Recommended container image for analyses is available in the following locations (<a href="/docs/cms-guide-docker">see guide</a>): </span>
          <ul>
            {% for container_image in record.system_details.container_images %}
            <li><code>{{ container_image.name }}</code></li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if record.system_details.recid %}
        <p>
            <a href="/record/{{record.system_details.recid}}">{{record.system_details.recid | get_record_title}}</a>
        </p>
        {% endif %}
        </div>
    </div>
    {% endif %}

    {% if record.dataset_semantics_files %}
    <div>
        <h2>Dataset semantics</h2>
        <a href="{{record.dataset_semantics_files.url}}">
            Variable list
        </a>
    </div>
    {% endif %}

    {% if record.dataset_semantics %}
    <div>
        <h2>Dataset semantics</h2>
        <table class="ui table striped">
            <thead>
            <tr>
                {% for col in record.dataset_semantics[0] %}
                <th>{{ col | capitalize }}</th>
                {% endfor %}
            </tr>
            </thead>
            {% for semantic in record.dataset_semantics %}
                <tr>
                <td><strong>{{semantic.variable}}</strong></td>
                {% if semantic.type %}
                    <td><em>{{semantic.type}}</em></td>
                {% endif %}
                <td><span>{{semantic.description | safe}}</span></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if record.links %}
    <div>
        <h2>External links</h2>
        {{ link_list(record.links) }}
    </div>
    {% endif %}

    {% if record.methodology %}
    <div>
        {% if record.type.primary == 'Software' %}
        <h2>Data selection</h2>
        {% elif record.type.primary == 'Environment' %}
        <h2>How was this built?</h2>
        {% elif record.type.primary == 'Dataset' %}
            {% if 'Simulated' in record.type.secondary %}
            <h2>How were these data generated?</h2>
            {% else %}
            <h2>How were these data selected?</h2>
            {% endif %}
        {% else %}
        <h2>Methodology</h2>
        {% endif %}
        {% if record.methodology.get("description") %}
            <p>{{ record.methodology.description | safe}}</p>
        {% endif %}
        {% for step in record.methodology.get("steps", []) %}
        <p>
            <strong>Step {{ step.get("type")}}</strong><br>
            {% if step.get("release") %}
                Release: {{ step.release }}<br>
            {% endif %}
            {% if step.get("global_tag") %}
                Global Tag: {{ step.global_tag }}<br>
            {% endif %}
            {% if step.get("generators") %}
                Generators: {% for generator in step.generators %} {{generator}} {% endfor %}<br>
            {% endif %}
            {% for conf_file in step.get("configuration_files") %}
                <span class="oi" data-glyph="file"></span>
                {{ conf_file.get("title", "File #"+ loop.index|string) }}
                {% if conf_file.get("process") %}
                    for {{ conf_file.process }}
                {% endif %}
                {% if conf_file.get("script") %}
                  <a href="#"
                     class="config-file-preview-link"
                     data-modal-content='{{ conf_file.script }}'>
                    (preview)
                  </a>
                {% endif %}
                {% if conf_file.get("url") %}
                    <a href="{{conf_file.url}}">
                        (link)
                    </a>
                {% endif %}
                {% if conf_file.get('recid') %}
                    <a href="{{ url_for('invenio_records_ui.recid', pid_value=conf_file.recid ) }}"> (link)</a>
                {% endif %}
                {% if conf_file.get('cms_confdb_id') %}
                    <a href="/eos/opendata/cms/configuration-files/MonteCarlo{{record.get('date_created', [''])[0]}}/{{conf_file.get('cms_confdb_id')}}.configFile.py"> (link)</a>
                {% endif %}
                <br>
            {% endfor %}
            {% if step.get("output_dataset") %}
                Output dataset: {{ step.output_dataset }}<br>
            {% endif %}
            {% if step.get("note") %}
                Note: {{ step.note | safe }}<br>
            {% endif %}

            {% if step.get("description") %}
            <div class="col-sm-10" style="padding: 10px;background-color: #f5f5f5">
                <strong>Note</strong><br>
                To get the exact LHE and generator's parameters, see <a href=\"/docs/cms-mc-production-overview\">CMS Monte Carlo production Overview</a>
            </div>
            {% endif %}
        </p>
        <hr>
        {% endfor %}
        {{ link_list(record.methodology.links) }}
        {% if record.pileup %}
            <p>{{ record.pileup.description | safe}}</p>
            {% if record.pileup.links %}
            <p>The pile-up dataset is:</p>
            {{ link_list(record.pileup.links) }}
            {% endif %}
        {% endif %}
    </div>
    {% endif %}

    {% if record.generation %}
    <div>
        <h2>How were these data selected?</h2>
        <p>{{ record.generation.description }}</p>
        {% for step in record.generation.steps %}
            <label>{{ step.type }}</label>
            <p>{{step.note}}</p>
            <p>{{step.release}}</p>
            <p>{{step.global_tag}}</p>
            {% for conf_file in step.configuration_files %}
                <p><a href="/record/{{conf_file.recid}}">{{conf_file.description}}</a></p>
                <p><a href="/search?q={{conf_file.title}}">{{conf_file.title}}</a></p>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

    {% if record.validation %}
    <div>
        {% if record.type.primary == 'Software' %}
        <h2>Validation</h2>
        {% elif record.type.primary == 'Environment' %}
            {% if 'Validation' in record.type.secondary %}
            <h2>How was the validation done?</h2>
            {% else %}
            <h2>How to validate?</h2>
            {% endif %}
        {% else %}
        <h2>How were these data validated?</h2>
        {% endif %}
        <p>{{record.validation.description | safe}}</p>
        {{ link_list(record.validation.links) }}
    </div>
    {% endif %}

    {% if record.usage %}
    <div>
        {% if record.collections and "OPERA-Detector-Events" in record.collections %}
        <h2>Visualise OPERA event</h2>
        {% set eventid = record.title.split()[-1] %}
        {% include "cernopendata_opera/opera_standalone.html" %}
        {% endif %}

        {% if record.type.primary == 'Software' %}
        <h2>How can you use this?</h2>
        {% elif record.type.primary == 'Environment' %}
        <h2>How to use?</h2>
        {% else %}
        <h2>How can you use these data?</h2>
        {% endif %}
        <p>{{record.usage.description | safe}}</p>
        <p>{{ link_list(record.usage.links) }}</p>
    </div>
    {% endif %}

    {% if record.source_code_repository %}
    <div>
        <h2>Source code repository</h2>
        {% if record.source_code_repository.description %}
        {{ record.source_code_repository.description }}<br>
        {% endif %}
        <a href="{{ record.source_code_repository.url }}">{{ record.source_code_repository.url }}</a>
    </div>
    {% endif %}
    <div class="ui modal config-file-preview-modal">
      <i class="close icon"></i>
      <div class="image content">
        <pre class="config-content"></pre>
      </div>
    </div>
{% endblock metadata_block %}

{% block files_block %}
    <div>
        {{ files_box_react_app() }}
    </div>
{% endblock files_block %}

{% block disclaimer %}
    {{ super() }}
{% endblock disclaimer %}

{% block javascript %}
{{ super() }}
<script>
    $(".config-file-preview-link").click(function(event) {
        event.preventDefault();
        const $this = $(this);
        $(".config-file-preview-modal .config-content").html($this.data('modal-content'))
        $('.config-file-preview-modal').modal('show');
  });
</script>

{% set files_list = record.get('files', None) %}
{% set include_cms_visualiser = 'ig' in record.get('distribution', {}).get('formats', []) %}

{% if files_list and include_cms_visualiser %}
    {% include "cernopendata_ispy/ispy_css.html" %}
    {% include "cernopendata_ispy/ispy_js.html" %}
{% endif %}

{% if files_list and include_cms_visualiser %}
    {% set file_name = files_list | get_first_file %}
    <script>
    ispy.loadUrl("/record/{{record.control_number }}/files/{{file_name}}");
    </script>
{% endif %}

{% if record.collections and "OPERA-Detector-Events" in record.collections %}
    {% include "cernopendata_opera/opera_js.html" %}
{% endif %}

{% set jsonld_serialization = record | serialize_record(pid, 'schemaorg_jsonld', throws=False)%}
{%- if jsonld_serialization %}
<script type='application/ld+json'>
{{ jsonld_serialization|safe }}
</script>
{%- endif %}
{% endblock javascript %}
