{%- extends "cernopendata_records_ui/records/detail.html" %}

{%- block page_body %}
<div class="container-fluid background">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="card card-style">
          <div class="card-body">
            <h3 class="d-inline">
              {{record.title}}
            </h3>
            <div class="row">
              <div class="col-md-12">
                {% for author in record.authors %}
                <small>{{author.name}}</small>
                {% endfor %}
                <span class="badge badge-success">{{record.collaboration}}</span>
                <span class="badge badge-success">{{record.year}} Run</span>
              </div>
            </div>
            <p></p>
            <div class="row">
              <div class="col-md-12">
                <label>Cite as:</label>
                {% for author in record.authors %}
                <span>{{author.name}}.</span>
                {% endfor %}
                <span>{{record.collaboration}} ({{record.year}}). {{record.title}}. CERN Open Data Portal.
                                {% for id in record.identifiers %}
                                <label>{{id.type}}:</label>
                                <a href="http://doi.org/{{id.id}}">{{id.id}}</a>
                                {% endfor %}
                            </span>
              </div>
            </div>
            <p></p>
            <div class="row">
              <div class="col-md-12">
                <label>Experiment:</label>
                <span><a href="/search?q=CERN+LHC">{{record.experiment}}</a></span>
                <label>Accelerator:</label>
                <span><a href="/search?q=LHCb">{{record.accelerator}}</a></span>
              </div>
            </div>
          </div>
          <div class="card card-style">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>Description</h3>
                  <p>{{record.abstract | safe}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>Use with..</h3>
                  <p>{{record.use_with.description | safe }}</p>
                  {{ link_list(record.use_with.links) }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>System Details</h3>
                  <p>{{record.system_details.description}}</p>
                  <p><strong>Software release:</strong> {{record.system_details.release}}</p>
                  <p><a href="/record/{{record.system_details.recid}}">Record {{record.system_details.recid}}</a></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>Related Items</h3>
                  {% for note in record.note %}
                  <li><p>{{note.description}}</p></li>
                  {% endfor %}
                </div>
              </div>
              {% block files_block %} {{ files_box(record, 'softid') }}{% endblock files_block %}
              <div class="row">
                <div class="col-md-12">
                  <h3>How were these data validated?</h3>
                  <p>{{record.validation.description | safe }}</p>
                  {{ link_list(record.validation.links) }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>How can you use these data?</h3>
                  <p>{{record.usage.description | safe }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>Disclaimer</h3>
                  <p>{{record.license.attribution}}</p>
                  <img src="{{url_for('static', filename='img/cc-zero.svg')}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% block export %}
      <div class="col-md-2">
        <div class="card card-style">
          <div class="card-body">
            <h4> Export </h4>
            <ul class="list-inline">
              <li><a
                href="{{ url_for('invenio_records_ui.softid_export', pid_value=pid.pid_value, format='json') }}">JSON</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endblock export %}
    </div>
  </div>
</div>
{%- endblock %}
