{%- extends "cernopendata_records_ui/records/detail.html" %}

{%- block page_body %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                  {% block heading %}
                  {{super()}}
                  {% endblock heading %}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Description</h3>
                            <p>{{record.get('abstract', '') | safe}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Use with</h3>
                            <p>{{record.get('use_with', {}).get('description', '') | safe }}</p>
                            <ul>
                                {% for link in record.get('use_with', {}).get('links', []) %}
                                    <li><a href="/records/{{link.get('recid', '')}}">Record {{link.get('recid', '')}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>System Details</h3>
                            <p>{{record.get('system_details', {}).get('description', '')}}</p>
                            <p> <strong>Software release:</strong> {{record.get('system_details', {}).get('release', '')}}</p>
                            <p><a href="/records/{{record.get('system_details', {}).get('recid', '')}}">Record {{record.get('system_details', {}).get('recid', '')}}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Related Items</h3>
                            {% for note in record.get('note', [])%}
                                <li><p>{{note.get('description', '')}}</p></li>
                            {% endfor %}
                        </div>
                    </div>
                    {% block files_block %} {{ super() }} {% endblock files_block %}
                    <div class="row">
                        <div class="col-md-12">
                            <h3>How were these data validated?</h3>
                            <p>{{record.get('validation', {}).get('description', '') | safe }}</p>
                            <ul>
                                {% for link in record.get('validation', {}).get('links', []) %}
                                    <li><a href="/records/{{link.get('recid', '')}}">Record {{link.get('recid', '')}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>How can you use these data?</h3>
                            <p>{{record.get('usage', {}).get('description', '') | safe }}</p>
                        </div>
                    </div>
                    {% block disclaimer %}
                    {{super()}}
                    {% endblock disclaimer %}
                </div>
            </div>
        </div>
        {% block export %}
         {{super()}}
        {% endblock export %}
    </div>
</div>
{%- endblock %}

