{% extends "page.html" %}

{%- css url_for('static', filename='css/home.css') , 'dphep' %}
{%- css url_for('static', filename='js/prettyCheckbox/prettyCheckbox.css') -%}

{%- js url_for('static', filename='js/home.js'), 'dphep_js' %}
{%- js url_for('static', filename='js/prettyCheckbox/prettyCheckbox.min.js') -%}
<!-- HERE ends the HEADER -->


<!-- HERE starts the BODY -->
{% block page_body %}
{% block body %}
 {{ super() }}

 <style>

.contentinfo {
	background-color: #899AA5;
	padding: 15px 0;
}

.contentinfo h3 {
	color: #fff;
	font-size: 23px;
	font-weight: 400;
}


.content {
	background-color: #B9CEDD;
	height: 500px;	
}

.loginBox {
	padding-top: 85px;
}

.loginBox .title {
	height: 60px;
	border-radius: 5px 5px 0 0;
	background-color: #A2B4C0;
	text-align: center;
	padding: 20px;
	color: #fff;
	font-size: 16px;
}

.loginBox .loginForm {
	border-radius: 0 0 5px 5px;
	background-color: #899AA5;
}

.loginBox .form-group {
	text-align: center;
	margin-top: 30px;
}

.loginForm input {
	border: 0;
	background-color: #fff;
	font-size: 16px;
	height: 30px;
	font-weight: 100;
	padding: 5px 10px;
	box-shadow: 0 0 3px #ccc;
	float: none;
}

.loginForm button {
	color: #fff;
}
.loginBox .loginForm {
	padding: 5px;
}

input[type=checkbox].checkbox {
	display: none;
	float: left;
}

.prettyCheckbox {
	border-radius: 0;
	float: left;
}

.prettyCheckbox + label {
	float: left;
	margin-left: 5px;
	color: #fff;
	font-weight: 300;
}

.loginBox .forgot {
	margin: 0;
	color: #fff;
}

</style>

{%- block breadcrumb %}
{%- endblock breadcrumb %}
<section class="contentinfo">
	<div class="container">
		<h3>Please log in</h3>
	</div>
</section>
<section class="content">
	<div class="loginBox col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<div class="title">LOGIN</div>
		<div class="loginForm">
			<form action="{{ url_for('webaccount.login') }}" method="post" role="form">
				<input type="hidden" id="referer" name="referer">
                <input type="hidden" id="login_method" name="login_method" value="Local">
				<div class="form-group">
					<input class="col-md-8" type="text" placeholder="Username/Email" name="nickname"></div>		
				<div class="form-group">
					<input class="col-md-8" type="password" placeholder="Password" name="password">
				</div>
				<div class="form-group row">
					<div class="col-md-8 col-md-offset-2">
						<input type="checkbox" class="checkbox" name="remeberme" >
						<label for="rememberme">Remember me</label>
					</div>
				</div>
				<div class="form-group row">
						<button class="col-md-6 col-md-offset-3 btn" type="submit">Connect</button>
				</div>
				<div class="form-group row forgot">
					<div class="col-md-8 col-md-offset-2">
						<a href="{{ url_for('webaccount.lost')}}">Forgot your password?</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock body %}
{% endblock page_body %}
<!-- HERE ends the BODY -->

{% block javascript %}
	{{ super() }}
	<script> 
		$(
			function(){
				$("input[type=checkbox]").prettyCheckbox();
			}
		)()

	</script>
{% endblock javascript%}
