<!-- FIXME find a better way to set the record url -->
<div class="card">
  <div class="card-body">
    <h4>
      <a target="_self" ng-href="/records/{{ record.id }}">{{ record.metadata.title }}</a>
    </h4>
    <p>{{ record.metadata.summary }}</p>
    <div class="text-right">
      <ul class="list-inline">
        <li ng-show="record.metadata.added_entry_personal_name.length > 0">
          <a ng-click="showAuthors=!showAuthors">
            {{ showAuthors ? 'Hide authors' : 'Show authors' }}
          </a>
        </li>
      </ul>
    </div>
    <div ng-hide="!showAuthors">
      <ul>
        <div ng-repeat='author in record.metadata.added_entry_personal_name'>
          <li>{{ author.personal_name }}</li>
        </div>
      </ul>
    </div>
    <div class="tags-box-search-results">
      <a href="/search?type={{record.metadata.type}}">
            <span class="badge badge-primary">
                {{ record.metadata.type }}
            </span>
      </a>
      <a ng-if="record.subtype" href="/search?subtype={{record.metadata.subtype}}">
            <span class="badge badge-info">
                {{ record.metadata.subtype }}
            </span>
      </a>
      <a ng-repeat="tag in record.metadata.tags" href="/search?tags={{tag}}">
            <span class="badge badge-default">
                {{ tag }}
            </span>
      </a>
      <a href="/search?experiment={{record.metadata.experiment}}">
            <span class="badge badge-warning">
                {{ record.metadata.experiment }}
            </span>
      </a>
    </div>
  </div>
</div>
