<!-- FIXME find a better way to set the record url -->
<div class="result">
    <div class="card">
        <div class="card-body">
            <a class="make-parent-div-clickable" target="_self" ng-href="/record/{{ record.metadata.control_number }}"></a>
            <p class="title">
                {{ record.metadata.title }}
            </p>
            <p ng-if="record.metadata.abstract.description" ng-bind-html="record.metadata.abstract.description | limitTo : 200 | unsafe" class="mt-1"></p>
            <div class="badges-box">
                <a class="badge badge-type" ng-if="record.metadata.type.primary" href="/search?type={{record.metadata.type.primary}}">
                    {{ record.metadata.type.primary }}
                </a>
                <a class="badge badge-subtype" ng-if="record.metadata.type.secondary" ng-repeat="subtype in record.metadata.type.secondary" href="/search?subtype={{subtype}}">
                    {{ subtype }}
                </a>
                <a class="badge badge-category" ng-if="record.metadata.categories.primary" href="/search?category={{record.metadata.categories.primary}}">
                  {{ record.metadata.categories.primary }}
                </a>
                <a class="badge badge-subcategory" ng-if="record.metadata.categories.secondary" ng-repeat="subcategory in record.metadata.categories.secondary" href="/search?subcategory={{subcategory}}">
                  {{ subcategory }}
                </a>
                <a class="badge badge-tag" ng-if="record.metadata.tags" ng-repeat="tag in record.metadata.tags" href="/search?tags={{tag}}">
                    {{ tag }}
                </a>
                <a class="badge badge-experiment" ng-if="record.metadata.experiment" href="/search?experiment={{record.metadata.experiment}}">
                    {{ record.metadata.experiment }}
                </a>
            </div>
        </div>
    </div>
</div>
