<!-- FIXME find a better way to set the record url -->
<div>
    <h4>
        <a target="_self" ng-href="/software/{{ record.id }}">{{ record.metadata.title }}</a>
    </h4>
    <p style="margin-top: 1%;">{{ record.metadata.abstract | limitTo : 200}}...</p>
    <div class="tags-box">
        <a href="/search?type={{record.metadata.type}}">
            <span class="label label-primary">
                {{ record.metadata.type }} 
            </span>
        </a>
        <a ng-if="record.subtype" href="/search?subtype={{record.metadata.subtype}}"> 
            <span class="label label-info">
                {{ record.metadata.subtype }}
            </span>
        </a> 
        <a ng-repeat="tag in record.metadata.tags" href="/search?tags={{tag}}"> 
            <span class="label label-default">
                {{ tag }} 
            </span>
        </a>
        <a href="/search?experiment={{record.metadata.experiment}}">
            <span class="label label-warning">
                {{ record.metadata.experiment }} 
            </span>
        </a>
    </div>
    <hr/>
</div>
