
  <h4>
    <a target="_self" ng-href="/terms/{{record.metadata.control_number}}">
      {{ record.metadata.anchor }}
    </a>
    <span class="btn btn-primary pull-right">Term</span>
  </h4>
  <p>{{ record.metadata.definition }}</p>
  <div class="text-right">
    <ul class="list-inline">
      <li>
        <a ng-click="showSource=!showSource">
          {{ showSource ? 'Hide source' : 'Show source' }}
        </a>
      </li>
    </ul>
  </div>
  <div ng-hide="!showSource">
    <pre>{{ record | json }}</pre>
  </div>
  <hr/>