<div class="card">
  <div class="card-body">
    <h4>
      <a target="_self" ng-href="/glossary/{{record.metadata.control_number}}">
        {{ record.metadata.anchor }}
      </a>
    </h4>
    <p>{{ record.metadata.definition }}</p>
    <div class="tags-box-search-results">
      <a href="/search?type={{record.metadata.type}}">
            <span class="badge badge-primary">
                {{ record.metadata.type }}
            </span>
      </a>
      <a ng-if="record.subtype" href="/search?subtype={{record.metadata.subtype}}">
            <span class="badge badge-info">
                {{ record.metadata.subtype }}
            </span>
      </a>
    </div>
  </div>
</div>
