<div ng-controller="facetCtrl">

    <!-- clean filters buttons -->
    <!-- weird inline comments in this block due to bug with inline-block - whitespaces between spans are visible, which causes in unexpecged spaces between blocks -->
    <span class="clear-facets-box" ng-repeat="aggr in orderedAggs track by $index">
        <span ng-repeat="item in (aggr.value.buckets || aggr.value.filtered.buckets)"
              ng-if="isFacetChecked(aggr.key, item.key)"><!--
              --><a class="badge badge-clear-facet"
                    ng-click="handleClick(aggr.key, item.key); checkChildFacets(item, aggr.key);">
                  {{ item.key }}  &nbsp;<span aria-label="Close">&times;</span>
              </a><!--
              --><span ng-repeat="(subKey, subValue) in item"
                       ng-if="['doc_count', 'key'].indexOf(subKey) === -1" ><!--
                       --><a class="badge badge-clear-facet"
                             ng-repeat="subFacets in (subValue.buckets || subValue.filtered.buckets)"
                             ng-if="isFacetChecked(subKey, subFacets.key)"
                             ng-click="handleClick(subKey, subFacets.key)">
                           {{ subFacets.key }}  &nbsp;<span aria-label="Close">&times;</span>
                       </a><!--
                       --></span><!--
                       --></span>
    </span>
    <!-- end of clean filters buttons -->

    <!-- facets -->
    <div class="facets-box">
        <div class="facets-first-level-container-inner">
            <input
                type="checkbox"
                ng-checked="isFacetChecked('ondemand', 'True')"
                ng-click="handleClick('ondemand', 'True');"/>
            <label>include on-demand datasets</label>
        </div>
    </div>
    <div class="facets-box"
         ng-init="tree=[]; tree_more=[];"
         ng-repeat="aggr in orderedAggs track by $index"
         ng-if="(aggr.value.buckets || aggr.value.filtered.buckets).length > 0">

        <div class="title"> Filter by {{ aggr.key.replace('_', ' ') }} </div>
        <div class="facets-inner-box">
          <div ng-repeat="item in (aggr.value.buckets || aggr.value.filtered.buckets)" class="facets-first-level-container">

            <div class="facets-first-level-container-inner">

              <small class="facet-collapse">
                  <a ng-init="tree_more[item.key]=false;tree[item.key]=true"
                     ng-model="tree[item.key]"
                     ng-show="tree_more[item.key]"
                     ng-click="tree[item.key]=!tree[item.key];">
                      <span class="oi clickable" data-glyph="chevron-{{ (tree[item.key]) ? 'bottom' : 'right' }}"></span>
                  </a>
                  <span ng-show="tree_more[item.key]===false" style="padding-left:15px"></span>
              </small>
              <input
                type="checkbox"
                ng-checked="isFacetChecked(aggr.key, item.key)"
                ng-click="handleClick(aggr.key, item.key); checkChildFacets(item, aggr.key);"/>

              <label>{{ item.key }}</label>

              <span class="badge badge-light facet-count">{{ item.doc_count }}</span>
            </div>

            <div
              class="facets-scnd-level-container"
              ng-repeat="(subKey, subValue) in item"
              ng-if="['doc_count', 'key'].indexOf(subKey) === -1"
              ng-show="tree[item.key]===true" >

              <div
                class="clickable facet-scnd-inner-box"
                ng-init="tree_more[item.key]=true"
                ng-repeat="subFacets in (subValue.buckets || subValue.filtered.buckets)">

                  <div class="facets-scnd-level-container-inner">
                    <input
                      ng-init="tree[item.key]=isFacetChecked(subKey, subFacets.key) || tree[item.key]"
                      ng-checked="isFacetChecked(subKey, subFacets.key) && isFacetChecked(aggr.key, item.key)"
                      ng-click="handleClick(subKey, subFacets.key); checkParent(aggr.key, item.key)"
                      type="checkbox"/>

                    <label>{{ subFacets.key }}</label>

                    <span class="badge badge-light facet-count">{{ subFacets.doc_count }}</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- end of facets -->
</div>
