<div>
    <div ng-init="tree=[];tree_more=[]" ng-repeat="aggr in orderedAggs track by $index">
        <a ng-click="handleClick(aggr.key, value)" ng-repeat="value in getValues(aggr.key)" class="badge badge-facet">
            {{aggr.key}}: {{value}}  &nbsp; <span aria-label="Close">&times;</span>
        </a>
    </div>
</div>
<div ng-init="tree=[];tree_more=[]" ng-repeat="aggr in orderedAggs track by $index" class="facet-div">
    <div ng-if="aggr.value.buckets.length > 0">
        <div>
            <h5>Filter by {{ aggr.key.replace('_', ' ') }}</h5> 
        </div>
        <div>
            <ul class="list-unstyled facet-ul" ng-init="values=getValues(aggr.key)" ng-repeat="item in aggr.value.buckets">
                <li>
                    <span>
                        <input type="checkbox" ng-checked="values.indexOf(item.key) > -1"
                                               ng-click="handleClick(aggr.key, item.key)"/> {{ item.key }}
                                               <span class="badge badge-light facet-count">{{ item.doc_count }}</span>

                                               <small>
                                                   <a
                                                     ng-init="tree_more[item.key]=false;tree[item.key]=(values.indexOf(item.key) > -1) ? true : false"
                                                     ng-model="tree[item.key]"
                                                     ng-show="tree_more[item.key]"
                                                     ng-click="tree[item.key]=!tree[item.key]"
                                                     >
                                                     {{ (tree[item.key]) ? '-' : '+' }}
                                                   </a>
                                               </small>
                    </span>
                    <div ng-show="tree[item.key]===true" ng-repeat="(subKey, subValue) in item">
                        <div ng-if="['doc_count', 'key'].indexOf(subKey) === -1">
                            <ul ng-init="tree_more[item.key]=true;subValues=getValues(subKey)"
                                ng-repeat="subFacets in subValue.buckets">
                                <li>
                                    <span>
                                        <input
                                ng-init="tree[item.key]=(subValues.indexOf(subFacets.key) > -1 || tree[item.key])"
                                type="checkbox"
                                ng-checked="subValues.indexOf(subFacets.key) > -1"
                                ng-click="handleClick(subKey, subFacets.key)"/> {{ subFacets.key }}
                                <span class="badge badge-light facet-count">{{ subFacets.doc_count }}</span></span>

                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
