<nav>
<ul class="pagination pagination-sm justify-content-center" ng-if="vm.invenioSearchResults.hits.total">
  <li class="page-item" ng-show="showGoToFirstLast" ng-class="paginationHelper.getFirstClass()">
    <a class="page-link" href="#" ng-click="paginationHelper.changePage(1)" aria-label="First">
      <span aria-hidden="true"><<<span>
    </a>
  </li>
  <li class="page-item" ng-class="paginationHelper.getPrevClass()">
    <a class="page-link" href="#" ng-click="paginationHelper.changePage(paginationHelper.previous())" aria-label="Previous">
      <span aria-hidden="true"><</span>
    </a>
  </li>
  <li class="page-item" ng-class="paginationHelper.getPageClass(page.value)" ng-repeat="page in paginatePages">
    <a class="page-link" href="#" ng-click="paginationHelper.changePage(page.value)" alt="{{ page.title }}">{{ page.value }}</a>
  </li>
  <li  class="page-item" ng-class="paginationHelper.getNextClass()">
    <a class="page-link" href="#" ng-click="paginationHelper.changePage(paginationHelper.next())" aria-label="Next">
      <span aria-hidden="true">></span>
    </a>
  </li>
  <li class="page-item" ng-show="showGoToFirstLast" ng-class="paginationHelper.getLastClass()">
    <a class="page-link" href="#" ng-click="paginationHelper.changePage(paginationHelper.total())" aria-label="Last">
      <span aria-hidden="true">>></span>
    </a>
  </li>
</ul>
</nav>
